.button {
  font-size: 1.6rem;
  color: #515151;
  text-align: center;
  background-color: #f2f2f2;
  padding: 0.375em 0.75em;
  /* 6px 12px */
  margin: 0.8rem 0.4rem;
  border: 0.0625em solid #f2f2f2;
  /* 1px */
  border-radius: 0.1875em;
  /* 3px */ }
  .button:hover {
    background-color: #bebebe;
    border-color: #bebebe; }
  .button:active {
    color: #f2f2f2;
    outline: none; }
  .button:focus:not(:active) {
    border-color: #515151;
    outline: none; }
  .button[class~="theme-primary"] {
    color: #f4f9fc;
    border-color: #3e9def;
    background-color: #3e9def; }
    .button[class~="theme-primary"]:hover {
      background-color: #0c62b2;
      border-color: #0c62b2; }
    .button[class~="theme-primary"]:active {
      color: #3e9def; }
    .button[class~="theme-primary"]:focus:not(:active) {
      border-color: #0c62b2; }
  .button[class~="theme-info"] {
    color: #f5fcf4;
    border-color: #53e258;
    background-color: #53e258; }
    .button[class~="theme-info"]:hover {
      background-color: #1d9b41;
      border-color: #1d9b41; }
    .button[class~="theme-info"]:active {
      color: #53e258; }
    .button[class~="theme-info"]:focus:not(:active) {
      border-color: #1d9b41; }
  .button[class~="theme-caution"] {
    color: #918f2d;
    background-color: #f9f261;
    border-color: #f9f261; }
    .button[class~="theme-caution"]:hover {
      background-color: #918f2d;
      border-color: #918f2d;
      color: #fcfbf2; }
    .button[class~="theme-caution"]:active {
      color: #f9f261; }
    .button[class~="theme-caution"]:focus {
      border-color: #918f2d; }
  .button[class~="theme-danger"] {
    color: #fff8f7;
    border-color: #ef3232;
    background-color: #ef3232; }
    .button[class~="theme-danger"]:hover {
      background-color: #b2250c;
      border-color: #b2250c; }
    .button[class~="theme-danger"]:active {
      color: #ef3232; }
    .button[class~="theme-danger"]:focus:not(:active) {
      border-color: #b2250c; }
  .button[class~="resize-small"] {
    font-size: 1.2rem; }
  .button[class~="resize-medium"] {
    font-size: 2rem; }
  .button[class~="resize-large"] {
    font-size: 2.6rem; }

a.button {
  display: inline-block; }
  a.button:link {
    text-decoration: none; }
  a.button:visited {
    text-decoration: none; }

.button[class~="wide"], .container-buttons div[class*="default-"] .button, .container-buttons div[class*="small-"] .button,
.container-buttons div[class*="medium-"] .button, .container-buttons div[class*="large-"] .button, div.container-buttons-bar div[class*="default-"] .button, div.container-buttons-bar div[class*="small-"] .button,
div.container-buttons-bar div[class*="medium-"] .button, div.container-buttons-bar div[class*="large-"] .button {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

/* ==================================== */
.button[class~="outlined"] {
  background-color: transparent;
  border-color: #bebebe; }
  .button[class~="outlined"]:hover {
    background-color: #f2f2f2; }
  .button[class~="outlined"]:active {
    background-color: #bebebe;
    color: #515151; }
  .button[class~="outlined"][class~="theme-primary"] {
    color: #3e9def;
    border-color: #3e9def; }
    .button[class~="outlined"][class~="theme-primary"]:hover {
      background-color: #f4f9fc; }
    .button[class~="outlined"][class~="theme-primary"]:active {
      background-color: #3e9def;
      color: #0c62b2; }
  .button[class~="outlined"][class~="theme-info"] {
    color: #53e258;
    border-color: #53e258; }
    .button[class~="outlined"][class~="theme-info"]:hover {
      background-color: #f5fcf4; }
    .button[class~="outlined"][class~="theme-info"]:active {
      background-color: #53e258;
      color: #1d9b41; }
  .button[class~="outlined"][class~="theme-caution"] {
    color: #918f2d;
    border-color: #f9f261; }
    .button[class~="outlined"][class~="theme-caution"]:hover {
      background-color: #fcfbf2; }
    .button[class~="outlined"][class~="theme-caution"]:active {
      background-color: #f9f261; }
  .button[class~="outlined"][class~="theme-danger"] {
    color: #ef3232;
    border-color: #ef3232; }
    .button[class~="outlined"][class~="theme-danger"]:hover {
      background-color: #fff8f7; }
    .button[class~="outlined"][class~="theme-danger"]:active {
      background-color: #ef3232;
      color: #b2250c; }

/* ==================================== */
.container-buttons div[class*="default-"], .container-buttons div[class*="small-"],
.container-buttons div[class*="medium-"], .container-buttons div[class*="large-"] {
  padding: 0.4rem; }
  .container-buttons div[class*="default-"] .button, .container-buttons div[class*="small-"] .button,
  .container-buttons div[class*="medium-"] .button, .container-buttons div[class*="large-"] .button {
    margin: 0; }
.container-buttons::after {
  content: '';
  clear: both;
  display: table; }

/* ==================================== */
div.container-buttons-bar div[class*="default-"], div.container-buttons-bar div[class*="small-"],
div.container-buttons-bar div[class*="medium-"], div.container-buttons-bar div[class*="large-"] {
  padding: 0; }
div.container-buttons-bar::after {
  content: "";
  clear: both;
  display: table; }
div.container-buttons-bar .button {
  float: left;
  margin: 0; }
div.container-buttons-bar .first-button {
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em; }
div.container-buttons-bar .last-button {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em; }
div.container-buttons-bar .button:not(.first-button):not(.last-button) {
  border-radius: 0em; }

/* ==================================== */

/*# sourceMappingURL=buttons.css.map */
