a.button, button.button,
input[type="submit"], input[type="reset"] {
  font-size: 1.6rem;
  padding: 0.375em 0.75em;
  /* 6px 12px */
  margin: 0.6rem;
  border-radius: 0.1875em;
  /* 3px */
  text-align: center;
  color: #939393;
  background-color: #d8d8d8; }
  a.button:hover, button.button:hover,
  input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #bfbfbf;
    cursor: pointer; }
  a.button:active, button.button:active,
  input[type="submit"]:active, input[type="reset"]:active {
    color: #f9f9f9;
    outline: none; }
  a.button:focus:not(:active), button.button:focus:not(:active),
  input[type="submit"]:focus:not(:active), input[type="reset"]:focus:not(:active) {
    outline: none; }
  a.button[class~="resize-small"], button.button[class~="resize-small"],
  input[type="submit"][class~="resize-small"], input[type="reset"][class~="resize-small"] {
    font-size: 1.2rem; }
  a.button[class~="resize-medium"], button.button[class~="resize-medium"],
  input[type="submit"][class~="resize-medium"], input[type="reset"][class~="resize-medium"] {
    font-size: 2.2rem; }
  a.button[class~="resize-large"], button.button[class~="resize-large"],
  input[type="submit"][class~="resize-large"], input[type="reset"][class~="resize-large"] {
    font-size: 2.8rem; }
  a.button[class~="theme-primary"], button.button[class~="theme-primary"],
  input[type="submit"][class~="theme-primary"], input[type="reset"][class~="theme-primary"] {
    color: #f4faff;
    border-color: #3e9def;
    background-color: #3e9def; }
    a.button[class~="theme-primary"]:hover, button.button[class~="theme-primary"]:hover,
    input[type="submit"][class~="theme-primary"]:hover, input[type="reset"][class~="theme-primary"]:hover {
      background-color: #287ec9;
      border-color: #287ec9; }
    a.button[class~="theme-primary"]:active, button.button[class~="theme-primary"]:active,
    input[type="submit"][class~="theme-primary"]:active, input[type="reset"][class~="theme-primary"]:active {
      color: #3e9def; }
    a.button[class~="theme-primary"]:focus:not(:active), button.button[class~="theme-primary"]:focus:not(:active),
    input[type="submit"][class~="theme-primary"]:focus:not(:active), input[type="reset"][class~="theme-primary"]:focus:not(:active) {
      border-color: #287ec9; }
  a.button[class~="theme-info"], button.button[class~="theme-info"],
  input[type="submit"][class~="theme-info"], input[type="reset"][class~="theme-info"] {
    color: #f6fff4;
    border-color: #54c43a;
    background-color: #54c43a; }
    a.button[class~="theme-info"]:hover, button.button[class~="theme-info"]:hover,
    input[type="submit"][class~="theme-info"]:hover, input[type="reset"][class~="theme-info"]:hover {
      background-color: #3f962a;
      border-color: #3f962a; }
    a.button[class~="theme-info"]:active, button.button[class~="theme-info"]:active,
    input[type="submit"][class~="theme-info"]:active, input[type="reset"][class~="theme-info"]:active {
      color: #54c43a; }
    a.button[class~="theme-info"]:focus:not(:active), button.button[class~="theme-info"]:focus:not(:active),
    input[type="submit"][class~="theme-info"]:focus:not(:active), input[type="reset"][class~="theme-info"]:focus:not(:active) {
      border-color: #3f962a; }
  a.button[class~="theme-caution"], button.button[class~="theme-caution"],
  input[type="submit"][class~="theme-caution"], input[type="reset"][class~="theme-caution"] {
    color: #96961e;
    background-color: #f2f230;
    border-color: #f2f230; }
    a.button[class~="theme-caution"]:hover, button.button[class~="theme-caution"]:hover,
    input[type="submit"][class~="theme-caution"]:hover, input[type="reset"][class~="theme-caution"]:hover {
      background-color: #96961e;
      border-color: #96961e;
      color: #fcfcef; }
    a.button[class~="theme-caution"]:active, button.button[class~="theme-caution"]:active,
    input[type="submit"][class~="theme-caution"]:active, input[type="reset"][class~="theme-caution"]:active {
      color: #f2f230; }
    a.button[class~="theme-caution"]:focus, button.button[class~="theme-caution"]:focus,
    input[type="submit"][class~="theme-caution"]:focus, input[type="reset"][class~="theme-caution"]:focus {
      border-color: #96961e; }
  a.button[class~="theme-danger"], button.button[class~="theme-danger"],
  input[type="submit"][class~="theme-danger"], input[type="reset"][class~="theme-danger"] {
    color: #fff8f7;
    border-color: #ed432d;
    background-color: #ed432d; }
    a.button[class~="theme-danger"]:hover, button.button[class~="theme-danger"]:hover,
    input[type="submit"][class~="theme-danger"]:hover, input[type="reset"][class~="theme-danger"]:hover {
      background-color: #ba311f;
      border-color: #ba311f; }
    a.button[class~="theme-danger"]:active, button.button[class~="theme-danger"]:active,
    input[type="submit"][class~="theme-danger"]:active, input[type="reset"][class~="theme-danger"]:active {
      color: #ed432d; }
    a.button[class~="theme-danger"]:focus:not(:active), button.button[class~="theme-danger"]:focus:not(:active),
    input[type="submit"][class~="theme-danger"]:focus:not(:active), input[type="reset"][class~="theme-danger"]:focus:not(:active) {
      border-color: #ba311f; }

a.button {
  display: inline-block; }
  a.button:link {
    text-decoration: none; }
  a.button:visited {
    text-decoration: none; }

.button[class~="wide"] {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

/* ====================================================== */
.button[class~="outlined"] {
  background-color: transparent;
  border-color: #d8d8d8; }
  .button[class~="outlined"]:hover {
    background-color: #f9f9f9; }
  .button[class~="outlined"]:active {
    background-color: #d8d8d8;
    color: #939393; }
  .button[class~="outlined"][class~="theme-primary"] {
    color: #3e9def;
    border-color: #3e9def; }
    .button[class~="outlined"][class~="theme-primary"]:hover {
      background-color: #f4faff; }
    .button[class~="outlined"][class~="theme-primary"]:active {
      background-color: #3e9def;
      color: #287ec9; }
  .button[class~="outlined"][class~="theme-info"] {
    color: #54c43a;
    border-color: #54c43a; }
    .button[class~="outlined"][class~="theme-info"]:hover {
      background-color: #f6fff4; }
    .button[class~="outlined"][class~="theme-info"]:active {
      background-color: #54c43a;
      color: #3f962a; }
  .button[class~="outlined"][class~="theme-caution"] {
    color: #96961e;
    border-color: #f2f230; }
    .button[class~="outlined"][class~="theme-caution"]:hover {
      background-color: #fcfcef; }
    .button[class~="outlined"][class~="theme-caution"]:active {
      background-color: #f2f230; }
  .button[class~="outlined"][class~="theme-danger"] {
    color: #ed432d;
    border-color: #ed432d; }
    .button[class~="outlined"][class~="theme-danger"]:hover {
      background-color: #fff8f7; }
    .button[class~="outlined"][class~="theme-danger"]:active {
      background-color: #ed432d;
      color: #ba311f; }

/* ====================================================== */
div.container-buttons div[class*="default-"], div.container-buttons div[class*="small-"],
div.container-buttons div[class*="medium-"], div.container-buttons div[class*="large-"] {
  padding: 0.4rem 0.4rem; }
  div.container-buttons div[class*="default-"] .button, div.container-buttons div[class*="small-"] .button,
  div.container-buttons div[class*="medium-"] .button, div.container-buttons div[class*="large-"] .button {
    display: block;
    width: 100%;
    margin: 0; }
div.container-buttons::after {
  content: '';
  clear: both;
  display: table; }

/* ====================================================== */
div.container-buttons-bar {
  padding: 0.6rem; }
  div.container-buttons-bar div[class*="default-"], div.container-buttons-bar div[class*="small-"],
  div.container-buttons-bar div[class*="medium-"], div.container-buttons-bar div[class*="large-"] {
    padding: 0; }
    div.container-buttons-bar div[class*="default-"] .button, div.container-buttons-bar div[class*="small-"] .button,
    div.container-buttons-bar div[class*="medium-"] .button, div.container-buttons-bar div[class*="large-"] .button {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
  div.container-buttons-bar::after {
    content: '';
    clear: both;
    display: table; }
  div.container-buttons-bar .button {
    float: left;
    margin: 0; }
  div.container-buttons-bar .first-button {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em; }
  div.container-buttons-bar .last-button {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em; }
  div.container-buttons-bar .button:not(.first-button):not(.last-button) {
    border-radius: 0em; }

/* ====================================================== */

/*# sourceMappingURL=buttons.css.map */
