/* solid colors */
.demo-white { background-color: rgb(255, 255, 255); }
.demo-lwhite { background-color: rgb(245, 245, 245); }
.demo-mwhite { background-color: rgb(230, 230, 230); }
.demo-dwhite { background-color: rgb(215, 215, 215); }
.demo-wgray { background-color: rgb(249, 249, 249); }
.demo-lgray { background-color: rgb(216, 216, 216); }
.demo-mgray { background-color: rgb(191, 191, 191); }
.demo-dgray { background-color: rgb(147, 147, 147); }
.demo-wblack { background-color: rgb(122, 122, 122); }
.demo-lblack { background-color: rgb(99, 99, 99); }
.demo-mblack { background-color: rgb(76, 76, 76); }
.demo-black { background-color: rgb(52, 52, 52); }
.demo-wblue { background-color: rgb(244, 250, 255); }
.demo-lblue { background-color: rgb(84, 171, 247); }
.demo-mblue { background-color: rgb(62, 157, 239); }
.demo-dblue { background-color: rgb(40, 126, 201); }
.demo-wgreen { background-color: rgb(246, 255, 244); }
.demo-lgreen { background-color: rgb(98, 214, 72); }
.demo-mgreen { background-color: rgb(84, 196, 58); }
.demo-dgreen { background-color: rgb(63, 150, 42); }
.demo-wyellow { background-color: rgb(252, 252, 239); }
.demo-lyellow { background-color: rgb(244, 244, 73); }
.demo-myellow { background-color: rgb(232, 232, 25); }
.demo-dyellow { background-color: rgb(111, 111, 16); }
.demo-wred { background-color: rgb(255, 248, 247); }
.demo-lred { background-color: rgb(242, 85, 65); }
.demo-mred { background-color: rgb(229, 60, 39); }
.demo-dred { background-color: rgb(198, 44, 23); }
.demo-orange { background-color: rgb(247, 169, 45); }
.demo-yellow { background-color: rgb(234, 231, 24); }
.demo-indigo { background-color: rgb(143, 79, 195); }
.demo-violet { background-color: rgb(212, 111, 210); }
.demo-link-unvisited { background-color: rgb(39, 113, 209); }
.demo-link-hover { background-color: rgb(8, 80, 175); }
.demo-link-visited { background-color: rgb(103, 71, 173); }
.demo-link-visited-hover { background-color: rgb(67, 39, 130); }
.demo-table-striped { background-color: rgb(240, 240, 240); }
/* transparent colors*/
.demo-lblue-thin { background-color: rgba(104, 182, 249, 0.5); }
.demo-mblue-thick { background-color: rgba(62, 157, 239, 0.8); }
.demo-lgreen-thin { background-color: rgba(119, 216, 97, 0.5); }
.demo-myellow-thin { background-color: rgba(232, 232, 25, 0.5); }
.demo-lred-thin { background-color: rgba(242, 100, 82, 0.5); }
.demo-dwhite-thin { background-color: rgba(215, 215, 215, 0.25); }
.demo-lwhite-thick { background-color: rgba(245, 245, 245, 0.9); }
.demo-lblack-thick { background-color: rgba(99, 99, 99, 0.6); }
.demo-black-thick { background-color: rgba(30, 30, 33, 0.8); }

.demo-middle-gray { background-color: rgb(188, 188, 188); }

.demo-rds-1 { border-radius: 0.4rem; }
.demo-rds-tl-1 { border-top-left-radius: 0.4rem; }
.demo-rds-tr-1 { border-top-right-radius: 0.4rem; }
.demo-rds-bl-1 { border-bottom-left-radius: 0.4rem; }
.demo-rds-br-1 { border-bottom-right-radius: 0.4rem; }


.demo-swatch {
  height: 9.6rem;
}

.demo-zeroing-pad {
  padding: 4.8rem;
}

.demo-zeroing-mgn {
  margin: 4.8rem;
}

.demo-zeroing-bdr {
  border: 0.4rem solid rgb(84, 171, 247);
  background-color: rgb(229, 60, 39);
}

.demo-zeroing-rds {
  border-radius: 0.75em;
}

.demo-overflow-container {
  max-height: 10rem;
  max-width: 30rem;
}

.demo-grid-height {
  height: 10rem;
}

.demo-grid-height-smaller {
  height: 5rem;
}

.demo-box {
  height: 4.8rem;
  width: 4.8rem;
}

.demo-card-header-height {
  height: 25rem;
}

.demo-copy-target {
  white-space: pre-wrap;
  position: fixed;
  left: -900%;
  top: -900%;
}

div#demo-side-menu {
  transform: translate(-125%, 0%);
  transition: transform 550ms;
}

.demo-side-menu-reveal {
  transform: translate(0%, 0%) !important;
}











