/* input types: 
  button
  checkbox
  color
  date
  datetime-local
  email          textfield
  file
  hidden
  image
  month
  number         textfield      
  password       textfield
  radio
  range
  reset
  search         textfield
  submit
  tel            textfield
  text           textfield
  time
  url            textfield
  week
*/
input[type="email"], input[type="number"],
input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"],
select, textarea {
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: 0.375em 0.625em;
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.1875em;
  margin: 0.8rem 0rem;
  color: #383838; }
  input[type="email"]:hover, input[type="number"]:hover,
  input[type="password"]:hover, input[type="search"]:hover,
  input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover,
  select:hover, textarea:hover {
    border-color: #bfbfbf; }
  input[type="email"]:focus, input[type="number"]:focus,
  input[type="password"]:focus, input[type="search"]:focus,
  input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus,
  select:focus, textarea:focus {
    outline: none;
    border-color: #3e9def;
    box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5); }
  input[type="email"].size-small, input[type="number"].size-small,
  input[type="password"].size-small, input[type="search"].size-small,
  input[type="tel"].size-small, input[type="text"].size-small, input[type="url"].size-small,
  select.size-small, textarea.size-small {
    font-size: 1.2rem; }
  input[type="email"].size-medium, input[type="number"].size-medium,
  input[type="password"].size-medium, input[type="search"].size-medium,
  input[type="tel"].size-medium, input[type="text"].size-medium, input[type="url"].size-medium,
  select.size-medium, textarea.size-medium {
    font-size: 2.2rem; }
  input[type="email"].size-large, input[type="number"].size-large,
  input[type="password"].size-large, input[type="search"].size-large,
  input[type="tel"].size-large, input[type="text"].size-large, input[type="url"].size-large,
  select.size-large, textarea.size-large {
    font-size: 2.8rem; }

/* ==================================== */
div.select {
  position: relative; }
  div.select select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    height: 3.2rem; }
    div.select select:not([multiple]).size-small {
      height: 2.45rem; }
    div.select select:not([multiple]).size-medium {
      height: 4.425rem; }
    div.select select:not([multiple]).size-large {
      height: 5.65rem; }
  div.select:not(:hover):not(.multiple)::after {
    background-image: -webkit-linear-gradient(45deg, transparent 50%, #d8d8d8 50%);
    background-image: -moz-linear-gradient(45deg, transparent 50%, #d8d8d8 50%);
    background-image: -o-linear-gradient(45deg, transparent 50%, #d8d8d8 50%);
    -webkit-transform: rotate(135deg) translate(-50%, 50%);
    -moz-transform: rotate(135deg) translate(-50%, 50%);
    -o-transform: rotate(135deg) translate(-50%, 50%);
    -ms-transform: rotate(135deg) translate(-50%, 50%);
    transform: rotate(135deg) translate(-50%, 50%);
    content: " ";
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    pointer-events: none; }
  div.select:hover:not(.multiple)::after {
    background-image: -webkit-linear-gradient(45deg, transparent 50%, #bfbfbf 50%);
    background-image: -moz-linear-gradient(45deg, transparent 50%, #bfbfbf 50%);
    background-image: -o-linear-gradient(45deg, transparent 50%, #bfbfbf 50%);
    -webkit-transform: rotate(135deg) translate(-50%, 50%);
    -moz-transform: rotate(135deg) translate(-50%, 50%);
    -o-transform: rotate(135deg) translate(-50%, 50%);
    -ms-transform: rotate(135deg) translate(-50%, 50%);
    transform: rotate(135deg) translate(-50%, 50%);
    content: " ";
    display: block;
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    right: 1.6rem;
    pointer-events: none; }
  div.select select[multiple] {
    background-color: white;
    height: 9.2rem; }
    div.select select[multiple].size-small {
      height: 7rem; }
    div.select select[multiple].size-medium {
      height: 13rem; }
    div.select select[multiple].size-large {
      height: 16.6rem; }

/* ==================================== */
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  max-height: 40rem; }
  textarea.no-resize {
    resize: none; }

/* ==================================== */
label.checkbox, label.radio {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.375em 0em;
  margin-right: 0.625rem; }
  label.checkbox input[type="checkbox"], label.checkbox input[type="radio"], label.radio input[type="checkbox"], label.radio input[type="radio"] {
    margin-right: 0.2rem;
    border-radius: 0.1875em; }

/* ====================================================== */
form div.field {
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: 0.6rem;
  margin: 0.2rem 0rem;
  /* ==================================== */
  /* ==================================== */ }
  form div.field .label {
    font-size: 1.4rem;
    font-weight: bold; }
  form div.field .help {
    font-size: 1.2rem;
    margin: 0.25em 0em; }
  form div.field.container-field-horizontal::after {
    content: '';
    clear: both;
    display: block; }
  form div.field.container-field-horizontal > div[class*="default-"], form div.field.container-field-horizontal > div[class*="small-"], form div.field.container-field-horizontal > div[class*="medium-"], form div.field.container-field-horizontal > div[class*="large-"] {
    padding: 0; }
    form div.field.container-field-horizontal > div[class*="default-"].field-label, form div.field.container-field-horizontal > div[class*="small-"].field-label, form div.field.container-field-horizontal > div[class*="medium-"].field-label, form div.field.container-field-horizontal > div[class*="large-"].field-label {
      padding-right: 0.6rem;
      position: relative;
      top: 0.8rem; }
    form div.field.container-field-horizontal > div[class*="default-"].field-body, form div.field.container-field-horizontal > div[class*="small-"].field-body, form div.field.container-field-horizontal > div[class*="medium-"].field-body, form div.field.container-field-horizontal > div[class*="large-"].field-body {
      padding-left: 0.6rem; }
      form div.field.container-field-horizontal > div[class*="default-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="default-"].field-body div.controls-inline input, form div.field.container-field-horizontal > div[class*="small-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="small-"].field-body div.controls-inline input, form div.field.container-field-horizontal > div[class*="medium-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="medium-"].field-body div.controls-inline input, form div.field.container-field-horizontal > div[class*="large-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="large-"].field-body div.controls-inline input {
        margin-top: 0; }
      form div.field.container-field-horizontal > div[class*="default-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="default-"].field-body label.radio, form div.field.container-field-horizontal > div[class*="small-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="small-"].field-body label.radio, form div.field.container-field-horizontal > div[class*="medium-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="medium-"].field-body label.radio, form div.field.container-field-horizontal > div[class*="large-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="large-"].field-body label.radio {
        position: relative;
        top: 0.3rem; }
  form div.field.theme-primary input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-primary select, form div.field.theme-primary textarea {
    border-color: #3e9def; }
    form div.field.theme-primary input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-primary select:focus, form div.field.theme-primary textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5); }
  form div.field.theme-primary .help, form div.field.theme-primary label.checkbox, form div.field.theme-primary label.radio {
    color: #3e9def; }
  form div.field.theme-info input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-info select, form div.field.theme-info textarea {
    border-color: #54c43a; }
    form div.field.theme-info input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-info select:focus, form div.field.theme-info textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(119, 216, 97, 0.5); }
  form div.field.theme-info .help, form div.field.theme-info label.checkbox, form div.field.theme-info label.radio {
    color: #54c43a; }
  form div.field.theme-caution input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-caution select, form div.field.theme-caution textarea {
    border-color: #e8e819; }
    form div.field.theme-caution input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-caution select:focus, form div.field.theme-caution textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(232, 232, 25, 0.5); }
  form div.field.theme-caution .help {
    color: #82820a; }
  form div.field.theme-caution label.checkbox, form div.field.theme-caution label.radio {
    color: #e8e819; }
  form div.field.theme-danger input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-danger select, form div.field.theme-danger textarea {
    border-color: #e53c27; }
    form div.field.theme-danger input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-danger select:focus, form div.field.theme-danger textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(242, 100, 82, 0.5); }
  form div.field.theme-danger .help {
    color: #c62c17; }
  form div.field.theme-danger label.checkbox, form div.field.theme-danger label.radio {
    color: #e53c27; }

/* ====================================================== */
div.container-controls::after {
  content: '';
  clear: both;
  display: block; }
div.container-controls div[class*="default-"], div.container-controls div[class*="small-"],
div.container-controls div[class*="medium-"], div.container-controls div[class*="large-"] {
  padding: 0; }
div.container-controls > div:first-child {
  padding-right: 0.6rem; }
div.container-controls > div:last-child {
  padding-left: 0.6rem; }
div.container-controls > div:not(:first-child):not(:last-child) {
  padding: 0rem 0.6rem; }

/* ====================================================== */
div.controls-inline input {
  display: inline;
  width: initial;
  margin-right: 0.9rem; }
div.controls-inline label.checkbox input[type="checkbox"], div.controls-inline label.checkbox input[type="radio"], div.controls-inline label.radio input[type="checkbox"], div.controls-inline label.radio input[type="radio"] {
  margin-right: 0.2rem; }

/* ====================================================== */
div.container-control-addons {
  height: 3.2rem;
  margin: 0.8rem 0rem; }
  div.container-control-addons::after {
    content: '';
    clear: both;
    display: block; }
  div.container-control-addons.size-small {
    height: 2.45rem;
    font-size: 1.2rem; }
  div.container-control-addons.size-medium {
    height: 4.425rem;
    font-size: 2.2rem; }
  div.container-control-addons.size-large {
    height: 5.65rem;
    font-size: 2.8rem; }
  div.container-control-addons input, div.container-control-addons select {
    margin: 0;
    height: 100%;
    font-size: inherit; }
    div.container-control-addons input:focus, div.container-control-addons select:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5) inset; }
  div.container-control-addons > div[class*="small-"], div.container-control-addons > div[class*="medium-"], div.container-control-addons > div[class*="large-"], div.container-control-addons > div[class*="default-"] {
    padding: 0;
    height: 100%; }
    div.container-control-addons > div[class*="small-"] .button, div.container-control-addons > div[class*="medium-"] .button, div.container-control-addons > div[class*="large-"] .button, div.container-control-addons > div[class*="default-"] .button {
      font-size: inherit;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-left: 0;
      padding-right: 0; }
  div.container-control-addons > div:first-child {
    border-top-left-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em; }
    div.container-control-addons > div:first-child input, div.container-control-addons > div:first-child .button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  div.container-control-addons > div:not(:first-child):not(:last-child) input, div.container-control-addons > div:not(:first-child):not(:last-child) .button {
    border-radius: 0; }
  div.container-control-addons > div:last-child {
    border-top-right-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em; }
    div.container-control-addons > div:last-child input, div.container-control-addons > div:last-child .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  div.container-control-addons div.left-addon, div.container-control-addons div.right-addon {
    padding: 0.375em 0.625em;
    background-color: whitesmoke;
    border: 0.1rem solid #d8d8d8;
    color: #7a7a7a;
    position: relative; }
    div.container-control-addons div.left-addon label, div.container-control-addons div.right-addon label {
      line-height: 1;
      font-size: inherit;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  div.container-control-addons div.left-addon {
    border-right: none; }
  div.container-control-addons div.right-addon {
    border-left: none; }

/* ====================================================== */

/*# sourceMappingURL=form.css.map */
