input[type="email"], input[type="number"],
input[type="password"], input[type="search"],
input[type="tel"], input[type="text"], input[type="url"],
textarea {
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: 0.375em 0.625em;
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.1875em;
  margin: 0.8rem 0rem;
  color: #383838; }
  input[type="email"]:hover, input[type="number"]:hover,
  input[type="password"]:hover, input[type="search"]:hover,
  input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover,
  textarea:hover {
    border-color: #bfbfbf; }
  input[type="email"]:focus, input[type="number"]:focus,
  input[type="password"]:focus, input[type="search"]:focus,
  input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus,
  textarea:focus {
    outline: none;
    border-color: #3e9def;
    box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5); }

/* ==================================== */
div.select {
  font-size: 1.6rem;
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.1875em;
  background-color: white;
  margin: 0.8rem 0rem;
  height: 3.2rem; }
  div.select:hover {
    border-color: #bfbfbf; }
  div.select.size-small {
    font-size: 1.2rem;
    height: 2.5rem; }
  div.select.size-medium {
    font-size: 2.1rem;
    height: 4.175rem; }
  div.select.size-large {
    font-size: 2.8rem;
    height: 5.5rem; }
  div.select.focused {
    border-color: #3e9def;
    box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5);
    color: #383838; }
    div.select.focused select {
      outline: none; }
  div.select select {
    font-size: inherit;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #383838; }
  div.select.multiple {
    height: 9.2rem; }
    div.select.multiple.size-small {
      height: 7rem; }
    div.select.multiple.size-medium {
      height: 13rem; }
    div.select.multiple.size-large {
      height: 16.6rem; }

/* ==================================== */
textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  max-height: 40rem; }
  textarea.no-resize {
    resize: none; }

/* ==================================== */
label.checkbox, label.radio {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.375em 0em;
  margin-right: 0.625rem; }
  label.checkbox input[type="checkbox"], label.checkbox input[type="radio"], label.radio input[type="checkbox"], label.radio input[type="radio"] {
    margin-right: 0.2rem;
    border-radius: 0.1875em; }

/* ====================================================== */
form div.field {
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: 0.6rem;
  margin: 0.2rem 0rem;
  /* ==================================== */
  /* ==================================== */ }
  form div.field .label {
    font-size: 1.4rem;
    font-weight: bold; }
  form div.field .help {
    font-size: 1.2rem;
    margin: 0.25em 0em; }
  form div.field.container-field-horizontal::after {
    content: '';
    clear: both;
    display: block; }
  form div.field.container-field-horizontal > div[class*="default-"], form div.field.container-field-horizontal > div[class*="small-"], form div.field.container-field-horizontal > div[class*="medium-"], form div.field.container-field-horizontal > div[class*="large-"] {
    padding: 0; }
    form div.field.container-field-horizontal > div[class*="default-"].field-label, form div.field.container-field-horizontal > div[class*="small-"].field-label, form div.field.container-field-horizontal > div[class*="medium-"].field-label, form div.field.container-field-horizontal > div[class*="large-"].field-label {
      padding-right: 0.6rem;
      position: relative;
      top: 0.8rem; }
    form div.field.container-field-horizontal > div[class*="default-"].field-body, form div.field.container-field-horizontal > div[class*="small-"].field-body, form div.field.container-field-horizontal > div[class*="medium-"].field-body, form div.field.container-field-horizontal > div[class*="large-"].field-body {
      padding-left: 0.6rem; }
      form div.field.container-field-horizontal > div[class*="default-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="default-"].field-body div.controls-inline input, form div.field.container-field-horizontal > div[class*="small-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="small-"].field-body div.controls-inline input, form div.field.container-field-horizontal > div[class*="medium-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="medium-"].field-body div.controls-inline input, form div.field.container-field-horizontal > div[class*="large-"].field-body *:first-child, form div.field.container-field-horizontal > div[class*="large-"].field-body div.controls-inline input {
        margin-top: 0; }
      form div.field.container-field-horizontal > div[class*="default-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="default-"].field-body label.radio, form div.field.container-field-horizontal > div[class*="small-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="small-"].field-body label.radio, form div.field.container-field-horizontal > div[class*="medium-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="medium-"].field-body label.radio, form div.field.container-field-horizontal > div[class*="large-"].field-body label.checkbox, form div.field.container-field-horizontal > div[class*="large-"].field-body label.radio {
        position: relative;
        top: 0.3rem; }
  form div.field.theme-primary input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-primary div.select, form div.field.theme-primary textarea {
    border-color: #3e9def; }
    form div.field.theme-primary input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-primary div.select:focus, form div.field.theme-primary textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5) inset; }
  form div.field.theme-primary div.select.focused {
    box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5) inset; }
  form div.field.theme-primary .help, form div.field.theme-primary label.checkbox, form div.field.theme-primary label.radio {
    color: #3e9def; }
  form div.field.theme-info input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-info div.select, form div.field.theme-info textarea {
    border-color: #54c43a; }
    form div.field.theme-info input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-info div.select:focus, form div.field.theme-info textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(119, 216, 97, 0.5) inset; }
  form div.field.theme-info div.select.focused {
    box-shadow: 0em 0em 0em 0.125em rgba(119, 216, 97, 0.5) inset; }
  form div.field.theme-info .help, form div.field.theme-info label.checkbox, form div.field.theme-info label.radio {
    color: #54c43a; }
  form div.field.theme-caution input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-caution div.select, form div.field.theme-caution textarea {
    border-color: #e8e819; }
    form div.field.theme-caution input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-caution div.select:focus, form div.field.theme-caution textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(232, 232, 25, 0.5) inset; }
  form div.field.theme-caution div.select.focused {
    box-shadow: 0em 0em 0em 0.125em rgba(232, 232, 25, 0.5) inset; }
  form div.field.theme-caution .help {
    color: #82820a; }
  form div.field.theme-caution label.checkbox, form div.field.theme-caution label.radio {
    color: #e8e819; }
  form div.field.theme-danger input:not([type="checkbox"]):not([type="radio"]),
  form div.field.theme-danger div.select, form div.field.theme-danger textarea {
    border-color: #e53c27; }
    form div.field.theme-danger input:not([type="checkbox"]):not([type="radio"]):focus,
    form div.field.theme-danger div.select:focus, form div.field.theme-danger textarea:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(242, 100, 82, 0.5) inset; }
  form div.field.theme-danger div.select.focused {
    box-shadow: 0em 0em 0em 0.125em rgba(242, 100, 82, 0.5) inset; }
  form div.field.theme-danger .help {
    color: #c62c17; }
  form div.field.theme-danger label.checkbox, form div.field.theme-danger label.radio {
    color: #e53c27; }

/* ====================================================== */
div.container-controls::after {
  content: '';
  clear: both;
  display: block; }
div.container-controls div[class*="default-"], div.container-controls div[class*="small-"],
div.container-controls div[class*="medium-"], div.container-controls div[class*="large-"] {
  padding: 0; }
div.container-controls > div:first-child {
  padding-right: 0.6rem; }
div.container-controls > div:last-child {
  padding-left: 0.6rem; }
div.container-controls > div:not(:first-child):not(:last-child) {
  padding: 0rem 0.6rem; }

/* ====================================================== */
div.controls-inline input {
  display: inline;
  width: initial;
  margin-right: 0.9rem; }
div.controls-inline label.checkbox input[type="checkbox"], div.controls-inline label.checkbox input[type="radio"], div.controls-inline label.radio input[type="checkbox"], div.controls-inline label.radio input[type="radio"] {
  margin-right: 0.2rem; }

/* ====================================================== */
div.container-addons {
  height: 3.2rem;
  margin: 0.8rem 0rem; }
  div.container-addons::after {
    content: '';
    clear: both;
    display: block; }
  div.container-addons.size-small {
    height: 2.5rem;
    font-size: 1.2rem; }
  div.container-addons.size-medium {
    height: 4.175rem;
    font-size: 2.1rem; }
  div.container-addons.size-large {
    height: 5.5rem;
    font-size: 2.8rem; }
  div.container-addons input, div.container-addons div.select {
    margin: 0;
    height: 100%;
    font-size: inherit; }
    div.container-addons input:focus, div.container-addons div.select:focus {
      box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5) inset; }
  div.container-addons div.select.focused {
    box-shadow: 0em 0em 0em 0.125em rgba(104, 182, 249, 0.5) inset; }
  div.container-addons > div[class*="small-"], div.container-addons > div[class*="medium-"], div.container-addons > div[class*="large-"], div.container-addons > div[class*="default-"] {
    padding: 0;
    height: 100%; }
    div.container-addons > div[class*="small-"] .button, div.container-addons > div[class*="small-"] div.select, div.container-addons > div[class*="medium-"] .button, div.container-addons > div[class*="medium-"] div.select, div.container-addons > div[class*="large-"] .button, div.container-addons > div[class*="large-"] div.select, div.container-addons > div[class*="default-"] .button, div.container-addons > div[class*="default-"] div.select {
      font-size: inherit;
      width: 100%;
      height: 100%;
      margin: 0;
      padding-left: 0;
      padding-right: 0; }
  div.container-addons > div:first-child {
    border-top-left-radius: 0.1875em;
    border-bottom-left-radius: 0.1875em; }
    div.container-addons > div:first-child input, div.container-addons > div:first-child .button, div.container-addons > div:first-child div.select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  div.container-addons > div:not(:first-child):not(:last-child) input, div.container-addons > div:not(:first-child):not(:last-child) .button, div.container-addons > div:not(:first-child):not(:last-child) div.select {
    border-radius: 0; }
  div.container-addons > div:last-child {
    border-top-right-radius: 0.1875em;
    border-bottom-right-radius: 0.1875em; }
    div.container-addons > div:last-child input, div.container-addons > div:last-child .button, div.container-addons > div:last-child div.select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  div.container-addons div.left-addon, div.container-addons div.right-addon {
    padding: 0.375em 0.625em;
    background-color: whitesmoke;
    border: 0.1rem solid #d8d8d8;
    color: #7a7a7a;
    position: relative; }
    div.container-addons div.left-addon .addon-label, div.container-addons div.right-addon .addon-label {
      line-height: 1;
      font-size: inherit;
      font-weight: normal;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    div.container-addons div.left-addon div.select, div.container-addons div.right-addon div.select {
      border: none;
      background-color: transparent; }
  div.container-addons div.left-addon {
    border-right: none; }
  div.container-addons div.right-addon {
    border-left: none; }
  div.container-addons div.control-with-icons {
    font-size: inherit; }

/* ====================================================== */
div.control-with-icons {
  position: relative;
  font-size: 1.6rem; }
  div.control-with-icons span.left-icon, div.control-with-icons span.right-icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    color: #939393; }
    div.control-with-icons span.left-icon i, div.control-with-icons span.right-icon i {
      font-size: inherit; }
  div.control-with-icons span.left-icon {
    left: 0.5em; }
  div.control-with-icons span.right-icon {
    right: 0.5em; }
  div.control-with-icons input {
    font-size: inherit;
    padding-left: 2em;
    padding-right: 2em; }
    div.control-with-icons input:focus ~ span.left-icon, div.control-with-icons input:focus ~ span.right-icon {
      color: #4c4c4c; }

/* ====================================================== */
/* ====================================================== */

/*# sourceMappingURL=form.css.map */
