div.modal-backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: rgba(30, 30, 33, 0.8);
  padding: 1.8rem; }
  div.modal-backdrop div.modal {
    font-size: 1rem;
    padding: 1.8em;
    background-color: white;
    border-radius: 0.5em; }

/* ====================================================== */
.box {
  font-size: 1rem;
  padding: 1.6em;
  border: 0.1em solid #bebebe;
  border-radius: 0.4em;
  background-color: white;
  box-shadow: 0em 0.05em 0.04em 0em #e6e6e6; }

/* ====================================================== */
div.message {
  font-size: 1rem;
  border: 0.1em solid #646464;
  border-radius: 0.3em;
  background-color: whitesmoke;
  margin: 0.6em 0em; }
  div.message div.message-header {
    padding: 0.8em;
    color: white;
    background-color: #646464; }
  div.message div.message-body {
    padding: 0.8em 0.8em 0.8em 1.2em;
    color: #646464; }
  div.message[class~="theme-primary"] {
    border-color: #3e9def;
    background-color: #f4f9fc; }
    div.message[class~="theme-primary"] .message-header {
      color: #f4f9fc;
      background-color: #3e9def; }
    div.message[class~="theme-primary"] .message-body {
      color: #0c62b2; }
  div.message[class~="theme-info"] {
    border-color: #53e258;
    background-color: #f5fcf4; }
    div.message[class~="theme-info"] .message-header {
      color: #f5fcf4;
      background-color: #53e258; }
    div.message[class~="theme-info"] .message-body {
      color: #1d9b41; }
  div.message[class~="theme-caution"] {
    border-color: #f9f261;
    background-color: #fcfbf2; }
    div.message[class~="theme-caution"] .message-header {
      color: #918f2d;
      background-color: #f9f261; }
    div.message[class~="theme-caution"] .message-body {
      color: #918f2d; }
  div.message[class~="theme-danger"] {
    border-color: #ef3232;
    background-color: #fff8f7; }
    div.message[class~="theme-danger"] .message-header {
      color: #fff8f7;
      background-color: #ef3232; }
    div.message[class~="theme-danger"] .message-body {
      color: #b2250c; }

/* ====================================================== */
div.tabs {
  font-size: 1rem;
  border-bottom: 0.1em solid #bebebe; }
  div.tabs::after {
    content: '';
    clear: both;
    display: table; }
  div.tabs li {
    font-size: 1em;
    float: left;
    padding: 0.8em 1.2em;
    margin: 0em -0.1em -0.1em 0em;
    border-radius: 0.3em 0.3em 0em 0em;
    color: #bebebe; }
    div.tabs li:hover {
      padding-bottom: 0.7em;
      color: #646464;
      background-color: whitesmoke;
      border-bottom: 0.1em solid #646464; }
    div.tabs li[class~="active"] {
      padding-bottom: 0.7em;
      color: #3e9def;
      background-color: whitesmoke;
      border-bottom: 0.1em solid #3e9def;
      font-weight: bold; }

/* ====================================================== */
ul.menu {
  font-size: 1rem;
  border: 0.1em solid #d7d7d7;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.2em 0em #e6e6e6; }
  ul.menu .button {
    margin-top: 0;
    margin-bottom: 0; }
  ul.menu li {
    font-size: 1rem;
    padding: 1em;
    vertical-align: middle; }
    ul.menu li.menu-header, ul.menu li.menu-item, ul.menu li.menu-footer {
      background-color: white; }
    ul.menu li.menu-header[class~="alternate"], ul.menu li.menu-item[class~="alternate"], ul.menu li.menu-footer[class~="alternate"] {
      background-color: whitesmoke; }
    ul.menu li.menu-header {
      border-radius: 0.3em 0.3em 0em 0em;
      border-bottom: 0.1em solid #d7d7d7; }
    ul.menu li.menu-item {
      border-bottom: 0.1em solid #d7d7d7; }
    ul.menu li.menu-footer {
      border-radius: 0em 0em 0.3em 0.3em; }

/* ====================================================== */
span.icon {
  display: inline-block;
  height: auto;
  width: 2rem; }
  span.icon[class~="size-large"] {
    width: 2.6rem; }
  span.icon[class~="size-doubled"] {
    width: 3.8rem; }
  span.icon[class~="size-tripled"] {
    width: 5.8rem; }

/* ====================================================== */
button.close {
  font-size: 1rem;
  height: 1.6em;
  width: 1.6em;
  border-radius: 0.2em;
  position: relative;
  background-color: #d7d7d7; }
  button.close:hover {
    background-color: #e6e6e6;
    cursor: pointer; }
    button.close:hover::before, button.close:hover::after {
      background-color: #444447;
      border-color: #444447; }
  button.close:focus:not(:active) {
    outline: none;
    box-shadow: 0em 0em 0em 0.2rem #c0e3f9; }
  button.close:active {
    outline: none;
    background-color: whitesmoke; }
    button.close:active::before, button.close:active::after {
      background-color: #1e1e21;
      border-color: #1e1e21; }
  button.close::before, button.close::after {
    content: '';
    background-color: #545456;
    border: 0.1em solid #545456;
    height: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  button.close::before {
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    -moz-transform: rotate(45deg) translate(-50%, -50%);
    -o-transform: rotate(45deg) translate(-50%, -50%);
    -ms-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%); }
  button.close::after {
    -webkit-transform: rotate(135deg) translate(-50%, -50%);
    -moz-transform: rotate(135deg) translate(-50%, -50%);
    -o-transform: rotate(135deg) translate(-50%, -50%);
    -ms-transform: rotate(135deg) translate(-50%, -50%);
    transform: rotate(135deg) translate(-50%, -50%); }
  button.close[class~="alternate"] {
    background-color: #545456; }
    button.close[class~="alternate"]::before, button.close[class~="alternate"]::after {
      background-color: #d7d7d7;
      border-color: #d7d7d7; }
    button.close[class~="alternate"]:hover {
      background-color: #444447; }
      button.close[class~="alternate"]:hover::before, button.close[class~="alternate"]:hover::after {
        background-color: #e6e6e6;
        border-color: #e6e6e6; }
    button.close[class~="alternate"]:active {
      background-color: #2e2e33; }
      button.close[class~="alternate"]:active::before, button.close[class~="alternate"]:active::after {
        background-color: white;
        border-color: white; }
  button.close[class~="resize-small"] {
    height: 1.2em;
    width: 1.2em; }
    button.close[class~="resize-small"]::before, button.close[class~="resize-small"]::after {
      height: 0.6em; }
  button.close[class~="resize-medium"] {
    height: 2em;
    width: 2em; }
    button.close[class~="resize-medium"]::before, button.close[class~="resize-medium"]::after {
      height: 1.2em; }
  button.close[class~="resize-large"] {
    height: 2.4em;
    width: 2.4em; }
    button.close[class~="resize-large"]::before, button.close[class~="resize-large"]::after {
      border-width: 0.2em;
      height: 1.4em; }

/* ====================================================== */
span.stamp {
  font-size: 1em;
  padding: 0.2em 0.5em 0.25em 0.5em;
  display: inline-block;
  border-radius: 0.1875em;
  line-height: 1.4;
  background-color: #d7d7d7;
  color: white; }
  span.stamp[class~="round"] {
    border-radius: 1em; }
  span.stamp[class~="theme-primary"] {
    background-color: #3e9def; }
  span.stamp[class~="theme-info"] {
    background-color: #53e258; }
  span.stamp[class~="theme-caution"] {
    background-color: #f9f261; }
  span.stamp[class~="theme-danger"] {
    background-color: #ef3232; }

div.stamp-duo {
  font-size: 1.2rem;
  display: inline-block; }
  div.stamp-duo::after {
    content: '';
    clear: both;
    display: table; }
  div.stamp-duo span.stamp {
    font-size: inherit;
    float: left; }
    div.stamp-duo span.stamp:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    div.stamp-duo span.stamp:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    div.stamp-duo span.stamp[class~="relative"] {
      min-width: 2em;
      min-height: 1.8em; }

div.stamps::after {
  content: '';
  clear: both;
  display: table; }
div.stamps > span.stamp, div.stamps > div.stamp-duo {
  float: left;
  margin: 0.4rem; }

/* ====================================================== */
figure[class*="image-"] {
  background-color: #969696; }
  figure[class*="image-"] img {
    object-fit: cover; }

figure[class~="image-16x"] {
  width: 16px;
  height: 16px; }
  figure[class~="image-16x"] img {
    width: 16px;
    height: 16px; }
    figure[class~="image-16x"] img[class~="rounded"] {
      border-radius: 0.3rem; }

figure[class~="image-32x"] {
  width: 32px;
  height: 32px; }
  figure[class~="image-32x"] img {
    width: 32px;
    height: 32px; }
    figure[class~="image-32x"] img[class~="rounded"] {
      border-radius: 0.4rem; }

figure[class~="image-64x"] {
  width: 64px;
  height: 64px; }
  figure[class~="image-64x"] img {
    width: 64px;
    height: 64px; }
    figure[class~="image-64x"] img[class~="rounded"] {
      border-radius: 0.6rem; }

figure[class~="image-128x"] {
  width: 128px;
  height: 128px; }
  figure[class~="image-128x"] img {
    width: 128px;
    height: 128px; }
    figure[class~="image-128x"] img[class~="rounded"] {
      border-radius: 0.8rem; }

figure[class~="image-256x"] {
  width: 256px;
  height: 256px; }
  figure[class~="image-256x"] img {
    width: 256px;
    height: 256px; }
    figure[class~="image-256x"] img[class~="rounded"] {
      border-radius: 1rem; }

img {
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem #bebebe; }
  img.circular {
    border-radius: 50%; }
  img.rounded {
    border-radius: 0.8rem; }
  img.responsive {
    max-width: 100%;
    height: auto; }
  img.fill-width {
    width: 100%;
    height: auto; }
  img.radius-inherit {
    border-radius: inherit; }

/* ====================================================== */
div.progress-bar {
  font-size: 1rem;
  height: 1.2em;
  background-color: #d7d7d7;
  border-radius: 0.6em;
  margin: 1rem 0rem; }
  div.progress-bar div.progress {
    float: left;
    height: 100%;
    min-width: 0%;
    max-width: 100%;
    border-radius: inherit;
    background-color: #646464; }
  div.progress-bar[class~="resize-medium"] {
    font-size: 1.4rem; }
  div.progress-bar[class~="resize-large"] {
    font-size: 2rem; }
  div.progress-bar[class~="theme-primary"] div.progress {
    background-color: #3e9def; }
  div.progress-bar[class~="theme-info"] div.progress {
    background-color: #53e258; }
  div.progress-bar[class~="theme-caution"] div.progress {
    background-color: #f9f261; }
  div.progress-bar[class~="theme-danger"] div.progress {
    background-color: #ef3232; }

/* ====================================================== */
ul.text-menu li {
  line-height: 1;
  padding: 0.6rem 0rem 0.6rem 1.4rem;
  border-radius: 0.2rem; }
ul.text-menu li.menu-submenu {
  padding-bottom: 0; }
ul.text-menu li.menu-submenu ul.text-menu {
  padding-top: 0.6rem; }
  ul.text-menu li.menu-submenu ul.text-menu li.menu-item, ul.text-menu li.menu-submenu ul.text-menu li.menu-submenu {
    border-left: 0.1rem solid #d7d7d7;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem; }

/* ====================================================== */
/* ====================================================== */
div.card {
  font-size: 1rem;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem whitesmoke;
  background-color: white; }
  div.card hr {
    border-color: #e6e6e6; }
  div.card div.card-header, div.card div.card-content, div.card div.card-footer {
    padding: 0.6rem 1rem; }
    div.card div.card-header.hero-image, div.card div.card-content.hero-image, div.card div.card-footer.hero-image {
      padding: 0; }
      div.card div.card-header.hero-image img, div.card div.card-content.hero-image img, div.card div.card-footer.hero-image img {
        display: block;
        border-radius: inherit; }
  div.card div.card-header {
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    border-bottom: 0.1rem solid #e6e6e6; }
  div.card div.card-content {
    border-radius: 0.4rem; }
  div.card div.card-footer {
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    border-top: 0.1rem solid #e6e6e6; }

/* ====================================================== */
/* ====================================================== */

/*# sourceMappingURL=objects.css.map */
