div.modal-backdrop {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: rgba(30, 30, 33, 0.8);
  padding: 1.8rem; }
  div.modal-backdrop div.modal {
    font-size: 1rem;
    padding: 1.8em;
    background-color: white;
    border-radius: 0.5em; }

/* ====================================================== */
div.box {
  font-size: 1rem;
  padding: 1.6em;
  border: 0.1em solid #d8d8d8;
  border-radius: 0.4em;
  background-color: white;
  box-shadow: 0.1em 0.1em 0.1em 0em #d8d8d8; }

/* ====================================================== */
div.message {
  font-size: 1rem;
  border: 0.1em solid #939393;
  border-radius: 0.4em;
  background-color: #f9f9f9;
  margin: 0.6em 0em; }
  div.message div.message-header {
    padding: 0.4em 1.2em;
    color: #f9f9f9;
    border-color: inherit;
    background-color: #939393; }
  div.message div.message-body {
    padding: 1em 1em 1em 1.8em;
    color: #636363;
    border-color: inherit;
    border-radius: 0.3rem;
    background-color: inherit; }
  div.message.theme-primary {
    border-color: #3e9def;
    background-color: #f4faff; }
    div.message.theme-primary .message-header {
      color: #f4faff;
      background-color: #3e9def; }
    div.message.theme-primary .message-body {
      color: #287ec9; }
  div.message.theme-info {
    border-color: #54c43a;
    background-color: #f6fff4; }
    div.message.theme-info .message-header {
      color: #f6fff4;
      background-color: #54c43a; }
    div.message.theme-info .message-body {
      color: #3f962a; }
  div.message.theme-caution {
    border-color: #e8e819;
    background-color: #fcfcef; }
    div.message.theme-caution .message-header {
      color: #82820a;
      background-color: #e8e819; }
    div.message.theme-caution .message-body {
      color: #82820a; }
  div.message.theme-danger {
    border-color: #e53c27;
    background-color: #fff8f7; }
    div.message.theme-danger .message-header {
      color: #fff8f7;
      background-color: #e53c27; }
    div.message.theme-danger .message-body {
      color: #c62c17; }
  div.message.theme-light {
    border-color: #e6e6e6;
    background-color: white; }
    div.message.theme-light .message-header {
      color: #636363;
      background-color: #e6e6e6; }
    div.message.theme-light .message-body {
      color: #636363; }
  div.message.theme-dark {
    border-color: #4c4c4c;
    background-color: whitesmoke; }
    div.message.theme-dark .message-header {
      color: white;
      background-color: #4c4c4c; }
    div.message.theme-dark .message-body {
      color: #383838; }

/* ====================================================== */
ul.tabs::after {
  content: '';
  clear: both;
  display: block; }
ul.tabs li {
  font-size: 1em;
  float: left;
  padding: 0.3em 1em;
  border-radius: 0.2em 0.2em 0em 0em;
  color: #939393;
  border-bottom: 0.2rem solid #bfbfbf; }
  ul.tabs li a, ul.tabs li a:hover {
    color: inherit;
    text-decoration: none; }
  ul.tabs li:hover {
    cursor: pointer;
    color: #636363;
    background-color: rgba(245, 245, 245, 0.9);
    border-color: #7a7a7a; }
  ul.tabs li.active {
    color: #3e9def;
    background-color: rgba(245, 245, 245, 0.9);
    border-color: #3e9def;
    font-weight: bold; }
ul.tabs.theme-light li:not(.active) {
  color: #4c4c4c; }
  ul.tabs.theme-light li:not(.active):hover {
    color: #383838;
    border-color: #636363; }
ul.tabs.theme-dark li:not(.active) {
  color: #bfbfbf; }
  ul.tabs.theme-dark li:not(.active):hover {
    color: white;
    border-color: white;
    background-color: rgba(99, 99, 99, 0.6); }

/* ====================================================== */
ul.menu {
  font-size: 1rem;
  border: 0.1em solid #d7d7d7;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.2em 0em #e6e6e6; }
  ul.menu .button {
    margin-top: 0;
    margin-bottom: 0; }
  ul.menu.theme-dark {
    border-color: #bfbfbf; }
    ul.menu.theme-dark li.menu-header, ul.menu.theme-dark li.menu-item, ul.menu.theme-dark li.menu-footer {
      color: #d8d8d8;
      background-color: #4c4c4c;
      border-color: #bfbfbf; }
      ul.menu.theme-dark li.menu-header a, ul.menu.theme-dark li.menu-item a, ul.menu.theme-dark li.menu-footer a {
        color: #bfbfbf;
        text-decoration: none; }
        ul.menu.theme-dark li.menu-header a:hover, ul.menu.theme-dark li.menu-item a:hover, ul.menu.theme-dark li.menu-footer a:hover {
          color: white; }
  ul.menu li {
    font-size: 1rem;
    padding: 1em;
    vertical-align: middle; }
    ul.menu li.menu-header, ul.menu li.menu-item, ul.menu li.menu-footer {
      background-color: white; }
    ul.menu li.menu-header {
      border-radius: 0.3em 0.3em 0em 0em;
      border-bottom: 0.1em solid #d7d7d7; }
    ul.menu li.menu-item {
      border-bottom: 0.1em solid #d7d7d7; }
    ul.menu li.menu-footer {
      border-radius: 0em 0em 0.3em 0.3em; }
    ul.menu li a {
      text-decoration: none;
      color: #2771d1; }
      ul.menu li a:hover {
        color: #0850af; }

/* ====================================================== */
span.icon {
  display: inline-block;
  height: auto;
  width: 1.4em; }
  span.icon.size-large {
    width: 2em; }
  span.icon.size-doubled {
    width: 2.4em; }
  span.icon.size-tripled {
    width: 3.4em; }

/* ====================================================== */
button.close {
  font-size: 1rem;
  height: 1.6em;
  width: 1.6em;
  border-radius: 0.2em;
  position: relative;
  background-color: #e6e6e6; }
  button.close:hover {
    background-color: whitesmoke;
    cursor: pointer; }
    button.close:hover::before, button.close:hover::after {
      background-color: #636363;
      border-color: #636363; }
  button.close:focus:not(:active) {
    outline: none;
    box-shadow: 0em 0em 0em 0.2rem #54abf7; }
  button.close:active {
    outline: none; }
    button.close:active::before, button.close:active::after {
      background-color: #383838;
      border-color: #383838; }
  button.close::before, button.close::after {
    content: '';
    background-color: #939393;
    border: 0.1em solid #939393;
    height: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  button.close::before {
    -webkit-transform: rotate(45deg) translate(-50%, -50%);
    -moz-transform: rotate(45deg) translate(-50%, -50%);
    -o-transform: rotate(45deg) translate(-50%, -50%);
    -ms-transform: rotate(45deg) translate(-50%, -50%);
    transform: rotate(45deg) translate(-50%, -50%); }
  button.close::after {
    -webkit-transform: rotate(135deg) translate(-50%, -50%);
    -moz-transform: rotate(135deg) translate(-50%, -50%);
    -o-transform: rotate(135deg) translate(-50%, -50%);
    -ms-transform: rotate(135deg) translate(-50%, -50%);
    transform: rotate(135deg) translate(-50%, -50%); }
  button.close.theme-dark {
    background-color: #636363; }
    button.close.theme-dark::before, button.close.theme-dark::after {
      background-color: #bfbfbf;
      border-color: #bfbfbf; }
    button.close.theme-dark:hover {
      background-color: #4c4c4c; }
      button.close.theme-dark:hover::before, button.close.theme-dark:hover::after {
        background-color: #e6e6e6;
        border-color: #e6e6e6; }
    button.close.theme-dark:active::before, button.close.theme-dark:active::after {
      background-color: white;
      border-color: white; }
  button.close.resize-small {
    height: 1.2em;
    width: 1.2em; }
    button.close.resize-small::before, button.close.resize-small::after {
      height: 0.6em; }
  button.close.resize-medium {
    height: 2em;
    width: 2em; }
    button.close.resize-medium::before, button.close.resize-medium::after {
      height: 1.2em; }
  button.close.resize-large {
    height: 2.4em;
    width: 2.4em; }
    button.close.resize-large::before, button.close.resize-large::after {
      height: 1.6em; }

/* ====================================================== */
span.stamp {
  font-size: 1em;
  padding: 0.2em 0.4em;
  margin: 0em 0.2em;
  border-radius: 0.1875em;
  line-height: 1;
  background-color: #bfbfbf;
  color: white; }
  span.stamp.round {
    border-radius: 1em; }
  span.stamp.has-link:hover {
    background-color: #d8d8d8; }
  span.stamp a {
    color: inherit;
    text-decoration: none; }
  span.stamp.theme-primary {
    background-color: #3e9def; }
    span.stamp.theme-primary.has-link:hover {
      background-color: #54abf7; }
  span.stamp.theme-info {
    background-color: #54c43a; }
    span.stamp.theme-info.has-link:hover {
      background-color: #62d648; }
  span.stamp.theme-caution {
    background-color: #e8e819;
    color: #82820a; }
    span.stamp.theme-caution.has-link:hover {
      background-color: #f4f449; }
  span.stamp.theme-danger {
    background-color: #e53c27; }
    span.stamp.theme-danger.has-link:hover {
      background-color: #f25541; }
  span.stamp.theme-light {
    background-color: #e6e6e6;
    color: #636363; }
    span.stamp.theme-light.has-link:hover {
      background-color: whitesmoke; }
  span.stamp.theme-dark {
    background-color: #4c4c4c; }
    span.stamp.theme-dark.has-link:hover {
      background-color: #636363; }

div.stamp-bar {
  font-size: 1.4rem;
  display: inline-block;
  margin: 0.6rem 0.4rem; }
  div.stamp-bar::after {
    content: '';
    clear: both;
    display: block; }
  div.stamp-bar span.stamp {
    font-size: inherit;
    padding: 0.4rem 0.6rem;
    float: left;
    margin: 0; }
    div.stamp-bar span.stamp:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    div.stamp-bar span.stamp:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    div.stamp-bar span.stamp:only-child {
      border-radius: 0.1875em; }
    div.stamp-bar span.stamp:not(:first-child):not(:last-child) {
      border-radius: 0; }
    div.stamp-bar span.stamp.has-close {
      position: relative;
      padding: 0;
      height: 2.2rem;
      width: 3rem; }
  div.stamp-bar.resize-large {
    font-size: 2.1rem; }
    div.stamp-bar.resize-large span.stamp.has-close {
      height: 2.9rem;
      width: 3.2rem; }

/* ====================================================== */
figure[class*="image-"] img {
  object-fit: cover; }

figure.image-16x {
  width: 16px;
  height: 16px; }
  figure.image-16x img {
    width: 16px;
    height: 16px; }
    figure.image-16x img.rounded {
      border-radius: 0.3rem; }

figure.image-32x {
  width: 32px;
  height: 32px; }
  figure.image-32x img {
    width: 32px;
    height: 32px; }
    figure.image-32x img.rounded {
      border-radius: 0.4rem; }

figure.image-64x {
  width: 64px;
  height: 64px; }
  figure.image-64x img {
    width: 64px;
    height: 64px; }
    figure.image-64x img.rounded {
      border-radius: 0.6rem; }

figure.image-128x {
  width: 128px;
  height: 128px; }
  figure.image-128x img {
    width: 128px;
    height: 128px; }
    figure.image-128x img.rounded {
      border-radius: 0.8rem; }

figure.image-256x {
  width: 256px;
  height: 256px; }
  figure.image-256x img {
    width: 256px;
    height: 256px; }
    figure.image-256x img.rounded {
      border-radius: 1rem; }

img {
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem #d8d8d8; }
  img.circular {
    border-radius: 50%; }
  img.rounded {
    border-radius: 0.8rem; }
  img.responsive {
    max-width: 100%;
    height: auto; }
  img.fill-width {
    width: 100%;
    height: auto; }

/* ====================================================== */
div.progress-bar {
  height: 1.2rem;
  background-color: #d8d8d8;
  color: #f9f9f9;
  border-radius: 0.3rem;
  margin: 1rem 0rem; }
  div.progress-bar div.progress {
    float: left;
    height: 100%;
    min-width: 0%;
    max-width: 100%;
    border-radius: inherit;
    background-color: #939393; }
  div.progress-bar.resize-small {
    height: 0.6rem;
    border-radius: 0.2rem; }
  div.progress-bar.resize-medium {
    height: 1.6rem; }
  div.progress-bar.resize-large {
    height: 2rem; }
  div.progress-bar.theme-primary div.progress {
    background-color: #3e9def;
    color: #f4faff; }
  div.progress-bar.theme-info div.progress {
    background-color: #54c43a;
    color: #f6fff4; }
  div.progress-bar.theme-caution div.progress {
    background-color: #e8e819;
    color: #82820a; }
  div.progress-bar.theme-danger div.progress {
    background-color: #e53c27;
    color: #fff8f7; }
  div.progress-bar.theme-light div.progress {
    background-color: whitesmoke;
    color: #636363; }
  div.progress-bar.theme-dark div.progress {
    background-color: #4c4c4c;
    color: white; }

/* ====================================================== */
ul.text-list.indent-sublists ul.text-list, ul.text-list.indent-immediate > li {
  margin-left: 1.2rem; }
ul.text-list li {
  line-height: 1;
  padding: 0.3rem 0rem 0.3rem 1.4rem;
  color: #7a7a7a;
  border-radius: 0.2rem; }
  ul.text-list li a {
    color: inherit;
    text-decoration: none; }
    ul.text-list li a:hover {
      color: #383838; }
  ul.text-list li.list-label {
    font-weight: bold;
    color: #636363; }
  ul.text-list li:hover {
    background-color: rgba(245, 245, 245, 0.9); }
  ul.text-list li.active {
    color: white;
    background-color: rgba(62, 157, 239, 0.8); }
    ul.text-list li.active a:hover {
      color: whitesmoke; }
ul.text-list.theme-light li:not(.active) {
  color: #4c4c4c; }
  ul.text-list.theme-light li:not(.active) a:hover {
    color: #383838; }
  ul.text-list.theme-light li:not(.active):hover {
    background-color: rgba(245, 245, 245, 0.9); }
ul.text-list.theme-dark hr {
  border-color: #939393; }
ul.text-list.theme-dark li:not(.active) {
  color: #bfbfbf; }
  ul.text-list.theme-dark li:not(.active) a:hover {
    color: white; }
  ul.text-list.theme-dark li:not(.active).list-label {
    color: #d8d8d8; }
  ul.text-list.theme-dark li:not(.active):hover {
    background-color: rgba(99, 99, 99, 0.6); }

/* ====================================================== */
div.banner {
  height: 12rem; }
  div.banner.resize-small {
    height: 8rem; }
  div.banner.resize-medium {
    height: 34rem; }
  div.banner.resize-large {
    height: 54rem; }

/* ====================================================== */
div.card {
  font-size: 1rem;
  border: 0.1rem solid #e6e6e6;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem whitesmoke;
  background-color: white; }
  div.card hr {
    border-color: #e6e6e6; }
  div.card div.card-header, div.card div.card-content, div.card div.card-footer {
    padding: 1rem 2rem; }
    div.card div.card-header.hero-image, div.card div.card-content.hero-image, div.card div.card-footer.hero-image {
      padding: 0; }
      div.card div.card-header.hero-image img, div.card div.card-content.hero-image img, div.card div.card-footer.hero-image img {
        display: block;
        border-radius: inherit; }
  div.card div.card-header {
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    border-bottom: 0.1rem solid #e6e6e6; }
  div.card div.card-content {
    border-radius: 0.4rem; }
  div.card div.card-footer {
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    border-top: 0.1rem solid #e6e6e6; }

/* ====================================================== */
div.navbar.fixed-top {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%; }
div.navbar div.navbar-item {
  float: left;
  margin-right: 2.4rem;
  color: #636363; }
  div.navbar div.navbar-item a {
    color: inherit;
    text-decoration: none;
    line-height: 1; }
    div.navbar div.navbar-item a:hover {
      color: #383838;
      cursor: pointer; }
div.navbar.theme-dark div.navbar-item {
  color: #d8d8d8; }
  div.navbar.theme-dark div.navbar-item a {
    color: inherit; }
    div.navbar.theme-dark div.navbar-item a:hover {
      color: white; }

/* ====================================================== */
ul.dropdown {
  position: absolute;
  bottom: 0;
  z-index: 3;
  -webkit-transform: translate(0%, 100%);
  -moz-transform: translate(0%, 100%);
  -o-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.1rem 0.2rem 0rem #bfbfbf;
  width: 18rem;
  padding: 0.8rem 0rem 0.8rem 0rem;
  background-color: white;
  overflow: visible; }
  ul.dropdown.on-top {
    bottom: 100%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%); }
  ul.dropdown li ul.dropdown.on-right {
    right: 0;
    bottom: 50%;
    -webkit-transform: translate(100%, 50%);
    -moz-transform: translate(100%, 50%);
    -o-transform: translate(100%, 50%);
    -ms-transform: translate(100%, 50%);
    transform: translate(100%, 50%); }
  ul.dropdown li ul.dropdown.on-left {
    left: 0;
    bottom: 50%;
    -webkit-transform: translate(-100%, 50%);
    -moz-transform: translate(-100%, 50%);
    -o-transform: translate(-100%, 50%);
    -ms-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%); }
  ul.dropdown.align-center {
    left: 50%;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%); }
  ul.dropdown.align-right {
    right: 0; }
  ul.dropdown li {
    padding: 0.3em 1em;
    color: #383838; }
    ul.dropdown li:hover {
      color: white;
      background-color: #3e9def; }
      ul.dropdown li:hover a:hover {
        color: inherit; }
  ul.dropdown.theme-dark {
    background-color: #4c4c4c; }
    ul.dropdown.theme-dark hr {
      border-color: #939393; }
    ul.dropdown.theme-dark li {
      color: #d8d8d8; }
      ul.dropdown.theme-dark li a:hover {
        color: white; }
  ul.dropdown.resize-medium {
    width: 28rem; }
  ul.dropdown.resize-large {
    width: 36rem; }

ul.dropdown.width-auto, div.popover.width-auto {
  width: auto;
  white-space: nowrap; }

/* ====================================================== */
div.popover {
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  background-color: white;
  border: 0.1rem solid #d8d8d8;
  border-radius: 0.4rem;
  padding: 1.2rem;
  width: 16rem;
  box-shadow: 0.1rem 0.1rem 0.1rem #d8d8d8; }
  div.popover.resize-small {
    width: 12rem; }
  div.popover.resize-medium {
    width: 25rem; }
  div.popover.resize-large {
    width: 36rem; }
  div.popover.on-bottom {
    bottom: 0;
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%); }
  div.popover.on-left {
    bottom: 50%;
    left: 0;
    -webkit-transform: translate(-100%, 50%);
    -moz-transform: translate(-100%, 50%);
    -o-transform: translate(-100%, 50%);
    -ms-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%); }
  div.popover.on-right {
    bottom: 50%;
    left: 100%;
    -webkit-transform: translate(0%, 50%);
    -moz-transform: translate(0%, 50%);
    -o-transform: translate(0%, 50%);
    -ms-transform: translate(0%, 50%);
    transform: translate(0%, 50%); }

div.popmark::before, ul.popmark::before,
li.popmark::before, aside.popmark::before {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: rotate(135deg) translate(-50%, -50%);
  -moz-transform: rotate(135deg) translate(-50%, -50%);
  -o-transform: rotate(135deg) translate(-50%, -50%);
  -ms-transform: rotate(135deg) translate(-50%, -50%);
  transform: rotate(135deg) translate(-50%, -50%);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-color: inherit;
  background-color: inherit; }
div.popmark.mark-top::before, ul.popmark.mark-top::before,
li.popmark.mark-top::before, aside.popmark.mark-top::before {
  top: 0;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  -o-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%); }
div.popmark.mark-right::before, ul.popmark.mark-right::before,
li.popmark.mark-right::before, aside.popmark.mark-right::before {
  top: 50%;
  left: 100%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -moz-transform: rotate(45deg) translate(-50%, -50%);
  -o-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%); }
div.popmark.mark-left::before, ul.popmark.mark-left::before,
li.popmark.mark-left::before, aside.popmark.mark-left::before {
  left: 0;
  top: 50%;
  -webkit-transform: rotate(-135deg) translate(-50%, -50%);
  -moz-transform: rotate(-135deg) translate(-50%, -50%);
  -o-transform: rotate(-135deg) translate(-50%, -50%);
  -ms-transform: rotate(-135deg) translate(-50%, -50%);
  transform: rotate(-135deg) translate(-50%, -50%); }

/* ====================================================== */
ol.code {
  font-family: menlo, monaco, monospace;
  background-color: whitesmoke;
  counter-reset: line-number 0;
  padding: 0.75em 0.75em 0.75em 1em;
  position: relative; }
  ol.code li {
    margin: 0.375em 0em 0.375em 0.875em;
    counter-increment: line-number;
    color: #4c4c4c; }
    ol.code li::before {
      position: absolute;
      left: 0;
      color: #d8d8d8;
      content: counter(line-number); }
    ol.code li:hover {
      background-color: #e6e6e6; }
      ol.code li:hover::before {
        color: #636363; }
  ol.code ol.code-nested, ol.code ol.code-nested ol.code-nested {
    margin-left: 1em;
    border-left: 0.1rem solid #d8d8d8; }

/* ====================================================== */
@-webkit-keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
span.loading::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  height: 1em;
  width: 1em;
  margin: 0rem 0.8rem;
  border-radius: 50%;
  border: 0.2rem solid white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  -webkit-animation: revolution 550ms linear 0s infinite normal;
  -moz-animation: revolution 550ms linear 0s infinite normal;
  -o-animation: revolution 550ms linear 0s infinite normal;
  animation: revolution 550ms linear 0s infinite normal; }
span.loading.theme-dark::before {
  border-right-color: #4c4c4c;
  border-top-color: #4c4c4c; }
span.loading.slow::before {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }
span.loading.reverse::before {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse; }

/* ====================================================== */
/* ====================================================== */
/* ====================================================== */

/*# sourceMappingURL=objects.css.map */
