// default
$white-gray: rgb(242, 242, 242);
$light-gray: rgb(190, 190 , 190);
$medium-gray: rgb(150, 150, 150);
$dark-gray: rgb(81, 81, 81);

// theme-primary
$white-blue: rgb(244, 249, 252);
$light-blue: rgb(192, 227, 249);
$medium-blue: rgb(62, 157, 239);
$dark-blue: rgb(12, 98, 178);

// theme-info
$white-green: rgb(245, 252, 244);
$light-green: rgb(181, 247, 175);
$medium-green: rgb(83, 226, 88);
$dark-green: rgb(29, 155, 65);

// theme-caution
$white-yellow: rgb(252, 251, 242);
$light-yellow: rgb(252, 246, 201);
$medium-yellow: rgb(249, 242, 97);
$dark-yellow: rgb(145, 143, 45); 

// theme-danger
$white-red: rgb(255, 248, 247);
$light-red: rgb(249, 149, 149);
$medium-red: rgb(239, 50, 50);
$dark-red: rgb(178, 37, 12);

$charcoal: rgb(55, 55, 61);
$charcoal-transparent: rgba(55, 55, 61, 0.9);

$black: rgb(30, 30, 33);
$white: rgb(255, 255, 255);
