// default
// $white-gray: rgb(245, 245, 245);
// $light-gray: rgb(190, 190 , 190);
// $medium-gray: rgb(150, 150, 150);
// $dark-gray: rgb(100, 100, 100);

// theme-primary
$white-blue: rgb(244, 250, 255);
$light-blue: rgb(104, 182, 249);
$medium-blue: rgb(62, 157, 239);
$dark-blue: rgb(40, 126, 201);

// theme-info
$white-green: rgb(246, 255, 244);
$light-green: rgb(119, 216, 97);
$medium-green: rgb(84, 196, 58);
$dark-green: rgb(63, 150, 42);

// theme-caution
$white-yellow: rgb(252, 252, 239);
$light-yellow: rgb(249, 249, 119);
$medium-yellow: rgb(242, 242, 48);
$dark-yellow: rgb(150, 150, 30); 

// theme-danger
$white-red: rgb(255, 248, 247);
$light-red: rgb(242, 100, 82);
$medium-red: rgb(239, 78, 57);
$dark-red: rgb(186, 49, 31);

// whites 
$white: rgb(255, 255, 255);
$light-white: rgb(245, 245, 245);
$medium-white: rgb(230, 230, 230);
$dark-white: rgb(215, 215, 215);

// blacks
$white-black: rgb(84, 84, 86);
$light-black: rgb(68, 68, 71);
$medium-black: rgb(46, 46, 51);
$black: rgb(30, 30, 33);

// opacity changed
$white-black-opacity-3: rgba(84, 84, 86, 0.3);
$white-black-opacity-6: rgba(84, 84, 86, 0.6);
$white-black-opacity-8: rgba(84, 84, 86, 0.8);
$black-opacity-8: rgba(30, 30, 33, 0.8);

$dark-white-opacity-3: rgba(215, 215, 215, 0.3);
$dark-white-opacity-6: rgba(215, 215, 215, 0.6);
$dark-white-opacity-8: rgba(215, 215, 215, 0.8);

// links
$link-unvisited: rgb(33, 107, 206);
$link-hover: rgb(21, 65, 145);
$link-visited: rgb(103, 71, 173);

// NEW COLORS BELOW ============================================

// default
$white-gray: rgb(245, 245, 245);
$light-gray: rgb(239, 239, 239);
$medium-gray: rgb(220, 220, 220);
$dark-gray: rgb(198, 198, 198);




















