@mixin set-appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

@mixin select-arrow-color($color) {
  background-image: -webkit-linear-gradient(45deg, transparent 50%, $color 50%);
  background-image: -moz-linear-gradient(45deg, transparent 50%, $color 50%);
  background-image: -o-linear-gradient(45deg, transparent 50%, $color 50%);
}

@mixin transform-origin($x, $y) {
  -webkit-transform-origin: $x $y;
  -moz-transform-origin: $x $y;
  -o-transform-origin: $x $y;
  -ms-transform-origin: $x $y;
  transform-origin: $x $y;
}

@mixin rotate-2d($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -o-transform: rotate($degree);
  -ms-transform: rotate($degree);
  transform: rotate($degree);
}

@mixin translate-2d($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin rotate-translate-2d($degree, $x, $y) {
  -webkit-transform: rotate($degree) translate($x, $y);
  -moz-transform: rotate($degree) translate($x, $y);
  -o-transform: rotate($degree) translate($x, $y);
  -ms-transform: rotate($degree) translate($x, $y);
  transform: rotate($degree) translate($x, $y);
}

@mixin transition($property, $duration, $curve: ease, $delay: 0ms) {
  -webkit-transition: $property $duration $curve $delay;
  -moz-transition: $property $duration $curve $delay;
  -o-transition: $property $duration $curve $delay;
  transition: $property $duration $curve $delay;
}

@mixin animation($name, $duration, $curve: ease, 
  $delay: 0s, $iterations: 1, $direction: normal) {
  -webkit-animation: $name $duration $curve $delay $iterations $direction;
  -moz-animation: $name $duration $curve $delay $iterations $direction;
  -o-animation: $name $duration $curve $delay $iterations $direction;
  animation: $name $duration $curve $delay $iterations $direction;
}

@mixin animation-duration($duration) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;
}















