@import "./colors.scss";

.button {
  font-size: 1.6rem;
  color: $dark-gray;
  text-align: center;
  background-color: $light-gray;
  padding: 0.375em 0.75em;    /* 6px 12px */
  margin: 0.8rem 0.4rem;
  border: 0.0625em solid $light-gray; /* 1px */
  border-radius: 0.1875em;    /* 3px */

  &:hover {
    background-color: $medium-gray;
    border-color: $medium-gray;
  }

  &:active {
    color: $light-gray;
    outline: none;
  }
  
  &:focus:not(:active) {
    border-color: $dark-gray;
    outline: none;
  }

  &[class~="theme-primary"] {
    color: $light-blue;
    border-color: $medium-blue;
    background-color: $medium-blue;

    &:hover {
      background-color: $dark-blue;
      border-color: $dark-blue;
    }

    &:active {
      color: $medium-blue;
    }

    &:focus:not(:active) {
      border-color: $dark-blue;
    }
  }

  &[class~="theme-info"] {
    color: $light-green;
    border-color: $medium-green;
    background-color: $medium-green;

    &:hover {
      background-color: $dark-green;
      border-color: $dark-green;
    }

    &:active {
      color: $medium-green;
    }

    &:focus:not(:active) {
      border-color: $dark-green;
    }
  }

  &[class~="theme-caution"] {
    color: $dark-yellow;
    background-color: $medium-yellow;
    border-color: $medium-yellow;

    &:hover {
      background-color: $dark-yellow;
      border-color: $dark-yellow;
      color: $light-yellow;
    }

    &:active {
      color: $medium-yellow;
    }

    &:focus {
      border-color: $dark-yellow;
    }
  }

  &[class~="theme-danger"] {
    color: $light-red;
    border-color: $medium-red;
    background-color: $medium-red;

    &:hover {
      background-color: $dark-red;
      border-color: $dark-red;
    }

    &:active {
      color: $medium-red;
    }

    &:focus:not(:active) {
      border-color: $dark-red;
    }
  }

  &[class~="resize-small"] {
    font-size: 1.2rem;
  }

  &[class~="resize-medium"] {
    font-size: 2rem;
  }

  &[class~="resize-large"] {
    font-size: 2.6rem;
  }
}

a.button {
  display: inline-block;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.button[class~="wide"] {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* ==================================== */

.button[class~="outlined"] {
  background-color: transparent;
  border-color: $medium-gray;

  &:hover {
    background-color: $light-gray;
  }

  &:active {
    background-color: $medium-gray;
    color: $dark-gray;
  }

  &[class~="theme-primary"] {
    color: $medium-blue;
    border-color: $medium-blue;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $medium-blue;
      color: $dark-blue;
    }
  }

  &[class~="theme-info"] {
    color: $medium-green;
    border-color: $medium-green;

    &:hover {
      background-color: $light-green;
    }

    &:active {
      background-color: $medium-green;
      color: $dark-green;
    }
  }

  &[class~="theme-caution"] {
    color: $dark-yellow;
    border-color: $medium-yellow;

    &:hover {
      background-color: $light-yellow;
    }

    &:active {
      background-color: $medium-yellow;
    }
  }

  &[class~="theme-danger"] {
    color: $medium-red;
    border-color: $medium-red;

    &:hover {
      background-color: $light-red;
    }

    &:active {
      background-color: $medium-red;
      color: $dark-red;
    }
  }
}

/* ==================================== */

.container-buttons {
  div[class*="default-"], div[class*="small-"], 
  div[class*="medium-"], div[class*="large-"] {
    padding: 0.4rem;

    .button {
      @extend .button[class~="wide"];
      margin: 0;
    }
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

/* ==================================== */

div.container-buttons-bar {
  div[class*="default-"], div[class*="small-"], 
  div[class*="medium-"], div[class*="large-"] {
    padding: 0;

    & .button {
      @extend .button[class~="wide"];
    }
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }  

  .button {
    float: left;
    margin: 0;
  }

  .first-button {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }

  .last-button {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
  }

  .button:not(.first-button):not(.last-button) {
    border-radius: 0em;
  }
}

/* ==================================== */















