@import "./colors.scss";

a.button, button.button, 
input[type="submit"], input[type="reset"] {
  font-size: 1.6rem;
  padding: 0.375em 0.75em;    /* 6px 12px */
  margin: 0.6rem;
  // border: 0.0625rem solid $light-gray; /* 1px */
  border-radius: 0.1875em;    /* 3px */
  text-align: center;

  color: $light-black;
  background-color: $light-gray;
  

  &:hover {
    background-color: $medium-gray;
    color: $white-gray;
    cursor: pointer;
  }

  &:active {
    background-color: $dark-gray;
    outline: none;
  }
  
  &:focus:not(:active) {
    outline: none;
  }

  &.resize-small {
    font-size: 1.2rem;
  }

  &.resize-medium {
    font-size: 2.2rem;
  }

  &.resize-large {
    font-size: 2.8rem;
  }

  &.theme-primary {
    color: $white-blue;
    background-color: $medium-blue;

    &:hover {
      background-color: $light-blue;
    }

    &:active {
      background-color: $dark-blue;
    }

    &:focus:not(:active) {
    }
  }

  &.theme-info {
    color: $white-green;
    background-color: $medium-green;

    &:hover {
      background-color: $light-green;
    }

    &:active {
      background-color: $dark-green;
    }

    &:focus:not(:active) {
    }
  }

  &.theme-caution {
    color: $dark-yellow;
    background-color: $medium-yellow;

    &:hover {
      background-color: $light-yellow;
    }

    &:active {
      background-color: $dark-yellow;
      color: $white-yellow;
    }

    &:focus {
    }
  }

  &.theme-danger {
    color: $white-red;
    background-color: $medium-red;

    &:hover {
      background-color: $light-red;
    }

    &:active {
      background-color: $dark-red;
    }

    &:focus:not(:active) {
    }
  }

  &.theme-light {
    color: $medium-black;
    background-color: $medium-white;

    &:hover {
      background-color: $light-white;
    }

    &:active {
      background-color: $dark-white;
    }

    &:focus:not(:active) {
    }
  }

  &.theme-dark {
    color: $light-white;
    background-color: $medium-black;

    &:hover {
      background-color: $light-black;
    }

    &:active {
      background-color: $black;
    }

    &:focus:not(:active) {
    }
  }
}

a.button {
  display: inline-block;

  &:link {
    text-decoration: none;
  }

  &:visited {
    text-decoration: none;
  }
}

.button.wide {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* ====================================================== */

.button.outlined {
  background-color: transparent;
  border-color: $light-gray;

  &:hover {
    background-color: $white-gray;
  }

  &:active {
    background-color: $light-gray;
    color: $dark-gray;
  }

  &.theme-primary {
    color: $medium-blue;
    border-color: $medium-blue;

    &:hover {
      background-color: $white-blue;
    }

    &:active {
      background-color: $medium-blue;
      color: $dark-blue;
    }
  }

  &.theme-info {
    color: $medium-green;
    border-color: $medium-green;

    &:hover {
      background-color: $white-green;
    }

    &:active {
      background-color: $medium-green;
      color: $dark-green;
    }
  }

  &.theme-caution {
    color: $dark-yellow;
    border-color: $medium-yellow;

    &:hover {
      background-color: $white-yellow;
    }

    &:active {
      background-color: $medium-yellow;
    }
  }

  &.theme-danger {
    color: $medium-red;
    border-color: $medium-red;

    &:hover {
      background-color: $white-red;
    }

    &:active {
      background-color: $medium-red;
      color: $dark-red;
    }
  }
}

/* ====================================================== */

div.container-buttons {
  div[class*="default-"], div[class*="small-"], 
  div[class*="medium-"], div[class*="large-"] {
    padding: 0.4rem 0.4rem;

    .button {
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

/* ====================================================== */

div.container-buttons-bar {
  padding: 0.6rem;

  div[class*="default-"], div[class*="small-"], 
  div[class*="medium-"], div[class*="large-"] {
    padding: 0;

    .button {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &::after {
    content: '';
    clear: both;
    display: table;
  }  

  .button {
    float: left;
    margin: 0;
  }

  .first-button {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }

  .last-button {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
  }

  .button:not(.first-button):not(.last-button) {
    border-radius: 0em;
  }
}

/* ====================================================== */















