@import "./colors.scss";
@import "./mixins.scss";

/* input types: 
  button
  checkbox
  color
  date
  datetime-local
  email          textfield
  file
  hidden
  image
  month
  number         textfield      
  password       textfield
  radio
  range
  reset
  search         textfield
  submit
  tel            textfield
  text           textfield
  time
  url            textfield
  week
*/

input[type="email"], input[type="number"],
input[type="password"], input[type="search"], 
input[type="tel"], input[type="text"], input[type="url"], 
select, textarea {
  font-size: 1.6rem;
  display: block;
  width: 100%;
  padding: 0.375em 0.625em;  // 6px 10px
  border: 0.0625em solid $light-gray;
  border-radius: 0.1875em;  // 3px
  margin: 0.8rem 0rem;  // 6px
  color: $black;

  &:hover {
    border-color: $medium-gray;
  }

  &:focus {
    outline: none;
    border-color: $medium-blue;
    box-shadow: 0em 0em 0em 0.2rem $light-blue-thin;
  }

  &.resize-small {
    font-size: 1.2rem;
  }

  &.resize-medium {
    font-size: 2.2rem;
  }

  &.resize-large {
    font-size: 2.8rem;
  }
}

/* ==================================== */

div.select {
  position: relative;

  select:not([multiple]) {
    @include set-appearance(none);
    background-color: $white;
    height: 3.2rem;

    &.resize-small {
      height: 2.45rem;
    }

    &.resize-medium {
      height: 4.425rem;
    }

    &.resize-large {
      height: 5.65rem;
    }
  }

  &:not(:hover):not(.multiple) {
    &::after {
      @include select-arrow-color($light-gray);
      @include rotate-translate-2d(135deg, -50%, 50%);
      content: " ";
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      right: 1.6rem;
      pointer-events: none;
    }
  }

  &:hover:not(.multiple) {
    &::after {
      @include select-arrow-color($medium-gray);
      @include rotate-translate-2d(135deg, -50%, 50%);
      content: " ";
      display: block;
      width: 1rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      right: 1.6rem;
      pointer-events: none;
    }
  }

  select[multiple] {
    background-color: $white;
    height: 9.2rem;

    &.resize-small {
      height: 7rem;
    }

    &.resize-medium {
      height: 13rem;
    }

    &.resize-large {
      height: 16.6rem;
    }
  }

}

/* ==================================== */

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 10rem;
  max-height: 40rem;

  &.no-resize {
    resize: none;
  }
}

/* ==================================== */

label.checkbox, label.radio {
  font-size: 1.6rem;
  display: inline-block;
  padding: 0.375em 0em;
  margin-right: 0.625rem;

  input[type="checkbox"], input[type="radio"] {
    margin-right: 0.2rem;
    border-radius: 0.1875em;  // 3px
  }
}

/* ====================================================== */

form div.field {
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0.6em;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;

  .label {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .help {
    font-size: 1.2rem;
    margin: 0.25em 0em;
  }

  /* ==================================== */

  &.container-field-horizontal {
    &::after {
      content: '';
      clear: both;
      display: block;
    }

    & > div[class*="default-"], & > div[class*="small-"], 
    & > div[class*="medium-"], & > div[class*="large-"] {
      padding: 0;

      &.field-label {
        padding-right: 0.6rem;
        position: relative;
        top: 0.8rem;
      }

      &.field-body {
        padding-left: 0.6rem;

        *:first-child, div.controls-inline input {
          margin-top: 0;
        }

        label.checkbox, label.radio {
          position: relative;
          top: 0.3rem;
        }
        
      }
    }
  }

  /* ==================================== */

  &.theme-primary {
    input:not([type="checkbox"]):not([type="radio"]), 
    select, textarea {
      border-color: $medium-blue;

      &:focus {
        box-shadow: 0em 0em 0em 0.2rem $light-blue-thin;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-blue;
    }
  }

  &.theme-info {
    input:not([type="checkbox"]):not([type="radio"]), 
    select, textarea {
      border-color: $medium-green;

      &:focus {
        box-shadow: 0em 0em 0em 0.2rem $light-green-thin;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-green;
    }
  }

  &.theme-caution {
    input:not([type="checkbox"]):not([type="radio"]), 
    select, textarea {
      border-color: $medium-yellow;

      &:focus {
        box-shadow: 0em 0em 0em 0.2rem $medium-yellow-thin;
      }
    }

    .help {
      color: $dark-yellow;
    }

    label.checkbox, label.radio {
      color: $medium-yellow;
    }
  }

  &.theme-danger {
    input:not([type="checkbox"]):not([type="radio"]), 
    select, textarea {
      border-color: $medium-red;

      &:focus {
        box-shadow: 0em 0em 0em 0.2rem $light-red-thin;
      }
    }

    .help {
      color: $dark-red;
    }

    label.checkbox, label.radio {
      color: $medium-red;
    }
  }
  
}

/* ====================================================== */

div.container-controls {
  &::after {
    content: '';
    clear: both;
    display: block;
  }

  div[class*="default-"], div[class*="small-"], 
  div[class*="medium-"], div[class*="large-"] {
    padding: 0;

    &:not(.first-control):not(.last-control) {
      padding: 0rem 0.6rem;
    }

    &.first-control {
      padding-right: 0.6rem;
    }

    &.last-control {
      padding-left: 0.6rem;
    }
  }
}

/* ====================================================== */

div.controls-inline {
  input {
    display: inline;
    width: initial;
    margin-right: 0.9rem;
  }

  label.checkbox, label.radio {
    input[type="checkbox"], input[type="radio"] {
      margin-right: 0.2rem;
    }
  }
}

/* ====================================================== */
























