@import "./mixins.scss";

* {
  box-sizing: border-box;
}

div[class*="small-"], div[class*="medium-"],
div[class*="large-"], div[class*="default-"] {
  float: left;
  padding: 1.2rem;
}

div.container::after, .clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/* ====================================================== */

*[class*="position-"] {
  position: absolute !important;
}

*[class*="position-left-"] {
  left: 0;
}

*.position-left-top {
  top: 0;
}

*.position-left-center {
  top: 50%;
  @include translate-2d(0%, -50%);
}

*.position-left-bottom {
  bottom: 0;
}

*[class*="position-center-"] {
  left: 50%;
}

*.position-center-top {
  top: 0;
  @include translate-2d(-50%, 0%);
}

*.position-center-center {
  top: 50%;
  @include translate-2d(-50%, -50%);
}

*.position-center-bottom {
  bottom: 0;
  @include translate-2d(-50%, 0%);
}

*[class*="position-right-"] {
  right: 0;
}

*.position-right-top {
  top: 0;
}

*.position-right-center {
  top: 50%;
  @include translate-2d(0%, -50%);
}

*.position-right-bottom {
  bottom: 0;
}

/* ====================================================== */

div.default-1 {
  width: 8.333333333333334%;
}

div.default-2 {
  width: 16.666666666666668%;
}

div.default-3 {
  width: 25%;
}

div.default-4 {
  width: 33.333333333333336%;
}

div.default-5 {
  width: 41.66666666666667%;
}

div.default-6 {
  width: 50%;
}

div.default-7 {
  width: 58.333333333333336%;
}

div.default-8 {
  width: 66.66666666666667%;
}

div.default-9 {
  width: 75%;
}

div.default-10 {
  width: 83.33333333333334%;
}

div.default-11 {
  width: 91.66666666666667%;
}

div.default-12 {
  width: 100%;
}

/* ==================================== */

div.default-push-1 {
  margin-left: 8.333333333333334%;
}

div.default-push-2 {
  margin-left: 16.666666666666668%;
}

div.default-push-3 {
  margin-left: 25%;
}

div.default-push-4 {
  margin-left: 33.333333333333336%;
}

div.default-push-5 {
  margin-left: 41.66666666666667%;
}

div.default-push-6 {
  margin-left: 50%;
}

div.default-push-7 {
  margin-left: 58.333333333333336%;
}

div.default-push-8 {
  margin-left: 66.66666666666667%;
}

div.default-push-9 {
  margin-left: 75%;
}

div.default-push-10 {
  margin-left: 83.33333333333334%;
}

div.default-push-11 {
  margin-left: 91.66666666666667%;
}

div.default-push-12 {
  margin-left: 100%;
}

/* ==================================== */

.height-1-3 {
  height: 33.333333333333336%;
}

.height-2-3 {
  height: 66.66666666666667%;
}

.height-1-4 {
  height: 25%;
}

.height-1-2 {
  height: 50%;
}

.height-3-4 {
  height: 75%;
}

.height-1 {
  height: 100%;
}

/* ====================================================== */

/* <= 420px */
@media screen and (max-width: 26.25rem) {
  div.small-1 {
    width: 8.333333333333334%;
  }

  div.small-2 {
    width: 16.666666666666668%;
  }

  div.small-3 {
    width: 25%;
  }

  div.small-4 {
    width: 33.333333333333336%;
  }

  div.small-5 {
    width: 41.66666666666667%;
  }

  div.small-6 {
    width: 50%;
  }

  div.small-7 {
    width: 58.333333333333336%;
  }

  div.small-8 {
    width: 66.66666666666667%;
  }

  div.small-9 {
    width: 75%;
  }

  div.small-10 {
    width: 83.33333333333334%;
  }

  div.small-11 {
    width: 91.66666666666667%;
  }

  div.small-12 {
    width: 100%;
  }

  /* ==================================== */

  div.small-push-1 {
    margin-left: 8.333333333333334%;
  }

  div.small-push-2 {
    margin-left: 16.666666666666668%;
  }

  div.small-push-3 {
    margin-left: 25%;
  }

  div.small-push-4 {
    margin-left: 33.333333333333336%;
  }

  div.small-push-5 {
    margin-left: 41.66666666666667%;
  }

  div.small-push-6 {
    margin-left: 50%;
  }

  div.small-push-7 {
    margin-left: 58.333333333333336%;
  }

  div.small-push-8 {
    margin-left: 66.66666666666667%;
  }

  div.small-push-9 {
    margin-left: 75%;
  }

  div.small-push-10 {
    margin-left: 83.33333333333334%;
  }

  div.small-push-11 {
    margin-left: 91.66666666666667%;
  }

  div.small-push-12 {
    margin-left: 100%;
  }

  /* ==================================== */

  .height-1-3-small {
    height: 33.333333333333336%;
  }

  .height-2-3-small {
    height: 66.66666666666667%;
  }

  .height-1-4-small {
    height: 25%;
  }

  .height-1-2-small {
    height: 50%;
  }

  .height-3-4-small {
    height: 75%;
  }

  .height-1-small {
    height: 100%;
  }

  /* ==================================== */

  .absent-small {
    display: none !important;
  }

  .invisible-small {
    visibility: hidden !important;
  }
}

/* ====================================================== */

/* >= 421px && <= 768px */
@media screen and (min-width: 26.3125rem) and (max-width: 48rem) {
  div.medium-1 {
    width: 8.333333333333334%;
  }

  div.medium-2 {
    width: 16.666666666666668%;
  }

  div.medium-3 {
    width: 25%;
  }

  div.medium-4 {
    width: 33.333333333333336%;
  }

  div.medium-5 {
    width: 41.66666666666667%;
  }

  div.medium-6 {
    width: 50%;
  }

  div.medium-7 {
    width: 58.333333333333336%;
  }

  div.medium-8 {
    width: 66.66666666666667%;
  }

  div.medium-9 {
    width: 75%;
  }

  div.medium-10 {
    width: 83.33333333333334%;
  }

  div.medium-11 {
    width: 91.66666666666667%;
  }

  div.medium-12 {
    width: 100%;
  }

  /* ==================================== */

  div.medium-push-1 {
    margin-left: 8.333333333333334%;
  }

  div.medium-push-2 {
    margin-left: 16.666666666666668%;
  }

  div.medium-push-3 {
    margin-left: 25%;
  }

  div.medium-push-4 {
    margin-left: 33.333333333333336%;
  }

  div.medium-push-5 {
    margin-left: 41.66666666666667%;
  }

  div.medium-push-6 {
    margin-left: 50%;
  }

  div.medium-push-7 {
    margin-left: 58.333333333333336%;
  }

  div.medium-push-8 {
    margin-left: 66.66666666666667%;
  }

  div.medium-push-9 {
    margin-left: 75%;
  }

  div.medium-push-10 {
    margin-left: 83.33333333333334%;
  }

  div.medium-push-11 {
    margin-left: 91.66666666666667%;
  }

  div.medium-push-12 {
    margin-left: 100%;
  }

  /* ==================================== */

  .height-1-3-medium {
    height: 33.333333333333336%;
  }

  .height-2-3-medium {
    height: 66.66666666666667%;
  }

  .height-1-4-medium {
    height: 25%;
  }

  .height-1-2-medium {
    height: 50%;
  }

  .height-3-4-medium {
    height: 75%;
  }

  .height-1-medium {
    height: 100%;
  }

  /* ==================================== */

  .absent-medium {
    display: none !important;
  }

  .invisible-medium {
    visibility: hidden !important;
  }
}

/* ====================================================== */

/* >= 769px */
@media screen and (min-width: 48.0625rem) {
  div.large-1 {
    width: 8.333333333333334%;
  }

  div.large-2 {
    width: 16.666666666666668%;
  }

  div.large-3 {
    width: 25%;
  }

  div.large-4 {
    width: 33.333333333333336%;
  }

  div.large-5 {
    width: 41.66666666666667%;
  }

  div.large-6 {
    width: 50%;
  }

  div.large-7 {
    width: 58.333333333333336%;
  }

  div.large-8 {
    width: 66.66666666666667%;
  }

  div.large-9 {
    width: 75%;
  }

  div.large-10 {
    width: 83.33333333333334%;
  }

  div.large-11 {
    width: 91.66666666666667%;
  }

  div.large-12 {
    width: 100%;
  }

  /* ==================================== */

  div.large-push-1 {
    margin-left: 8.333333333333334%;
  }

  div.large-push-2 {
    margin-left: 16.666666666666668%;
  }

  div.large-push-3 {
    margin-left: 25%;
  }

  div.large-push-4 {
    margin-left: 33.333333333333336%;
  }

  div.large-push-5 {
    margin-left: 41.66666666666667%;
  }

  div.large-push-6 {
    margin-left: 50%;
  }

  div.large-push-7 {
    margin-left: 58.333333333333336%;
  }

  div.large-push-8 {
    margin-left: 66.66666666666667%;
  }

  div.large-push-9 {
    margin-left: 75%;
  }

  div.large-push-10 {
    margin-left: 83.33333333333334%;
  }

  div.large-push-11 {
    margin-left: 91.66666666666667%;
  }

  div.large-push-12 {
    margin-left: 100%;
  }

  /* ==================================== */

  .height-1-3-large {
    height: 33.333333333333336%;
  }

  .height-2-3-large {
    height: 66.66666666666667%;
  }

  .height-1-4-large {
    height: 25%;
  }

  .height-1-2-large {
    height: 50%;
  }

  .height-3-4-large {
    height: 75%;
  }

  .height-1-large {
    height: 100%;
  }

  /* ==================================== */

  .absent-large {
    display: none !important;
  }

  .invisible-large {
    visibility: hidden !important;
  }
}
