@import "./colors.scss";

div.modal-backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: $charcoal-transparent;
  padding: 1.8rem;

  div.modal {
    font-size: 1rem;
    padding: 1.8em;
    background-color: $white;
    border-radius: 0.5em;
  }
}

/* ==================================== */

.box {
  font-size: 1rem;
  padding: 0.9em;
  border: 0.1em solid $medium-gray;
  border-radius: 0.4em;
  background-color: $white;
  box-shadow: 0em 0.05em 0.04em 0em $light-gray;
}

/* ==================================== */

div.message {
  font-size: 1rem;
  border: 0.1em solid $dark-gray;
  border-radius: 0.3em;
  background-color: $light-gray;

  div.message-header {
    padding: 0.6em 1em;
    color: $white;
    background-color: $dark-gray;
  }

  div.message-body {
    padding: 0.8em 1.2em;
    color: $dark-gray;
  }

  &[class~="theme-primary"] {
    border-color: $medium-blue;
    background-color: $light-blue;

    .message-header {
      color: $light-blue;
      background-color: $medium-blue;
    }

    .message-body {
      color: $dark-blue;
    }
  }

  &[class~="theme-info"] {
    border-color: $medium-green;
    background-color: $light-green;

    .message-header {
      color: $light-green;
      background-color: $medium-green;
    }

    .message-body {
      color: $dark-green;
    }
  }

  &[class~="theme-caution"] {
    border-color: $medium-yellow;
    background-color: $light-yellow;

    .message-header {
      color: $dark-yellow;
      background-color: $medium-yellow;
    }

    .message-body {
      color: $dark-yellow;
    }
  }

  &[class~="theme-danger"] {
    border-color: $medium-red;
    background-color: $light-red;

    .message-header {
      color: $light-red;
      background-color: $medium-red;
    }

    .message-body {
      color: $dark-red;
    }
  }
}

/* ==================================== */

div.tabs {
  font-size: 1rem;
  border-bottom: 0.1em solid $medium-gray;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
  

  li {
    font-size: 1em;
    float: left;
    padding: 0.8em 1.5em;
    margin: 0em -0.1em -0.1em 0em;
    border-radius: 0.3em 0.3em 0em 0em;
    color: $medium-gray;

    &:hover {
      padding-bottom: 0.7em;
      color: $dark-gray;
      background-color: $light-gray;
      border-bottom: 0.1em solid $dark-gray;
    }

    &[class~="active"] {
      padding-bottom: 0.7em;
      color: $medium-blue;
      background-color: $light-gray;
      border-bottom: 0.1em solid $medium-blue;
      font-weight: bold;
    }
  }
}










