@import "./colors.scss";
@import "./mixins.scss";

div.modal-backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: $charcoal-transparent;
  padding: 1.8rem;

  div.modal {
    font-size: 1rem;
    padding: 1.8em;
    background-color: $white;
    border-radius: 0.5em;
  }
}

/* ====================================================== */

.box {
  font-size: 1rem;
  padding: 0.9em;
  border: 0.1em solid $light-gray;
  border-radius: 0.4em;
  background-color: $white;
  box-shadow: 0em 0.05em 0.04em 0em $white-gray;
}

/* ====================================================== */

div.message {
  font-size: 1rem;
  border: 0.1em solid $dark-gray;
  border-radius: 0.3em;
  background-color: $white-gray;
  margin: 0.6em 0em;

  div.message-header {
    padding: 0.8em;
    color: $white;
    background-color: $dark-gray;
  }

  div.message-body {
    padding: 0.8em 0.8em 0.8em 1.2em;
    color: $dark-gray;
  }

  &[class~="theme-primary"] {
    border-color: $medium-blue;
    background-color: $white-blue;

    .message-header {
      color: $white-blue;
      background-color: $medium-blue;
    }

    .message-body {
      color: $dark-blue;
    }
  }

  &[class~="theme-info"] {
    border-color: $medium-green;
    background-color: $white-green;

    .message-header {
      color: $white-green;
      background-color: $medium-green;
    }

    .message-body {
      color: $dark-green;
    }
  }

  &[class~="theme-caution"] {
    border-color: $medium-yellow;
    background-color: $white-yellow;

    .message-header {
      color: $dark-yellow;
      background-color: $medium-yellow;
    }

    .message-body {
      color: $dark-yellow;
    }
  }

  &[class~="theme-danger"] {
    border-color: $medium-red;
    background-color: $white-red;

    .message-header {
      color: $white-red;
      background-color: $medium-red;
    }

    .message-body {
      color: $dark-red;
    }
  }
}

/* ====================================================== */

div.tabs {
  font-size: 1rem;
  border-bottom: 0.1em solid $light-gray;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
  

  li {
    font-size: 1em;
    float: left;
    padding: 0.8em 1.2em;
    margin: 0em -0.1em -0.1em 0em;
    border-radius: 0.3em 0.3em 0em 0em;
    color: $light-gray;

    &:hover {
      padding-bottom: 0.7em;
      color: $dark-gray;
      background-color: $white-gray;
      border-bottom: 0.1em solid $dark-gray;
    }

    &[class~="active"] {
      padding-bottom: 0.7em;
      color: $medium-blue;
      background-color: $white-gray;
      border-bottom: 0.1em solid $medium-blue;
      font-weight: bold;
    }
  }
}

/* ====================================================== */

ul.menu {
  font-size: 1rem;
  border: 0.1em solid $dark-white;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.2em 0em $medium-white;

  .button {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    font-size: 1rem;  
    padding: 1em;
    vertical-align: middle;

    &.menu-header, &.menu-item, &.menu-footer {
      background-color: $white;

      p {
        font-size: 1.4rem;
      }
    }

    &.menu-header[class~="alternate"], 
    &.menu-item[class~="alternate"], 
    &.menu-footer[class~="alternate"] {
      background-color: $light-white;
    }
  
    &.menu-header {
      border-radius: 0.3em 0.3em 0em 0em;
      border-bottom: 0.1em solid $dark-white;
    }

    &.menu-item {
      border-bottom: 0.1em solid $dark-white;
    }

    &.menu-footer {
      border-radius: 0em 0em 0.3em 0.3em;
    }
  }

}

/* ====================================================== */

span.stamp {
  font-size: 1em;
  padding: 0.25em 0.5em;
  border-radius: 0.1875em;
  background-color: $medium-gray;
  color: $white;

  &[class~="round"] {
    border-radius: 1em;
  }

  &[class~="theme-primary"] {
    background-color: $medium-blue;
  }

  &[class~="theme-info"] {
    background-color: $medium-green;
  }

  &[class~="theme-caution"] {
    background-color: $medium-yellow;
  }

  &[class~="theme-danger"] {
    background-color: $medium-red;
  }
}

/* ====================================================== */

span.icon {
  display: inline-block;
  height: auto;
  width: 2rem;

  &[class~="size-large"] {
    width: 2.6rem;
  }

  &[class~="size-doubled"] {
    width: 3.8rem;
  }

  &[class~="size-tripled"] {
    width: 5.8rem;
  }
}

/* ====================================================== */

button.close {
  font-size: 1rem;
  height: 2em;
  width: 2em;
  border-radius: 0.3em;

  &::before {
    position: relative;
    top: 50%;
    content: '';
    border: 0.2em solid $white;
    // display: block;
    @include rotate-2d(45deg);
  }

  &::after {
    content: '';
    border: 0.2em solid $black;
    display: block;
    // @include rotate-2d(135deg);
  }
}

/* ====================================================== */

/* ====================================================== */















