@import "./colors.scss";
@import "./mixins.scss";

div.modal-backdrop {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: $black-opacity-8;
  padding: 1.8rem;

  div.modal {
    font-size: 1rem;
    padding: 1.8em;
    background-color: $white;
    border-radius: 0.5em;
  }
}

/* ====================================================== */

.box {
  font-size: 1rem;
  padding: 0.9em;
  border: 0.1em solid $light-gray;
  border-radius: 0.4em;
  background-color: $white;
  box-shadow: 0em 0.05em 0.04em 0em $white-gray;
}

/* ====================================================== */

div.message {
  font-size: 1rem;
  border: 0.1em solid $dark-gray;
  border-radius: 0.3em;
  background-color: $white-gray;
  margin: 0.6em 0em;

  div.message-header {
    padding: 0.8em;
    color: $white;
    background-color: $dark-gray;
  }

  div.message-body {
    padding: 0.8em 0.8em 0.8em 1.2em;
    color: $dark-gray;
  }

  &[class~="theme-primary"] {
    border-color: $medium-blue;
    background-color: $white-blue;

    .message-header {
      color: $white-blue;
      background-color: $medium-blue;
    }

    .message-body {
      color: $dark-blue;
    }
  }

  &[class~="theme-info"] {
    border-color: $medium-green;
    background-color: $white-green;

    .message-header {
      color: $white-green;
      background-color: $medium-green;
    }

    .message-body {
      color: $dark-green;
    }
  }

  &[class~="theme-caution"] {
    border-color: $medium-yellow;
    background-color: $white-yellow;

    .message-header {
      color: $dark-yellow;
      background-color: $medium-yellow;
    }

    .message-body {
      color: $dark-yellow;
    }
  }

  &[class~="theme-danger"] {
    border-color: $medium-red;
    background-color: $white-red;

    .message-header {
      color: $white-red;
      background-color: $medium-red;
    }

    .message-body {
      color: $dark-red;
    }
  }
}

/* ====================================================== */

div.tabs {
  font-size: 1rem;
  border-bottom: 0.1em solid $light-gray;

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  li {
    font-size: 1em;
    float: left;
    padding: 0.8em 1.2em;
    margin: 0em -0.1em -0.1em 0em;
    border-radius: 0.3em 0.3em 0em 0em;
    color: $light-gray;

    &:hover {
      padding-bottom: 0.7em;
      color: $dark-gray;
      background-color: $white-gray;
      border-bottom: 0.1em solid $dark-gray;
    }

    &[class~="active"] {
      padding-bottom: 0.7em;
      color: $medium-blue;
      background-color: $white-gray;
      border-bottom: 0.1em solid $medium-blue;
      font-weight: bold;
    }
  }
}

/* ====================================================== */

ul.menu {
  font-size: 1rem;
  border: 0.1em solid $dark-white;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em 0.2em 0em $medium-white;

  .button {
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    font-size: 1rem;  
    padding: 1em;
    vertical-align: middle;

    &.menu-header, &.menu-item, &.menu-footer {
      background-color: $white;

      p {
        font-size: 1.4rem;
      }
    }

    &.menu-header[class~="alternate"], 
    &.menu-item[class~="alternate"], 
    &.menu-footer[class~="alternate"] {
      background-color: $light-white;
    }
  
    &.menu-header {
      border-radius: 0.3em 0.3em 0em 0em;
      border-bottom: 0.1em solid $dark-white;
    }

    &.menu-item {
      border-bottom: 0.1em solid $dark-white;
    }

    &.menu-footer {
      border-radius: 0em 0em 0.3em 0.3em;
    }
  }

}

/* ====================================================== */

span.icon {
  display: inline-block;
  height: auto;
  width: 2rem;

  &[class~="size-large"] {
    width: 2.6rem;
  }

  &[class~="size-doubled"] {
    width: 3.8rem;
  }

  &[class~="size-tripled"] {
    width: 5.8rem;
  }
}

/* ====================================================== */

button.close {
  font-size: 1rem;
  height: 1.6em;
  width: 1.6em;
  border-radius: 0.2em;
  position: relative;
  background-color: $dark-white;

  &:hover {
    background-color: $medium-white;
    cursor: pointer;

    &::before, &::after {
      background-color: $light-black;
      border-color: $light-black;
    }
  }

  &:focus:not(:active) {
    outline: none;
    box-shadow: 0em 0em 0em 0.2rem $light-blue;
  }

  &:active {
    outline: none;
    background-color: $light-white;
    
    &::before, &::after {
      background-color: $black;
      border-color: $black;
    }
  }

  &::before, &::after {
    content: '';
    background-color: $white-black;
    border: 0.1em solid $white-black;
    height: 0.8em;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform-origin(0%, 0%);
  }

  &::before {
    @include rotate-translate-2d(45deg, -50%, -50%);
  }

  &::after {
    @include rotate-translate-2d(135deg, -50%, -50%);
  }

  &[class~="alternate"] {
    background-color: $white-black;

    &::before, &::after {
      background-color: $dark-white;
      border-color: $dark-white;
    }

    &:hover {
      background-color: $light-black;

      &::before, &::after {
        background-color: $medium-white;
        border-color: $medium-white;
      }
    }

    &:active {
      background-color: $medium-black;

      &::before, &::after {
        background-color: $white;
        border-color: $white;
      }
    }
  }

  &[class~="resize-small"] {
    height: 1.2em;
    width: 1.2em;

    &::before, &::after {
      height: 0.6em;
    }
  }

  &[class~="resize-medium"] {
    height: 2em;
    width: 2em;

    &::before, &::after {
      height: 1.2em;
    }
  }

  &[class~="resize-large"] {
    height: 2.4em;
    width: 2.4em;

    &::before, &::after {
      border-width: 0.2em;
      height: 1.4em;
    }
  }


}

/* ====================================================== */

span.stamp {
  font-size: 1em;
  padding: 0.2em 0.5em 0.25em 0.5em;
  display: inline-block;
  border-radius: 0.1875em;
  line-height: 1.4;
  background-color: $dark-white;
  color: $white;

  &[class~="round"] {
    border-radius: 1em;
  }

  &[class~="theme-primary"] {
    background-color: $medium-blue;
  }

  &[class~="theme-info"] {
    background-color: $medium-green;
  }

  &[class~="theme-caution"] {
    background-color: $medium-yellow;
  }

  &[class~="theme-danger"] {
    background-color: $medium-red;
  }
}

div.stamp-duo {
  font-size: 1.2rem;
  display: inline-block;

  &::after {
    content: '';
    clear: both;
    display: table;
  }

  span.stamp {
    font-size: inherit;
    float: left;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &[class~="relative"] {
      min-width: 2em;
      min-height: 1.8em;
    }
  }
}

div.stamps {
  &::after {
    content: '';
    clear: both;
    display: table;
  }

  & > span.stamp, & > div.stamp-duo {
    float: left;
    margin: 0.4rem;
  }
}

/* ====================================================== */


/* ====================================================== */















