@import "./colors.scss";
/*
scale ratio : 1.3333
*/

.t {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, 
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
  "Segoe UI Symbol";
  color: inherit;
  line-height: 1.5;
}

.tc {
  @extend .t;
  color: $black;
}

.lh-1 {
  line-height: 1 !important;
}

.huge-1 {
  font-size: 6.7rem !important;
}

.huge-2 {
  font-size: 5.1rem !important;
}

.h1 {
  font-size: 3.8rem !important;
}

.h2 {
  font-size: 2.8rem !important;
}

.h3 {
 font-size: 2.1rem !important;
}

.h4, .p {
  font-size: 1.6rem !important;
}

.p-alt {
  font-size: 1.4rem !important;
}

.h5 {
  font-size: 1.2rem !important;
}

.h6 {
  font-size: 1rem !important;
}

/* ====================================================== */

/* <= 420px */
@media screen and (max-width: 26.25rem) {
  .huge-1-small {
    font-size: 6.7rem !important;
  }

  .huge-2-small {
    font-size: 5.1rem !important;
  }

  .h1-small {
    font-size: 3.8rem !important;
  }

  .h2-small {
    font-size: 2.8rem !important;
  }

  .h3-small {
   font-size: 2.1rem !important;
  }

  .h4-small, .p-small {
    font-size: 1.6rem !important;
  }

  .p-alt-small {
    font-size: 1.4rem !important;
  }

  .h5-small {
    font-size: 1.2rem !important;
  }

  .h6-small {
    font-size: 1rem !important;
  }
}

/* ====================================================== */

/* >= 421px && <= 768px */
@media screen and (min-width: 26.3125rem) and (max-width: 48rem) {
  .huge-1-medium {
    font-size: 6.7rem !important;
  }

  .huge-2-medium {
    font-size: 5.1rem !important;
  }

  .h1-medium {
    font-size: 3.8rem !important;
  }

  .h2-medium {
    font-size: 2.8rem !important;
  }

  .h3-medium {
   font-size: 2.1rem !important;
  }

  .h4-medium, .p-medium {
    font-size: 1.6rem !important;
  }

  .p-alt-medium {
    font-size: 1.4rem !important;
  }

  .h5-medium {
    font-size: 1.2rem !important;
  }

  .h6-medium {
    font-size: 1rem !important;
  }
}

/* ====================================================== */

/* >= 769px */
@media screen and (min-width: 48.0625rem) {
  .huge-1-large {
    font-size: 6.7rem !important;
  }

  .huge-2-large {
    font-size: 5.1rem !important;
  }

  .h1-large {
    font-size: 3.8rem !important;
  }

  .h2-large {
    font-size: 2.8rem !important;
  }

  .h3-large {
   font-size: 2.1rem !important;
  }

  .h4-large, .p-large {
    font-size: 1.6rem !important;
  }

  .p-alt-large {
    font-size: 1.4rem !important;
  }

  .h5-large {
    font-size: 1.2rem !important;
  }

  .h6-large {
    font-size: 1rem !important;
  }
}

/* ====================================================== */

.vw-1 {
  font-size: 1vw !important;
}

.vw-2 {
  font-size: 2vw !important;
}

.vw-3 {
  font-size: 3vw !important;
}

.vw-4 {
  font-size: 4vw !important;
}

.vw-5 {
  font-size: 5vw !important;
}

.vw-6 {
  font-size: 6vw !important;
}

/* ====================================================== */

span.snippet {
  font-family: menlo, monaco, monospace;
  display: inline-block;
  border-radius: 0.1875em;
  padding: 0em 0.375em;
  background-color: $medium-white;
  color: $medium-blue;
}

/* ====================================================== */

a.a {
  &:link {
    color: $link-unvisited;
    text-decoration: none;
  }

  &:hover:not(:visited) {
    color: $link-hover;
    outline: none;
    text-decoration: underline;
  }

  &:visited {
    color: $link-visited;

    &:hover {
      color: $link-visited-hover;
    }
  }
}

a.a:focus, a:focus {
  outline: none;
  text-decoration: underline;
}

/* ====================================================== */

















