@import "./colors.scss";
@import "./mixins.scss";
/*
scale ratio : 1.33333
*/

.t {
  font-family: sans-serif;
  color: $medium-black;
  line-height: 2.6rem;
}

.huge-1 {
  font-size: 5.1rem;
  line-height: 4.8rem;
}

.huge-2 {
  font-size: 6.7rem;
  line-height: 6rem;
}

.h1 {
  font-size: 3.8rem;
  line-height: 3.2rem;
}

.h2 {
  font-size: 2.8rem;
}

.h3 {
 font-size: 2.1rem;
}

.h4, .p {
  font-size: 1.6rem;
}

.p-small {
  font-size: 1.4rem;
}

.h5, .small {
  font-size: 1.2rem;
}

.h6 {
  font-size: 1rem;
}

/* ====================================================== */

ul.ul {
  &[class~="square"] {
    list-style: square inside;
  }

  &[class~="circle-solid"] {
    list-style: disc inside;
  }

  &[class~="circle-hollow"] {
    list-style: circle inside;
  }
}

ol.ol {

  &[class~="numbers"] {
    list-style: decimal inside;
  }

  &[class~="alpha-lower"] {
    list-style: lower-alpha inside;
  }

  &[class~="alpha-upper"] {
    list-style: upper-alpha inside;
  }

  &[class~="roman-lower"] {
    list-style: lower-roman inside;
  }

  &[class~="roman-upper"] {
    list-style: upper-roman inside;
  }
}

ul.ul li.sublist, ol.ol li.sublist {
  list-style-type: none;

  ul.ul, ol.ol {
    margin-left: 1.5rem;
  }
}
















