.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}

.no-radius {
  border-radius: 0 !important;
}

.no-shadow {
  box-shadow: none !important;
}

/* ====================================================== */

.to-left {
  float: left;
}

.to-right {
  float: right;
}

/* ====================================================== */

.absent {
  display: none !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.invisible {
  visibility: hidden !important;
}

/* ====================================================== */

.relative {
  position: relative;
}

*[disabled] {
  opacity: 0.5;
}

/* ====================================================== */

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}



