---
---
<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sandbox</title>
  <!-- css includes -->
  {% include css-links.html %}
</head>
<body>
  <div class="p-2 pt-3 pb-4 mb-4">
    <h1 class="huge-1 text-center">Sandbox</h1>
    <div class="grid">
      <div class="unit-12 unit-6-lg">
        <h3>Sandbox is a free and open source <strong>CSS</strong> framework.</h3>
        <h3 class="mt-1">It's a toolkit that makes building responsive layouts easy.</h3>
        <h3 class="mt-1">It provides a component library, buttons, forms and much more.</h3>
      </div>
      <div class="unit-12 unit-6-lg">
        <a href="" class="button h2 primary wide">
          Get Sandbox
        </a>
        <a href="./docs/overview.html" class="button h2 info wide">
          <i class="fa fa-book"></i>
          Docs
        </a>
        <a href="https://github.com/dlcNine/sandbox" target="_blank" class="button h2 dark wide">
          <i class="fa fa-github"></i>
          Github
        </a>
      </div>
    </div>
  </div>
  <div class="banner h5 demo-mblue flex flex-center flex-cross-center">
    <h2 class="text-white">Sandbox is</h2>
  </div>
  <div class="p-2">
    <div class="grid pt-4 pb-4 mt-2">
      <div class="unit-12 unit-4-lg">
        <h2>Scalable</h2>
        <p>Sandbox was built using relative units (primarily <strong>rem</strong> and <strong>em</strong>) so that components can be scaled by changing their font size.</p>
      </div>
      <div class="unit-12 unit-8-lg flex flex-center">
        <div>
          <button class="close h6 light"></button>
          <button class="close h5 light"></button>
          <button class="close h4 light"></button>
          <button class="close h3 light"></button>
          <button class="close h2 light"></button>
          <button class="close h1 light absent-sm"></button>
          <button class="close huge-2 light absent-sm"></button>
          <button class="close huge-1 light absent-sm"></button>
          <button class="close huge-1 dark absent-sm"></button>
          <button class="close huge-2 dark absent-sm"></button>
          <button class="close h1 dark absent-sm"></button>
          <button class="close h2 dark"></button>
          <button class="close h3 dark"></button>
          <button class="close h4 dark"></button>
          <button class="close h5 dark"></button>
          <button class="close h6 dark"></button>
        </div>
      </div>
    </div>
    <hr class="mt-2 mb-2">
    <div class="grid pt-4 pb-4">
      <div class="unit-12 unit-8-lg">
        <div class="unit-12-sm unit-6-md unit-3-lg">
          <div class="demo-mred r">
            <p class="h1-lg h2-md h3-sm text-white text-center">I</p>
          </div>
        </div>
        <div class="unit-12-sm unit-6-md unit-3-lg">
          <div class="demo-mgreen r">
            <p class="h1-lg h2-md h3-sm text-white text-center">&lt;3</p>
          </div>
        </div>
        <div class="unit-12-sm unit-6-md unit-3-lg">
          <div class="demo-mblue r">
            <p class="h1-lg h2-md h3-sm text-white text-center">Sand</p>
          </div>
        </div>
        <div class="unit-12-sm unit-6-md unit-3-lg">
          <div class="demo-myellow r">
            <p class="h1-lg h2-md h3-sm text-center ">box</p>
          </div>
        </div>
      </div>
      <div class="unit-12 unit-4-lg">
        <h2>Responsive</h2>
        <p>The grid classes, a variety of the utility classes, and the font-size classes are responsive (so that component and font sizes can be set per breakpoint).</p>
      </div>
    </div>
    <hr class="mt-2 mb-2">
    <div class="grid pt-4 pb-4">
      <div class="unit-12-sm unit-8-md unit-4-lg push-2-md text-center">
        <h2>Modular</h2>
        <p>Sandbox is written in SCSS and is structured so that you can choose what you'll use.</p>
      </div>
      <div class="unit-12-sm unit-8-md unit-4-lg push-2-md text-center">
        <h2>Customizable</h2>
        <p>Plug in your own values to Sandbox's SCSS variables, or hack the code to your own liking.</p>
      </div>
      <div class="unit-12-sm unit-8-md unit-4-lg push-2-md text-center">
        <h2>JavaScript Free</h2>
        <p>Sandbox compiles to a single CSS file, leaving you the freedom to implement your own JavaScript.</p>
      </div>
      <div class="unit-12-sm unit-8-md unit-4-lg push-2-md push-4-lg text-center">
        <h2>Lightweight</h2>
        <p>Sandbox under 60kb large, leaving plenty of room for custom expansion.</p>
      </div>
    </div>
  </div>
  <div class="banner h5 demo-mblue flex flex-center flex-cross-center">
    <h2 class="text-white">Easy to Write</h2>
  </div>
  </div>
  <div class="p-2">
    <div class="grid pt-3 pb-3">
      <div class="unit-12">
        <div class="message info mt-0">
          <div class="message-header">
            <p>Lorem ipsum</p>
          </div>
          <div class="message-body">
            <p class="p-alt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, accusamus.</p>
          </div>
        </div>
      </div>
      <div class="unit-12">
        <div class="relative">
          <button class="button outlined absolute right-top demo-copy-button h5 z-10 m-0">copy</button>
          <ol class="code p-alt text-nowrap ox-auto">
            <li class="line">
              <span class="text-blue">&lt;div</span>
              <span class="text-violet">class=</span><span class="text-indigo">"message info"</span><span class="text-blue">&gt;</span>
            </li>
            <ol class="code-nested">
              <li class="line">
                <span class="text-blue">&lt;div</span>
                <span class="text-violet">class=</span><span class="text-indigo">"message-header"</span><span class="text-blue">&gt;</span>
              </li>
              <ol class="code-nested">
                <li class="line">
                  <span class="text-blue">&lt;p&gt;</span>Lorem ipsum<span class="text-blue">&lt;/p&gt;</span>
                </li>
              </ol>
              <li class="line"><span class="text-blue">&lt;/div&gt;</span></li>
              <li class="line">
                <span class="text-blue">&lt;div</span> 
                <span class="text-violet">class=</span><span class="text-indigo">"message-body"</span><span class="text-blue">&gt;</span>
              </li>
              <ol class="code-nested">
                <li class="line">
                  <span class="text-blue">&lt;p</span>
                  <span class="text-violet">class=</span><span class="text-indigo">"p-alt"</span><span class="text-blue">&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, accusamus.<span class="text-blue">&lt;/p&gt;</span>
                </li>
              </ol>
              <li class="line">
                <span class="text-blue">&lt;/div&gt;</span>
              </li>
            </ol>
            <li class="line">
              <span class="text-blue">&lt;/div&gt;</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <hr>
    <div class="grid pt-3 pb-3">
      <div class="unit-12 unit-4-lg">
        <div class="message danger mt-0">
          <div class="message-header flex flex-between flex-cross-center">
            <p>Inbox almost full!</p>
            <button class="close"></button>
          </div>
        </div>
      </div>
      <div class="unit-12 unit-8-lg">
        <div class="relative">
          <button class="button outlined absolute right-top demo-copy-button h5 z-10 m-0">copy</button>
          <ol class="code p-alt text-nowrap ox-auto">
            <li class="line">
              <span class="text-blue">&lt;div</span> 
              <span class="text-violet">class=</span><span class="text-indigo">"message danger"</span><span class="text-blue">&gt;</span>
            </li>
            <ol class="code-nested">
              <li class="line">
                <span class="text-blue">&lt;div</span> 
                <span class="text-violet">class=</span><span class="text-indigo">"message-header flex flex-between flex-cross-center"</span><span class="text-blue">&gt;</span>
              </li>
              <ol class="code-nested">
                <li class="line">
                  <span class="text-blue">&lt;p&gt;</span>Inbox almost full!<span class="text-blue">&lt;/p&gt;</span>
                </li>
                <li class="line">
                  <span class="text-blue">&lt;button</span>
                  <span class="text-violet">class=</span><span class="text-indigo">"close"</span><span class="text-blue">&gt;&lt;/button&gt;</span>
                </li>
              </ol>
              <li class="line">
                <span class="text-blue">&lt;/div&gt;</span>
              </li>
            </ol>
            <li class="line">
              <span class="text-blue">&lt;/div&gt;</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <hr>
    <div class="grid pt-3 pb-3">
      <div class="unit-12 unit-8-lg">
        <div class="relative">
          <button class="button outlined absolute right-top demo-copy-button h5 z-10 m-0">copy</button>
          <ol class="code p-alt text-nowrap ox-auto">
            <li class="line">
              <span class="text-blue">&lt;div</span>
              <span class="text-violet">class=</span><span class="text-indigo">"message"</span><span class="text-blue">&gt;</span>
            </li>
            <ol class="code-nested">
              <li class="line">
                <span class="text-blue">&lt;div </span>
                <span class="text-violet">class=</span><span class="text-indigo">"message-body"</span><span class="text-blue">&gt;</span>
              </li>
              <ol class="code-nested">
                <li class="line">
                  <span class="text-blue">&lt;p</span>
                  <span class="text-violet">class=</span><span class="text-indigo">"p-alt"</span><span class="text-blue">&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nemo repudiandae voluptatibus magnam dolores quo officiis magni tempora, consequatur deserunt.<span class="text-blue">&lt;/p&gt;</span>
                </li>
              </ol>
              <li class="line">
                <span class="text-blue">&lt;/div&gt;</span>
              </li>
            </ol>
            <li class="line">
              <span class="text-blue">&lt;/div&gt;</span>
            </li>
          </ol>
        </div>
      </div>
      <div class="unit-12 unit-4-lg">
        <div class="message mt-0">
          <div class="message-body">
            <p class="p-alt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nemo repudiandae voluptatibus magnam dolores quo officiis magni tempora, consequatur deserunt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner h5 demo-mblue flex flex-center flex-cross-center">
    <h2 class="text-white">Versatile</h2>
  </div>
  <div class="p-2">
    <div class="grid pb-4">
      <div class="mt-3 mb-4 text-center">
        <h2>Play your way</h2>
        <p>Combine components and utilities to create all kinds of things.</p>
      </div>
      <div class="unit-12-sm unit-8-md unit-4-lg push-2-md">
        <div class="box p-2">
          <h2 class="mb-1">Sign in</h2>
          <form>
            <div class="field">
              <p for="" class="label">Email</p>
              <input type="email" name="email" class="textfield">
              <p class="help absent">(555)867-5309</p>
            </div>
            <div class="field mb-2">
              <div>
                <p for="" class="label">
                  Password
                  <a href="" class="a h5 to-right">Forgot password?</a>
                </p>
              </div>
              <input type="password" name="password" class="textfield">
              <p class="help absent">Use a remembrall</p>
            </div>
            <div class="field">
              <button class="button p wide primary">Sign in</button>
            </div>
            <div class="field mb-1">
              <label for="signIn" class="checkbox p-alt">
                <input id="signIn" type="checkbox" name="keep-signed-in">
                Keep me signed in
              </label>
            </div>
          </form>
          <p class="text-gray text-center p-alt mb-1">New User?</p>
          <form>
            <div class="field">
              <button class="button wide light">Create an account</button>
            </div>
          </form>
        </div>
      </div>
      <div class="unit-12-sm unit-8-md unit-4-lg push-2-md">
        <div class="menu">
          <div class="menu-header flex-row-wrap flex-between flex-cross-center">
            <p class="p-alt text-bold text-nowrap">
              Your repositories
              <span class="stamp round text-normal">20</span>
            </p>
            <button class="button h5 info text-nowrap">New repo</button>
          </div>
          <div class="menu-item pb-0">
            <input class="h5 textfield" type="text" placeholder="find a repository...">
            <ul class="tabs h5 flex-row-wrap flex-center">
              <li class="tab active">
                <a href="" class="tab-a">All</a>
              </li>
              <li class="tab">
                <a href="" class="tab-a">Public</a>
              </li>
              <li class="tab">
                <a href="" class="tab-a">Private</a>
              </li>
              <li class="tab">
                <a href="" class="tab-a">Sources</a>
              </li>
              <li class="tab">
                <a href="" class="tab-a">Forks</a>
              </li>
            </ul>
          </div>
          <div class="menu-item p-alt">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <a href="" class="menu-a">sandbox</a>
          </div>
          <div class="menu-item p-alt">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <a href="" class="menu-a">skynet</a>
          </div>
          <div class="menu-item p-alt">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <a href="" class="menu-a">message-board</a>
          </div>
          <div class="menu-item p-alt">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <a href="" class="menu-a">company-site</a>
          </div>
          <div class="menu-item p-alt">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <a href="" class="menu-a">company-api</a>
          </div>
          <div class="menu-item p-alt">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <a href="" class="menu-a">project-1</a>
          </div>
          <div class="menu-item p-alt">
            <span class="icon">
              <i class="fa fa-book"></i>
            </span>
            <a href="" class="menu-a">project-2</a>
          </div>
          <div class="menu-footer p-alt text-center">
            <a class="menu-a" href="">Load more...</a>
          </div>
        </div>
      </div>
      <div class="unit-12-sm unit-8-md unit-4-lg push-2-md">
        <div class="card">
          <div class="card-header demo-lgray demo-card-header-height relative">
            <p class="huge-2 text-gray absolute center-center">(^-^)</p>
          </div>
          <div class="card-content">
            <p>John Dough</p>
            <p class="p-alt text-gray">Pastry Chef</p>
          </div>
          <div class="card-content">
            <p class="p-alt text-gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam delectus laboriosam assumenda expedita fuga!</p>
            <div class="grid-buttons pt-1">
              <div class="unit-6">
                <button class="button primary">Accept</button>
              </div>
              <div class="unit-6">
                <button class="button">Decline</button>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <span class="h5 text-gray">
              <span class="icon">
                <i class="fa fa-user"></i>
              </span>
              9000 Friends
            </span>
            <span class="h5 text-gray to-right">Joined in 2005</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2">
    <h2 class="text-center mb-1">Build your castle</h2>
      <div class="flex flex-center">
        <a href="" class="button primary h2 h3-sm">Get Sandbox</a>
        <a href="./docs/overview.html" class="button info h2 h3-sm">
          <i class="fa fa-book"></i>
          Docs
        </a>
      </div>
  </div>
  <div class="banner huge-2 demo-mblack relative">
    <p class="text-white text-thin absolute center-center">Sandbox. Built by dlcNine.</p>
  </div>
  <!-- copy-code -->
  {% include copy-code.html %}
  <!-- end copy-code -->
</body>
</html>