<script type="text/javascript">
    (function(){
            const sideMenu = document.querySelector('#sideMenu');
            const toggleSideMenuButtons = document.querySelectorAll('.toggle-side-menu');
            const main = document.querySelector('#main');

            function toggleSideMenu() {
                let state;

                sideMenu.classList.toggle('is-in');
                main.classList.toggle('ml-0');
                main.classList.toggle('unit-12');

                if (sessionStorage.getItem('sideMenuState')) {
                    state = JSON.parse(sessionStorage.getItem('sideMenuState'));
                }
                else {
                    state = {};
                    state.isIn = false;
                }

                if (sideMenu.classList.contains('is-in'))
                    state.isIn = true;
                else
                    state.isIn = false;

               sessionStorage.setItem('sideMenuState', JSON.stringify(state));
            }

            function setActiveTabs() {
                const tabParentSiblings = sideMenu.querySelectorAll('.tab-a + ul');

                for (let index = 0; index < tabParentSiblings.length; index++) {
                    let tabA = tabParentSiblings[index].previousElementSibling;

                    if (sessionStorage.getItem('sideMenuState')) {
                        const state = JSON.parse(sessionStorage.getItem('sideMenuState'));

                        if (state.parentTabsOpen.includes(tabA.innerText.toLowerCase()))
                            tabParentSiblings[index].classList.remove('absent');
                    }

                }
            }

            function initializePage() {
                if (sessionStorage.getItem('sideMenuState')) {
                    let state = JSON.parse(sessionStorage.getItem('sideMenuState'));

                    if (!state.isIn)
                        toggleSideMenu();
                }

                setActiveTabs();
            }

            toggleSideMenuButtons.forEach(function(element) {
                element.addEventListener('click', toggleSideMenu);
            });

            sideMenu.addEventListener('click', function(e) {
                const target = e.target;
                const sibling = target.nextElementSibling;
                let state;

                if (e.target.classList.contains('tab-a') && sibling) {
                    e.preventDefault();
                    sibling.classList.toggle('absent');

                    if (sessionStorage.getItem('sideMenuState')) {
                        state = JSON.parse(sessionStorage.getItem('sideMenuState'));
                    }
                    else {
                        state = {};
                        state.parentTabsOpen = [];
                    }

                    if (sibling.classList.contains('absent') && state.parentTabsOpen.includes(e.target.innerText.toLowerCase())) {
                        const index = state.parentTabsOpen.indexOf(e.target.innerText.toLowerCase());

                        state.parentTabsOpen.splice(index, 1);
                    }
                    else if (!sibling.classList.contains('absent') && !state.parentTabsOpen.includes(e.target.innerText.toLowerCase())) {
                        state.parentTabsOpen.push(e.target.innerText.toLowerCase());
                    }

                    sessionStorage.setItem('sideMenuState', JSON.stringify(state));
                    console.log(sessionStorage.getItem('sideMenuState'));
                }
            });

            initializePage();
    })();
</script>