<script type="text/javascript">
    (function(){
            const sideMenu = document.querySelector('#sideMenu');
            const toggleSideMenuButtons = document.querySelectorAll('.toggle-side-menu');
            const main = document.querySelector('#main');

            function toggleSideMenu() {
                sideMenu.classList.toggle('is-in');
                main.classList.toggle('ml-0');
                main.classList.toggle('unit-12');

                if (sideMenu.classList.contains('is-in'))
                    sessionStorage.setItem('isSideMenuIn', 'true');
                else
                    sessionStorage.setItem('isSideMenuIn', 'false');
            }

            function setActiveTabs() {
                // check that the inputs exists, before pulling their value
                const parent = document.querySelector('input[name="parent"]').value;
                const child = document.querySelector('input[name="child"]').value;
                const tabLinks = sideMenu.querySelectorAll('.tab-a');

                for (let index = 0; index < tabLinks.length; index++) {
                    if (tabLinks[index].innerText.toLowerCase() === parent) {
                        tabLinks[index].parentElement.classList.add('is-active');
                        tabLinks[index].nextElementSibling.classList.remove('absent');
                    }

                    if (tabLinks[index].innerText.toLowerCase() === child) {
                        tabLinks[index].parentElement.classList.add('is-active');
                    }
                }
            }

            function initializePage() {
                setActiveTabs();

                if (sessionStorage.getItem('isSideMenuIn') && !JSON.parse(sessionStorage.getItem('isSideMenuIn'))){
                    toggleSideMenu();
                }
                
            }

            toggleSideMenuButtons.forEach(function(element){
                element.addEventListener('click', toggleSideMenu);
            });

            sideMenu.addEventListener('click', function(e){
                const target = e.target;
                const sibling = target.nextElementSibling;

                if (e.target.classList.contains('tab-a') && sibling) {
                    e.preventDefault();
                    sibling.classList.toggle('absent');
                }
            });

            initializePage();
    })();
</script>