<aside id="sideMenu" class="unit-2 light fixed left-top h-1-vh p-2 oy-auto is-in">
    <button class="close to-right toggle-side-menu"></button>
    <ul class="tabs vertical clear-right indent-nested">
        <li class="tab">
            <a href="" class="tab-a">Base</a>
            <ul class="tabs vertical absent">
                <li class="tab">
                    <a href="{{ '/docs/base/breakpoint-values.html' | absolute_url }}" class="tab-a">Breakpoint Values</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/colors.html' | absolute_url }}" class="tab-a">Colors</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/global-variables.html' | absolute_url }}" class="tab-a">Global Variables</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/mixins.html' | absolute_url }}" class="tab-a">Mixins</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/reset.html' | absolute_url }}" class="tab-a">Reset</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/headings.html' | absolute_url }}" class="tab-a">Headings</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/a.html' | absolute_url }}" class="tab-a">A</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/ul-ol.html' | absolute_url }}" class="tab-a">UL and OL</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/base/table.html' | absolute_url }}" class="tab-a">Table</a>
                </li>
            </ul>
        </li>
        <li class="tab">
            <a href="" class="tab-a">Layout</a>
            <ul class="tabs vertical absent">
                <li class="tab">
                    <a href="{{ '/docs/layout/grid.html' | absolute_url }}" class="tab-a">Grid</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/layout/position-presets.html' | absolute_url }}" class="tab-a">Position Presets</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/layout/flexbox.html' | absolute_url }}" class="tab-a">Flexbox</a>
                </li>
            </ul>
        </li>
        <li class="tab">
            <a href="" class="tab-a">Buttons</a>
            <ul class="tabs vertical absent">
                <li class="tab">
                    <a href="{{ '/docs/buttons/button.html' | absolute_url }}" class="tab-a">Button</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/buttons/button-outlined.html' | absolute_url }}" class="tab-a">Button Outlined</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/buttons/buttons.html' | absolute_url }}" class="tab-a">Buttons</a>
                </li>
            </ul>
        </li>
        <li class="tab">
            <a href="" class="tab-a">Forms</a>
            <ul class="tabs vertical absent">
                <li class="tab">
                    <a href="{{ '/docs/forms/controls.html' | absolute_url }}" class="tab-a">Controls</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/forms/' | absolute_url }}" class="tab-a">Field</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/forms/' | absolute_url }}" class="tab-a">Addons</a>
                </li>
                <li class="tab">
                    <a href="{{ '/docs/forms/' | absolute_url }}" class="tab-a">Icons</a>
                </li>
            </ul>
        </li>
        <li class="tab">
            <a href="" class="tab-a">Components</a>
            <ul class="tabs vertical absent">
                <li class="tab">
                    <a href="" class="tab-a">Modal</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Card</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Tabs</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Close</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Tag</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Tags</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Square</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Progress Bar</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Banner</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">List Items</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Dropdown</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Pagination</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Navbar</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Popover</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Code</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Loading</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Steps</a>
                </li>
            </ul>
        </li>
        <li class="tab">
            <a href="" class="tab-a">Utilities</a>
            <ul class="tabs vertical absent">
                <li class="tab">
                    <a href="" class="tab-a">Font Sizes</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Spacing</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Borders</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Display</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Position</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Float</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Z Index</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Overflow</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Width</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Height</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Text</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Img</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Animation</a>
                </li>
                <li class="tab">
                    <a href="" class="tab-a">Zeroing</a>
                </li>
            </ul>
        </li>
        <li class="tab">
            <a href="" class="tab-a">Themes</a>
        </li>
    </ul>
</aside>






