.reverse {
  animation-direction: reverse !important;
}

.alternate {
  animation-direction: alternate !important;
}

.alternate-reverse {
  animation-direction: alternate-reverse !important;
}

.paused {
  animation-play-state: paused !important;
}