@import "../base/breakpoint-values.scss";

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.absent {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

/* ====================================================== */

@media screen and (min-width: $sm-lower) and (max-width: $sm-upper) {
  .absent-sm {
    display: none !important;
  }

  .invisible-sm {
    visibility: hidden !important;
  }
}

@media screen and (min-width: $md-lower) and (max-width: $md-upper) {
  .absent-md {
    display: none !important;
  }

  .invisible-md {
    visibility: hidden !important;
  }
}

@media screen and (min-width: $lg-and-up) {
  .absent-lg {
    display: none !important;
  }

  .invisible-lg {
    visibility: hidden !important;
  }
}