@import "../base/breakpoint-values.scss";

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.block-center {
  display: block !important;
  margin: auto !important;
}

.absent {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

/* ====================================================== */

@media screen and (max-width: $breakpoint-small) {
  .absent-sm {
    display: none !important;
  }

  .invisible-sm {
    visibility: hidden !important;
  }
}

@media screen and (min-width: $breakpoint-medium-lower) and (max-width: $breakpoint-medium-upper) {
  .absent-md {
    display: none !important;
  }

  .invisible-md {
    visibility: hidden !important;
  }
}

@media screen and (min-width: $breakpoint-large) {
  .absent-lg {
    display: none !important;
  }

  .invisible-lg {
    visibility: hidden !important;
  }
}