@import "../base/colors.scss";

$image-circular: 50%;
$image-rounded: 0.8rem;

img {
  &.shadow {
    box-shadow: 0rem 0rem 0.5rem 0rem $alpha-fainter;
  }

  &.circular {
    border-radius: $image-circular;
  }

  &.rounded {
    border-radius: $image-rounded;
  }

  &.responsive {
    max-width: 100%;
    height: auto;
  }

  &.fill-width {
    width: 100%;
    height: auto;
  }

  &.fit-contain {
    object-fit: contain;
  }

  &.fit-cover {
    object-fit: cover;
  }

  &.fit-none {
    object-fit: none;
  }
}