.o-hidden {
  overflow: hidden;
}

.o-scroll {
  overflow: scroll;
}

.o-auto {
  overflow: auto;
}

.ox-hidden {
  overflow-x: hidden;
}

.ox-scroll {
  overflow-x: scroll;
}

.ox-auto {
  overflow-x: auto;
}

.oy-hidden {
  overflow-y: hidden;
}

.oy-scroll {
  overflow-y: scroll;
}

.oy-auto {
  overflow-y: auto;
}