@import "../base/breakpoint-values.scss";

$spacing: 1.2rem;

.m-1 { 
  margin: $spacing !important;
}

.mt-1 { 
  margin-top: $spacing !important;
}

.mb-1 { 
  margin-bottom: $spacing !important;
}

.ml-1 { 
  margin-left: $spacing !important;
}

.mr-1 { 
  margin-right: $spacing !important;
}

/* ==================================== */

.m-2 { 
  margin: $spacing * 2 !important;
}

.mt-2 { 
  margin-top: $spacing * 2 !important;
}

.mb-2 { 
  margin-bottom: $spacing * 2 !important;
}

.ml-2 { 
  margin-left: $spacing * 2 !important;
}

.mr-2 { 
  margin-right: $spacing * 2 !important;
}

/* ==================================== */

.m-3 { 
  margin: $spacing * 3 !important;
}

.mt-3 { 
  margin-top: $spacing * 3 !important;
}

.mb-3 { 
  margin-bottom: $spacing * 3 !important;
}

.ml-3 { 
  margin-left: $spacing * 3 !important;
}

.mr-3 { 
  margin-right: $spacing * 3 !important;
}

/* ==================================== */

.m-4 { 
  margin: $spacing * 4 !important;
}

.mt-4 { 
  margin-top: $spacing * 4 !important;
}

.mb-4 { 
  margin-bottom: $spacing * 4 !important;
}

.ml-4 { 
  margin-left: $spacing * 4 !important;
}

.mr-4 { 
  margin-right: $spacing * 4 !important;
}

/* ==================================== */

.p-1 { 
  padding: $spacing !important;
}

.pt-1 { 
  padding-top: $spacing !important;
}

.pb-1 { 
  padding-bottom: $spacing !important;
}

.pl-1 { 
  padding-left: $spacing !important;
}

.pr-1 { 
  padding-right: $spacing !important;
}

/* ==================================== */

.p-2 { 
  padding: $spacing * 2 !important;
}

.pt-2 { 
  padding-top: $spacing * 2 !important;
}

.pb-2 { 
  padding-bottom: $spacing * 2 !important;
}

.pl-2 { 
  padding-left: $spacing * 2 !important;
}

.pr-2 { 
  padding-right: $spacing * 2 !important;
}

/* ==================================== */

.p-3 { 
  padding: $spacing * 3 !important;
}

.pt-3 { 
  padding-top: $spacing * 3 !important;
}

.pb-3 { 
  padding-bottom: $spacing * 3 !important;
}

.pl-3 { 
  padding-left: $spacing * 3 !important;
}

.pr-3 { 
  padding-right: $spacing * 3 !important;
}

/* ==================================== */

.p-4 { 
  padding: $spacing * 4 !important;
}

.pt-4 { 
  padding-top: $spacing * 4 !important;
}

.pb-4 { 
  padding-bottom: $spacing * 4 !important;
}

.pl-4 { 
  padding-left: $spacing * 4 !important;
}

.pr-4 { 
  padding-right: $spacing * 4 !important;
}

/* ====================================================== */

@media screen and (max-width: $breakpoint-small) {
  .m-1-small { 
    margin: $spacing !important;
  }

  .mt-1-small { 
    margin-top: $spacing !important;
  }

  .mb-1-small { 
    margin-bottom: $spacing !important;
  }

  .ml-1-small { 
    margin-left: $spacing !important;
  }

  .mr-1-small { 
    margin-right: $spacing !important;
  }

  /* ==================================== */

  .m-2-small { 
    margin: $spacing * 2 !important;
  }

  .mt-2-small { 
    margin-top: $spacing * 2 !important;
  }

  .mb-2-small { 
    margin-bottom: $spacing * 2 !important;
  }

  .ml-2-small { 
    margin-left: $spacing * 2 !important;
  }

  .mr-2-small { 
    margin-right: $spacing * 2 !important;
  }

  /* ==================================== */

  .m-3-small { 
    margin: $spacing * 3 !important;
  }

  .mt-3-small { 
    margin-top: $spacing * 3 !important;
  }

  .mb-3-small { 
    margin-bottom: $spacing * 3 !important;
  }

  .ml-3-small { 
    margin-left: $spacing * 3 !important;
  }

  .mr-3-small { 
    margin-right: $spacing * 3 !important;
  }

  /* ==================================== */

  .m-4-small { 
    margin: $spacing * 4 !important;
  }

  .mt-4-small { 
    margin-top: $spacing * 4 !important;
  }

  .mb-4-small { 
    margin-bottom: $spacing * 4 !important;
  }

  .ml-4-small { 
    margin-left: $spacing * 4 !important;
  }

  .mr-4-small { 
    margin-right: $spacing * 4 !important;
  }

  /* ==================================== */

  .p-1-small { 
    padding: $spacing !important;
  }

  .pt-1-small { 
    padding-top: $spacing !important;
  }

  .pb-1-small { 
    padding-bottom: $spacing !important;
  }

  .pl-1-small { 
    padding-left: $spacing !important;
  }

  .pr-1-small { 
    padding-right: $spacing !important;
  }

  /* ==================================== */

  .p-2-small { 
    padding: $spacing * 2 !important;
  }

  .pt-2-small { 
    padding-top: $spacing * 2 !important;
  }

  .pb-2-small { 
    padding-bottom: $spacing * 2 !important;
  }

  .pl-2-small { 
    padding-left: $spacing * 2 !important;
  }

  .pr-2-small { 
    padding-right: $spacing * 2 !important;
  }

  /* ==================================== */

  .p-3-small { 
    padding: $spacing * 3 !important;
  }

  .pt-3-small { 
    padding-top: $spacing * 3 !important;
  }

  .pb-3-small { 
    padding-bottom: $spacing * 3 !important;
  }

  .pl-3-small { 
    padding-left: $spacing * 3 !important;
  }

  .pr-3-small { 
    padding-right: $spacing * 3 !important;
  }

  /* ==================================== */

  .p-4-small { 
    padding: $spacing * 4 !important;
  }

  .pt-4-small { 
    padding-top: $spacing * 4 !important;
  }

  .pb-4-small { 
    padding-bottom: $spacing * 4 !important;
  }

  .pl-4-small { 
    padding-left: $spacing * 4 !important;
  }

  .pr-4-small { 
    padding-right: $spacing * 4 !important;
  }

}

/* ====================================================== */

@media screen and (min-width: $breakpoint-medium-lower) and (max-width: $breakpoint-medium-upper) {
  .m-1-medium { 
    margin: $spacing !important;
  }

  .mt-1-medium { 
    margin-top: $spacing !important;
  }

  .mb-1-medium { 
    margin-bottom: $spacing !important;
  }

  .ml-1-medium { 
    margin-left: $spacing !important;
  }

  .mr-1-medium { 
    margin-right: $spacing !important;
  }

  /* ==================================== */

  .m-2-medium { 
    margin: $spacing * 2 !important;
  }

  .mt-2-medium { 
    margin-top: $spacing * 2 !important;
  }

  .mb-2-medium { 
    margin-bottom: $spacing * 2 !important;
  }

  .ml-2-medium { 
    margin-left: $spacing * 2 !important;
  }

  .mr-2-medium { 
    margin-right: $spacing * 2 !important;
  }

  /* ==================================== */

  .m-3-medium { 
    margin: $spacing * 3 !important;
  }

  .mt-3-medium { 
    margin-top: $spacing * 3 !important;
  }

  .mb-3-medium { 
    margin-bottom: $spacing * 3 !important;
  }

  .ml-3-medium { 
    margin-left: $spacing * 3 !important;
  }

  .mr-3-medium { 
    margin-right: $spacing * 3 !important;
  }

  /* ==================================== */

  .m-4-medium { 
    margin: $spacing * 4 !important;
  }

  .mt-4-medium { 
    margin-top: $spacing * 4 !important;
  }

  .mb-4-medium { 
    margin-bottom: $spacing * 4 !important;
  }

  .ml-4-medium { 
    margin-left: $spacing * 4 !important;
  }

  .mr-4-medium { 
    margin-right: $spacing * 4 !important;
  }

  /* ==================================== */

  .p-1-medium { 
    padding: $spacing !important;
  }

  .pt-1-medium { 
    padding-top: $spacing !important;
  }

  .pb-1-medium { 
    padding-bottom: $spacing !important;
  }

  .pl-1-medium { 
    padding-left: $spacing !important;
  }

  .pr-1-medium { 
    padding-right: $spacing !important;
  }

  /* ==================================== */

  .p-2-medium { 
    padding: $spacing * 2 !important;
  }

  .pt-2-medium { 
    padding-top: $spacing * 2 !important;
  }

  .pb-2-medium { 
    padding-bottom: $spacing * 2 !important;
  }

  .pl-2-medium { 
    padding-left: $spacing * 2 !important;
  }

  .pr-2-medium { 
    padding-right: $spacing * 2 !important;
  }

  /* ==================================== */

  .p-3-medium { 
    padding: $spacing * 3 !important;
  }

  .pt-3-medium { 
    padding-top: $spacing * 3 !important;
  }

  .pb-3-medium { 
    padding-bottom: $spacing * 3 !important;
  }

  .pl-3-medium { 
    padding-left: $spacing * 3 !important;
  }

  .pr-3-medium { 
    padding-right: $spacing * 3 !important;
  }

  /* ==================================== */

  .p-4-medium { 
    padding: $spacing * 4 !important;
  }

  .pt-4-medium { 
    padding-top: $spacing * 4 !important;
  }

  .pb-4-medium { 
    padding-bottom: $spacing * 4 !important;
  }

  .pl-4-medium { 
    padding-left: $spacing * 4 !important;
  }

  .pr-4-medium { 
    padding-right: $spacing * 4 !important;
  }

}

/* ====================================================== */

@media screen and (min-width: $breakpoint-large) {
  .m-1-large { 
    margin: $spacing !important;
  }

  .mt-1-large { 
    margin-top: $spacing !important;
  }

  .mb-1-large { 
    margin-bottom: $spacing !important;
  }

  .ml-1-large { 
    margin-left: $spacing !important;
  }

  .mr-1-large { 
    margin-right: $spacing !important;
  }

  /* ==================================== */

  .m-2-large { 
    margin: $spacing * 2 !important;
  }

  .mt-2-large { 
    margin-top: $spacing * 2 !important;
  }

  .mb-2-large { 
    margin-bottom: $spacing * 2 !important;
  }

  .ml-2-large { 
    margin-left: $spacing * 2 !important;
  }

  .mr-2-large { 
    margin-right: $spacing * 2 !important;
  }

  /* ==================================== */

  .m-3-large { 
    margin: $spacing * 3 !important;
  }

  .mt-3-large { 
    margin-top: $spacing * 3 !important;
  }

  .mb-3-large { 
    margin-bottom: $spacing * 3 !important;
  }

  .ml-3-large { 
    margin-left: $spacing * 3 !important;
  }

  .mr-3-large { 
    margin-right: $spacing * 3 !important;
  }

  /* ==================================== */

  .m-4-large { 
    margin: $spacing * 4 !important;
  }

  .mt-4-large { 
    margin-top: $spacing * 4 !important;
  }

  .mb-4-large { 
    margin-bottom: $spacing * 4 !important;
  }

  .ml-4-large { 
    margin-left: $spacing * 4 !important;
  }

  .mr-4-large { 
    margin-right: $spacing * 4 !important;
  }

  /* ==================================== */

  .p-1-large { 
    padding: $spacing !important;
  }

  .pt-1-large { 
    padding-top: $spacing !important;
  }

  .pb-1-large { 
    padding-bottom: $spacing !important;
  }

  .pl-1-large { 
    padding-left: $spacing !important;
  }

  .pr-1-large { 
    padding-right: $spacing !important;
  }

  /* ==================================== */

  .p-2-large { 
    padding: $spacing * 2 !important;
  }

  .pt-2-large { 
    padding-top: $spacing * 2 !important;
  }

  .pb-2-large { 
    padding-bottom: $spacing * 2 !important;
  }

  .pl-2-large { 
    padding-left: $spacing * 2 !important;
  }

  .pr-2-large { 
    padding-right: $spacing * 2 !important;
  }

  /* ==================================== */

  .p-3-large { 
    padding: $spacing * 3 !important;
  }

  .pt-3-large { 
    padding-top: $spacing * 3 !important;
  }

  .pb-3-large { 
    padding-bottom: $spacing * 3 !important;
  }

  .pl-3-large { 
    padding-left: $spacing * 3 !important;
  }

  .pr-3-large { 
    padding-right: $spacing * 3 !important;
  }

  /* ==================================== */

  .p-4-large { 
    padding: $spacing  * 4 !important;
  }

  .pt-4-large { 
    padding-top: $spacing  * 4 !important;
  }

  .pb-4-large { 
    padding-bottom: $spacing  * 4 !important;
  }

  .pl-4-large { 
    padding-left: $spacing  * 4 !important;
  }

  .pr-4-large { 
    padding-right: $spacing  * 4 !important;
  }

  /* ==================================== */
}