@import "../colors.scss";

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-top {
  vertical-align: top !important;
}

.text-y-center {
  vertical-align: middle !important;
}

.text-bottom {
  vertical-align: bottom !important;
}

/* ====================================================== */

.text-capitalize {
  text-transform: capitalize !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

/* ====================================================== */

.text-thin {
  font-weight: lighter;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-line-through {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

/* ====================================================== */

.text-nowrap {
  white-space: nowrap;
}

.text-break-all {
  word-break: break-all;
}

/* ====================================================== */

.text-red {
  color: $medium-red !important;
}

.text-orange {
  color: $orange !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-green {
  color: $medium-green !important;
}

.text-blue {
  color: $medium-blue !important;
}

.text-indigo {
  color: $indigo !important;
}

.text-violet {
  color: $violet !important;
}

.text-gray {
  color: $dark-gray !important;
}

.text-white {
  color: $white !important;
}