.flex  {
  display: flex !important;
}

// ---

.flex-start {
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-even {
  justify-content: space-evenly;
}

// ---

.flex-cross-start {
  align-items: flex-start;
}

.flex-cross-center {
  align-items: center;
}

.flex-cross-end {
  align-items: flex-end;
}

.flex-cross-baseline {
  align-items: baseline;
}

.flex-cross-stretch {
  align-items: stretch;
}