$grid-column-padding: 1.2rem;

div.default-1, div.default-2, div.default-3, div.default-4, 
div.default-5, div.default-6, div.default-7, div.default-8, 
div.default-9, div.default-10, div.default-11, div.default-12, 
div.small-1, div.small-2, div.small-3, div.small-4, 
div.small-5, div.small-6, div.small-7, div.small-8, 
div.small-9, div.small-10, div.small-11, div.small-12, 
div.medium-1, div.medium-2, div.medium-3, div.medium-4, 
div.medium-5, div.medium-6, div.medium-7, div.medium-8, 
div.medium-9, div.medium-10, div.medium-11, div.medium-12, 
div.large-1, div.large-2, div.large-3, div.large-4, 
div.large-5, div.large-6, div.large-7, div.large-8, 
div.large-9, div.large-10, div.large-11, div.large-12 {
  float: left;
  padding: $grid-column-padding;
}

div.container::after, .clearfix::after {
  content: '';
  clear: both;
  display: block;
}

div.container.negate-sides, .clearfix.negate-sides {
  margin-left: -1 * $grid-column-padding;
  margin-right: -1 * $grid-column-padding;
}

div.new-line {
  float: left;
  width: 100%;
}

/* ====================================================== */

div.default-1 {
  width: 8.333333333333334%;
}

div.default-2 {
  width: 16.666666666666668%;
}

div.default-3 {
  width: 25%;
}

div.default-4 {
  width: 33.333333333333336%;
}

div.default-5 {
  width: 41.66666666666667%;
}

div.default-6 {
  width: 50%;
}

div.default-7 {
  width: 58.333333333333336%;
}

div.default-8 {
  width: 66.66666666666667%;
}

div.default-9 {
  width: 75%;
}

div.default-10 {
  width: 83.33333333333334%;
}

div.default-11 {
  width: 91.66666666666667%;
}

div.default-12 {
  width: 100%;
}

/* ==================================== */

div.push-1 {
  margin-left: 8.333333333333334%;
}

div.push-2 {
  margin-left: 16.666666666666668%;
}

div.push-3 {
  margin-left: 25%;
}

div.push-4 {
  margin-left: 33.333333333333336%;
}

div.push-5 {
  margin-left: 41.66666666666667%;
}

div.push-6 {
  margin-left: 50%;
}

div.push-7 {
  margin-left: 58.333333333333336%;
}

div.push-8 {
  margin-left: 66.66666666666667%;
}

div.push-9 {
  margin-left: 75%;
}

div.push-10 {
  margin-left: 83.33333333333334%;
}

div.push-11 {
  margin-left: 91.66666666666667%;
}

div.push-12 {
  margin-left: 100%;
}

/* ====================================================== */

/* <= 425px */
@media screen and (max-width: 26.5625rem) {
  div.small-1 {
    width: 8.333333333333334%;
  }

  div.small-2 {
    width: 16.666666666666668%;
  }

  div.small-3 {
    width: 25%;
  }

  div.small-4 {
    width: 33.333333333333336%;
  }

  div.small-5 {
    width: 41.66666666666667%;
  }

  div.small-6 {
    width: 50%;
  }

  div.small-7 {
    width: 58.333333333333336%;
  }

  div.small-8 {
    width: 66.66666666666667%;
  }

  div.small-9 {
    width: 75%;
  }

  div.small-10 {
    width: 83.33333333333334%;
  }

  div.small-11 {
    width: 91.66666666666667%;
  }

  div.small-12 {
    width: 100%;
  }

  /* ==================================== */

  div.push-1-small {
    margin-left: 8.333333333333334%;
  }

  div.push-2-small {
    margin-left: 16.666666666666668%;
  }

  div.push-3-small {
    margin-left: 25%;
  }

  div.push-4-small {
    margin-left: 33.333333333333336%;
  }

  div.push-5-small {
    margin-left: 41.66666666666667%;
  }

  div.push-6-small {
    margin-left: 50%;
  }

  div.push-7-small {
    margin-left: 58.333333333333336%;
  }

  div.push-8-small {
    margin-left: 66.66666666666667%;
  }

  div.push-9-small {
    margin-left: 75%;
  }

  div.push-10-small {
    margin-left: 83.33333333333334%;
  }

  div.push-11-small {
    margin-left: 91.66666666666667%;
  }

  div.push-12-small {
    margin-left: 100%;
  }
}

/* ====================================================== */

/* >= 426px && <= 768px */
@media screen and (min-width: 26.625rem) and (max-width: 48rem) {
  div.medium-1 {
    width: 8.333333333333334%;
  }

  div.medium-2 {
    width: 16.666666666666668%;
  }

  div.medium-3 {
    width: 25%;
  }

  div.medium-4 {
    width: 33.333333333333336%;
  }

  div.medium-5 {
    width: 41.66666666666667%;
  }

  div.medium-6 {
    width: 50%;
  }

  div.medium-7 {
    width: 58.333333333333336%;
  }

  div.medium-8 {
    width: 66.66666666666667%;
  }

  div.medium-9 {
    width: 75%;
  }

  div.medium-10 {
    width: 83.33333333333334%;
  }

  div.medium-11 {
    width: 91.66666666666667%;
  }

  div.medium-12 {
    width: 100%;
  }

  /* ==================================== */

  div.push-1-medium {
    margin-left: 8.333333333333334%;
  }

  div.push-2-medium {
    margin-left: 16.666666666666668%;
  }

  div.push-3-medium {
    margin-left: 25%;
  }

  div.push-4-medium {
    margin-left: 33.333333333333336%;
  }

  div.push-5-medium {
    margin-left: 41.66666666666667%;
  }

  div.push-6-medium {
    margin-left: 50%;
  }

  div.push-7-medium {
    margin-left: 58.333333333333336%;
  }

  div.push-8-medium {
    margin-left: 66.66666666666667%;
  }

  div.push-9-medium {
    margin-left: 75%;
  }

  div.push-10-medium {
    margin-left: 83.33333333333334%;
  }

  div.push-11-medium {
    margin-left: 91.66666666666667%;
  }

  div.push-12-medium {
    margin-left: 100%;
  }
}

/* ====================================================== */

/* >= 769px */
@media screen and (min-width: 48.0625rem) {
  div.large-1 {
    width: 8.333333333333334%;
  }

  div.large-2 {
    width: 16.666666666666668%;
  }

  div.large-3 {
    width: 25%;
  }

  div.large-4 {
    width: 33.333333333333336%;
  }

  div.large-5 {
    width: 41.66666666666667%;
  }

  div.large-6 {
    width: 50%;
  }

  div.large-7 {
    width: 58.333333333333336%;
  }

  div.large-8 {
    width: 66.66666666666667%;
  }

  div.large-9 {
    width: 75%;
  }

  div.large-10 {
    width: 83.33333333333334%;
  }

  div.large-11 {
    width: 91.66666666666667%;
  }

  div.large-12 {
    width: 100%;
  }

  /* ==================================== */

  div.push-1-large {
    margin-left: 8.333333333333334%;
  }

  div.push-2-large {
    margin-left: 16.666666666666668%;
  }

  div.push-3-large {
    margin-left: 25%;
  }

  div.push-4-large {
    margin-left: 33.333333333333336%;
  }

  div.push-5-large {
    margin-left: 41.66666666666667%;
  }

  div.push-6-large {
    margin-left: 50%;
  }

  div.push-7-large {
    margin-left: 58.333333333333336%;
  }

  div.push-8-large {
    margin-left: 66.66666666666667%;
  }

  div.push-9-large {
    margin-left: 75%;
  }

  div.push-10-large {
    margin-left: 83.33333333333334%;
  }

  div.push-11-large {
    margin-left: 91.66666666666667%;
  }

  div.push-12-large {
    margin-left: 100%;
  }
}
