.relative {
  position: relative;
}

*[class*="position-"] {
  position: absolute !important;
}

*[class*="position-left-"] {
  left: 0;
}

*.position-left-top {
  top: 0;
}

*.position-left-center {
  top: 50%;
  @include translate-2d(0%, -50%);
}

*.position-left-bottom {
  bottom: 0;
}

*[class*="position-center-"] {
  left: 50%;
}

*.position-center-top {
  top: 0;
  @include translate-2d(-50%, 0%);
}

*.position-center-center {
  top: 50%;
  @include translate-2d(-50%, -50%);
}

*.position-center-bottom {
  bottom: 0;
  @include translate-2d(-50%, 0%);
}

*[class*="position-right-"] {
  right: 0;
}

*.position-right-top {
  top: 0;
}

*.position-right-center {
  top: 50%;
  @include translate-2d(0%, -50%);
}

*.position-right-bottom {
  bottom: 0;
}