@import "../base/colors.scss";

$close-size: 1em;
$close-radius: 0.125em;
$close-x-size: 0.5em;
$close-x-border-width: 0.0625em;
$close-background-color: $medium-white;
$close-hover-background-color: $light-white;
$close-x-border-color: $dark-gray;
$close-x-hover-border-color: $light-black;
$close-x-active-border-color: $black;

// button
.close {
  font-size: 1.6rem;
  height: $close-size;
  width: $close-size;
  border-radius: $close-radius;
  position: relative;
  background-color: $close-background-color;
  transition: all 125ms;

  &:hover, &:focus {
    background-color: $close-hover-background-color;
    outline: none;
    cursor: pointer;

    &::before, &::after {
      border-color: $close-x-hover-border-color;
    }
  }

  &:active {
    outline: none;
    
    &::before, &::after {
      border-color: $close-x-active-border-color;
    }
  }

  &::before, &::after {
    content: '';
    border-right: $close-x-border-width solid $close-x-border-color;
    height: $close-x-size;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
  }

  &::before {
    transform: rotate(45deg) translate(-50%, -50%);
  }

  &::after {
    transform: rotate(135deg) translate(-50%, -50%);
  }
}