@import "../base/colors.scss";

$tag-font-size: 0.75em;
$tag-padding: 0.25em 0.5em;
$tag-border-radius: 0.25em;
$tag-background-color: $medium-gray;
$tag-color: $FONT_COLOR;

// span
.tag {
  font-size: $tag-font-size;
  display: inline-block;
  padding: $tag-padding;
  line-height: 1;
  border-radius: $tag-border-radius;
  background-color: $tag-background-color;
  color: $tag-color;
  vertical-align: text-bottom;

  // a
  .tag-a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  // button
  .close {
    font-size: $tag-font-size;
  }
}





