@import "../base/colors.scss";

$box-border-color: $alpha-faintest;
$box-background-color: $white;
$box-padding: 2.4rem;
$box-radius: 0.4rem;

div.box {
  padding: $box-padding;
  border: 0.1rem solid $box-border-color;
  border-radius: $box-radius;
  background-color: $box-background-color;
}