@import "../base/colors.scss";

$card-border-color: $medium-white;
$card-radius: 0.5rem;
$card-shadow-color: $light-white;
$card-background-color: $white;
$card-item-padding: 2rem;
$card-header-radius: 0.4rem 0.4rem 0rem 0rem;
$card-content-radius: 0.4rem;
$card-footer-radius: 0rem 0rem 0.4rem 0.4rem;

div.card {
  border: 0.1rem solid $card-border-color;
  border-radius: $card-radius;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem $card-shadow-color;
  background-color: $card-background-color;

  div.card-header, div.card-content, div.card-footer {
    padding: $card-item-padding;

    &.has-hero-image {
      padding: 0;

      img {
        width: 100%;
        display: block;
        border-radius: inherit;
      }
    }
  }

  div.card-header {
    border-radius: $card-header-radius;
    border-bottom: 0.1rem solid $card-border-color;
  }

  div.card-content {
    border-bottom: 0.1rem solid $card-border-color;

    &:only-child {
      border-bottom: none;
      border-radius: $card-content-radius;

    }
  }

  div.card-footer {
    border-radius: $card-footer-radius;
  }
}