@import "../colors.scss";

div.card {
  font-size: 1rem;
  border: 0.1rem solid $medium-white;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem $light-white;
  background-color: $white;

  hr {
    border-color: $medium-white;
  }

  div.card-header, div.card-content, div.card-footer {
    padding: 1rem 2rem;

    &.hero-image {
      padding: 0;

      img {
        display: block;
        border-radius: inherit;
      }
    }
  }

  div.card-header {
    border-radius: 0.4rem 0.4rem 0rem 0rem;
    border-bottom: 0.1rem solid $medium-white;
  }

  div.card-content {
    border-radius: 0.4rem;
  }

  div.card-footer {
    border-radius: 0rem 0rem 0.4rem 0.4rem;
    border-top: 0.1rem solid $medium-white;
  }
}