@import "../colors.scss";

$close-height-width: 1em;
$close-radius: 0.125em;
$close-focus-spread: 0.125em;
$close-xmark-height: 0.5em;

button.close {
  font-size: 1.6rem;
  height: $close-height-width;
  width: $close-height-width;
  border-radius: $close-radius;
  position: relative;
  background-color: $medium-white;

  &:hover {
    background-color: $light-white;
    cursor: pointer;

    &::before, &::after {
      background-color: $light-black;
      border-color: $light-black;
    }
  }

  &:focus:not(:active) {
    outline: none;
    box-shadow: 0em 0em 0em $close-focus-spread $light-blue;
  }

  &:active {
    outline: none;
    
    &::before, &::after {
      background-color: $black;
      border-color: $black;
    }
  }

  &::before, &::after {
    content: '';
    background-color: $dark-gray;
    border: 0.1rem solid $dark-gray;
    height: $close-xmark-height;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
  }

  &::before {
    transform: rotate(45deg) translate(-50%, -50%);
  }

  &::after {
    transform: rotate(135deg) translate(-50%, -50%);
  }

  &.theme-dark {
    background-color: $light-black;

    &::before, &::after {
      background-color: $medium-gray;
      border-color: $medium-gray;
    }

    &:hover {
      background-color: $medium-black;

      &::before, &::after {
        background-color: $medium-white;
        border-color: $medium-white;
      }
    }

    &:active {
      &::before, &::after {
        background-color: $white;
        border-color: $white;
      }
    }
  }
}