@import "../base/colors.scss";

$code-background-color: $white-gray;
$code-padding: 1.75em;
$code-border: 0.1rem solid $medium-white;
$code-radius: 0.25em;
$code-line-color: $medium-black;
$code-line-margin: 0.375em 0.375em 0.375em 0.875em;
$code-line-height: 1.2;
$code-pre-line-height: 1.5;
$code-line-number-color: $light-gray;
$code-line-number-margin-left: 0.5em;
$code-line-hover-line-number-color: $white-black;
$code-nested-margin-left: 1em; 
$code-nested-border-color: $light-gray;

pre.code, ol.code {
  font-size: 1.4rem;
  font-family: menlo, monaco, monospace;
  background-color: $code-background-color;
  padding: $code-padding;
  border: $code-border;
  border-radius: $code-radius;
}

pre.code {
  line-height: $code-pre-line-height;
}

ol.code {
  counter-reset: line-number 0;
  position: relative;
  line-height: $code-line-height;

  li.line {
    margin: $code-line-margin;
    counter-increment: line-number;
    color: $code-line-color;

    &::before {
      position: absolute;
      left: 0;
      margin-left: $code-line-number-margin-left;
      color: $code-line-number-color;
      content: counter(line-number);
    }

    &:hover::before {
      color: $code-line-hover-line-number-color;
    }
  }

  & ol.code-nested, ol.code-nested ol.code-nested {
    margin-left: $code-nested-margin-left;
    border-left: 0.1rem solid $code-nested-border-color;
  }
}