@import "../colors.scss";
@import "../mixins.scss";

ul.dropdown {
  position: absolute;
  bottom: 0;
  z-index: 3;
  @include translate-2d(0%, calc(100% + 1rem));
  border: 0.1rem solid $light-gray;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.1rem 0.2rem 0rem $medium-gray;
  width: 18rem;
  padding: 0.8rem 0rem 0.8rem 0rem;
  background-color: white;

  &.on-top {
    bottom: 100%;
    @include translate-2d(0%, calc(0% - 1rem));

    li.dropdown-item ul.dropdown.on-right, 
    li.dropdown-item ul.dropdown.on-left {
      bottom: 0;
      top: initial;
    }

    &.align-center {
      left: 50%;
      @include translate-2d(-50%, calc(0% - 1rem));
    }
  }

  li.dropdown-item ul.dropdown.on-right {
    padding: 0;
    left: 100%;
    top: 0;
    bottom: initial;
    @include translate-2d(0%, 0%);
  }

  li.dropdown-item ul.dropdown.on-left {
    padding: 0;
    left: 0;
    bottom: initial;
    top: 0;
    @include translate-2d(-100%, 0%);
  }

  li.dropdown-item ul.dropdown.on-right li.dropdown-item, 
  li.dropdown-item ul.dropdown.on-left li.dropdown-item {
    &:first-child {
      border-radius: 0.3rem 0.3rem 0rem 0rem;
    }

    &:last-child {
      border-radius: 0rem 0rem 0.3rem 0.3rem;
    }

    &:only-child {
      border-radius: 0.3rem;
    }
  }

  &.align-center {
    left: 50%;
    @include translate-2d(-50%, calc(100% + 1rem));
  }

  &.align-right {
    right: 0;
  }


  li.dropdown-item {
    padding: 0.4rem 1.4rem;
    color: $black;

    &:hover {
      color: $white;
      background-color: $medium-blue;

      a:hover {
        color: inherit;
      }
    }
  }

  &.theme-dark {
    background-color: $medium-black;

    hr {
      border-color: $dark-gray;
    }

    li.dropdown-item {
      color: $light-gray;

      a:hover {
        color: $white;
      }
    }

  }

  &.size-medium {
    width: 28rem;
  }

  &.size-large {
    width: 36rem;
  }
}

ul.dropdown.width-auto, div.popover.width-auto {
  width: auto;
  white-space: nowrap;
}