@import "../colors.scss";
@import "../mixins.scss";

$dropdown-border-color: $light-gray;
$dropdown-background-color: $white;
$dropdown-shadow-color: $medium-gray;
$dropdown-radius: 0.4rem;
$dropdown-padding: 0.8rem 0rem;
$dropdown-extra-offset: 1rem;
$dropdown-label-color: $dark-gray;
$dropdown-item-padding: 0.8rem 1.2rem;
$dropdown-item-color: $black;
$dropdown-item-hover-color: $white;
$dropdown-item-hover-background-color: $medium-blue;
$dropdown-side-first-child-radius: 0.3rem 0.3rem 0rem 0rem;
$dropdown-side-last-child-radius: 0rem 0rem 0.3rem 0.3rem;
$dropdown-side-only-child-radius: 0.3rem;

ul.dropdown {
  position: absolute;
  bottom: 0;
  z-index: 3;
  @include translate-2d(0%, calc(100% + #{$dropdown-extra-offset}));
  border: 0.1rem solid $dropdown-border-color;
  border-radius: $dropdown-radius;
  box-shadow: 0rem 0.1rem 0.2rem 0rem $dropdown-shadow-color;
  width: 18rem;
  padding: $dropdown-padding;
  line-height: 1;
  background-color: $dropdown-background-color;

  &.on-top {
    bottom: 100%;
    @include translate-2d(0%, calc(0% - #{$dropdown-extra-offset}));

    li.dropdown-item ul.dropdown.on-right, 
    li.dropdown-item ul.dropdown.on-left {
      bottom: 0;
      top: initial;
    }

    &.align-center {
      left: 50%;
      @include translate-2d(-50%, calc(0% - #{$dropdown-extra-offset}));
    }
  }

  li.dropdown-item ul.dropdown.on-right {
    padding: 0;
    left: 100%;
    top: 0;
    bottom: initial;
    @include translate-2d(0%, 0%);
  }

  li.dropdown-item ul.dropdown.on-left {
    padding: 0;
    left: 0;
    bottom: initial;
    top: 0;
    @include translate-2d(-100%, 0%);
  }

  li.dropdown-item ul.dropdown.on-right li.dropdown-item, 
  li.dropdown-item ul.dropdown.on-left li.dropdown-item {
    &:first-child {
      border-radius: $dropdown-side-first-child-radius;
    }

    &:last-child {
      border-radius: $dropdown-side-last-child-radius;
    }

    &:only-child {
      border-radius: $dropdown-side-only-child-radius;
    }
  }

  &.align-center {
    left: 50%;
    @include translate-2d(-50%, calc(100% + #{$dropdown-extra-offset}));
  }

  &.align-right {
    right: 0;
  }

  li.dropdown-label {
    color: $dropdown-label-color;
    padding: $dropdown-item-padding;
  }

  li.dropdown-item {
    color: $dropdown-item-color;

    &:hover {
      color: $dropdown-item-hover-color;
      background-color: $dropdown-item-hover-background-color;
    }

    a.dropdown-a {
      padding: $dropdown-item-padding;
      color: inherit;
      text-decoration: none;
      display: block;
      width: 100%;
    }
  }

  &.theme-dark, &.theme-dark ul.dropdown {
    background-color: $medium-black;

    hr {
      border-color: $dark-gray;
    }

    li.dropdown-item {
      color: $light-gray;

      &:hover {
        color: $white;
      }
    }
  }

  &.size-medium {
    width: 28rem;
  }

  &.size-large {
    width: 36rem;
  }

  &.width-auto {
    width: auto;
    white-space: nowrap;
  }
}