figure.image-16 {
  width: 16px;
  height: 16px;

  img {
    object-fit: cover;
    width: 16px;
    height: 16px;

    &.rounded {
      border-radius: 0.3rem;
    }
  }
}

figure.image-32 {
  width: 32px;
  height: 32px;

  img {
    object-fit: cover;
    width: 32px;
    height: 32px;

    &.rounded {
      border-radius: 0.4rem;
    }

  }
}

figure.image-64 {
  width: 64px;
  height: 64px;

  img {
    object-fit: cover;
    width: 64px;
    height: 64px;

    &.rounded {
      border-radius: 0.6rem;
    }
  }
}

figure.image-128 {
  width: 128px;
  height: 128px;

  img {
    object-fit: cover;
    width: 128px; 
    height: 128px;

    &.rounded {
      border-radius: 0.8rem;
    }
  }
}