@import "../colors.scss";

figure[class*="image-"] img {
  object-fit: cover;
}

figure.image-16x {
  width: 16px;
  height: 16px;

  img {
    width: 16px;
    height: 16px;

    &.rounded {
      border-radius: 0.3rem;
    }
  }
}

figure.image-32x {
  width: 32px;
  height: 32px;

  img {
    width: 32px;
    height: 32px;

    &.rounded {
      border-radius: 0.4rem;
    }

  }
}

figure.image-64x {
  width: 64px;
  height: 64px;

  img {
    width: 64px;
    height: 64px;

    &.rounded {
      border-radius: 0.6rem;
    }
  }
}

figure.image-128x {
  width: 128px;
  height: 128px;

  img {
    width: 128px; 
    height: 128px;

    &.rounded {
      border-radius: 0.8rem;
    }
  }
}

figure.image-256x {
  width: 256px;
  height: 256px;

  img {
    width: 256px;
    height: 256px;

    &.rounded {
      border-radius: 1rem;
    }
  }
}

img {
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem $light-gray;

  &.circular {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: 0.8rem;
  }

  &.responsive {
    max-width: 100%;
    height: auto;
  }

  &.fill-width {
    width: 100%;
    height: auto;
  }
}