@import "../colors.scss";

$list-menu-indentation: 0.625em;
$list-item-padding: 0.1875em 0.875em;
$list-item-radius: 0.125em;
$list-item-color: $white-black;
$list-item-hover-color: $black;
$list-item-hover-background-color: $light-white-thick;
$list-item-active-color: $white;
$list-item-active-hover-color: $light-white;
$list-item-active-background-color: $medium-blue-thick;
$list-label-color: $light-black;
$list-menu-dark-background-color: $medium-black;

ul.list-menu {
  &.indent-sublists ul.list-menu, 
  &.indent-immediate > li.list-item, 
  &.indent-immediate > li.list-label {
    margin-left: $list-menu-indentation;
  }

  li.list-item, li.list-label {
    line-height: 1;
    color: $list-item-color;
    border-radius: $list-item-radius;

    a.list-a {
      display: block;
      padding: $list-item-padding;
      color: inherit;
      text-decoration: none;
      
      &:hover, &:focus {
        color: $list-item-hover-color;
      }
    }

    &:hover {
      background-color: $list-item-hover-background-color;
    }

    &.active {
      color: $list-item-active-color;
      background-color: $list-item-active-background-color;

      a.list-a:hover {
        color: $list-item-active-hover-color;
      }
    }
  }

  li.list-label {
    font-weight: bold;
    color: $list-label-color;
  }

  &.theme-light {
    li.list-item:not(.active), 
    li.list-label:not(.active) {
      a.list-a:hover {
        color: $black;
      }

      a.list-a:focus:not(:hover) {
        color: $medium-gray;
      }

      &:hover {
        background-color: $light-white-thick;
      }
    }

    li.list-item:not(.active) {
      color: $medium-black;
    }
  }

  &.theme-dark {
    background-color: $list-menu-dark-background-color;
    
    hr {
      border-color: $dark-gray;
    }

    li.list-item:not(.active), 
    li.list-label:not(.active) {
      a.list-a:hover, a.list-a:focus {
        color: $white;
      }

      &:hover {
        background-color: $light-black-thick;
      }
    }

    li.list-item:not(.active) {
      color: $medium-gray;
    }

    li.list-label:not(.active) {
      color: $light-gray;
    }
  }
}