@import "../colors.scss";

$loading-height-width: 1em;
$loading-margin: 0rem 0.8rem;
$loading-border-color: $white;
$loading-border-width: 0.0625em;

@keyframes revolution {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

span.loading {
  &::before {
    content: '';
    display: inline-block;
    vertical-align: sub;
    height: $loading-height-width;
    width: $loading-height-width;
    margin: $loading-margin;
    border-radius: 50%;
    border: $loading-border-width solid $loading-border-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: revolution 550ms linear 0s infinite normal;
  }

  &.theme-dark::before {
    border-right-color: $medium-black;
    border-top-color: $medium-black;
  }

  &.slow::before {
    animation-duration: 1s;
  }

  &.reverse::before {
    animation-direction: reverse;
  }
}