@import "../base/colors.scss";

$loading-margin: 0rem 0.6rem;
$loading-height-width: 0.875em;
$loading-border-width: 0.0625em;
$loading-border-color: $white;

@keyframes revolution {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

span.loading {
  font-size: 1.6rem;
  display: inline-block;
  margin: $loading-margin;

  &::before {
    content: '';
    display: inline-block;
    height: $loading-height-width;
    width: $loading-height-width;
    border: $loading-border-width solid $loading-border-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    position: relative;
    top: 0.0625em;
    animation: revolution 550ms linear 0s infinite normal;
  }

  &.theme-dark::before {
    border-top-color: $medium-black;
    border-right-color: $medium-black;
  }
  
  &.slow::before {
    animation-duration: 1s;
  }

  &.reversed::before {
    animation-direction: reverse;
  }

  &.paused::before {
    animation-play-state: paused;
  }
}