@import "../base/colors.scss";

$menu-border-color: $light-gray;
$menu-radius: 0.4rem;
$menu-shadow-color: $dark-white-thin;
$menu-item-background-color: $white;
$menu-item-padding: 1rem;
$menu-header-radius: 0.3rem 0.3rem 0rem 0rem;
$menu-footer-radius: 0rem 0rem 0.3rem 0.3rem;

div.menu {
  border: 0.1rem solid $menu-border-color;
  border-radius: $menu-radius;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem $menu-shadow-color;

  div.menu-header, div.menu-item, div.menu-footer {
    background-color: $menu-item-background-color;
    padding: $menu-item-padding;
    line-height: 1;

    a.menu-a {
      text-decoration: none;
      color: $link-unvisited;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
  
  div.menu-header {
    border-radius: $menu-header-radius;
    border-bottom: 0.1rem solid $menu-border-color;
  }

  div.menu-item {
    border-bottom: 0.1rem solid $menu-border-color;
  }

  div.menu-footer {
    border-radius: $menu-footer-radius;
  }
}