@import "../colors.scss";

$menu-border-color: $dark-white;
$menu-radius: 0.4rem;
$menu-shadow-color: $medium-white;
$menu-item-background-color: $white;
$menu-item-padding: 1rem;
$menu-header-radius: 0.3rem 0.3rem 0rem 0rem;
$menu-footer-radius: 0rem 0rem 0.3rem 0.3rem;

ul.menu {
  border: 0.1rem solid $menu-border-color;
  border-radius: $menu-radius;
  box-shadow: 0.1rem 0.1rem 0.2rem 0rem $menu-shadow-color;

  .button {
    margin-top: 0;
    margin-bottom: 0;
  }

  li.menu-header, li.menu-item, li.menu-footer {
    background-color: $menu-item-background-color;
    padding: $menu-item-padding;
    line-height: 1;
    vertical-align: middle;

    a.menu-a {
      text-decoration: none;
      color: $link-unvisited;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  li.menu-header {
    border-radius: $menu-header-radius;
    border-bottom: 0.1rem solid $menu-border-color;
  }

  li.menu-item {
    border-bottom: 0.1rem solid $menu-border-color;
  }

  li.menu-footer {
    border-radius: $menu-footer-radius;
  }

  &.theme-dark {
    border-color: $medium-gray;

    li.menu-header, li.menu-item, li.menu-footer {
      color: $light-gray;
      background-color: $medium-black;
      border-color: $medium-gray;

      a.menu-a {
        color: $medium-gray;
        text-decoration: none;

        &:hover {
          color: $white;
          text-decoration: underline;
        }
      }
    }
  }

}