@import "../base/colors.scss";

$message-radius: 0.4rem;
$message-margin: 0.6rem 0rem;
$message-header-padding: 0.4rem 1.2rem;
$message-header-radius: 0.2rem 0.2rem 0rem 0rem;
$message-header-only-child-radius: 0.2rem;
$message-body-padding: 1rem 1.8rem;
$message-body-radius: 0.3rem;

div.message {
  border: 0.1rem solid $dark-gray;
  border-radius: $message-radius;
  background-color: $white-gray;
  margin: $message-margin;

  div.message-header {
    border-radius: $message-header-radius;
    padding: $message-header-padding;
    color: $white-gray;
    border-color: inherit;
    background-color: $dark-gray;

    &:only-child {
      border-radius: $message-header-only-child-radius;
    }
  }

  div.message-body {
    border-radius: $message-body-radius;
    padding: $message-body-padding;
    color: $light-black;
    border-color: inherit;
    background-color: inherit;
  }

  &.primary {
    border-color: $medium-blue;
    background-color: $white-blue;

    .message-header {
      color: $white-blue;
      background-color: $medium-blue;
    }

    .message-body {
      color: $dark-blue;
    }
  }

  &.info {
    border-color: $medium-green;
    background-color: $white-green;

    .message-header {
      color: $white-green;
      background-color: $medium-green;
    }

    .message-body {
      color: $dark-green;
    }
  }

  &.caution {
    border-color: $medium-yellow;
    background-color: $white-yellow;

    .message-header {
      color: $dark-yellow;
      background-color: $medium-yellow;
    }

    .message-body {
      color: $dark-yellow;
    }
  }

  &.danger {
    border-color: $medium-red;
    background-color: $white-red;

    .message-header {
      color: $white-red;
      background-color: $medium-red;
    }

    .message-body {
      color: $dark-red;
    }
  }

  &.light {
    border-color: $medium-white;
    background-color: $white;

    .message-header {
      color: $light-black;
      background-color: $medium-white;
    }

    .message-body {
      color: $light-black;
    }
  }

  &.dark {
    border-color: $medium-black;
    background-color: $light-white;

    .message-header {
      color: $white;
      background-color: $medium-black;
    }

    .message-body {
      color: $black;
    }
  }
}