@import "../base/colors.scss";

$overlay-tint-color: $alpha-light-black;
$modal-padding: 2rem;
$modal-border-radius: 0.4rem;
$modal-background-color: $white;

div.overlay {
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  height: 100.1%;
  width: 100%;
  overflow-y: auto;

  &.tint {
    background-color: $overlay-tint-color;
  }

  div.modal {
    font-size: 1.6rem;
    padding: $modal-padding;
    border-radius: $modal-border-radius;
    background-color: $modal-background-color;
  }
}