@import "../colors.scss";

div.modal-backdrop {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: $black-thick;
  padding: 2.4rem;

  div.modal {
    padding: 2.4rem;
    background-color: $white;
    border-radius: 0.5rem;
  }
}