@import "../base/colors.scss";

$modal-backdrop-color: $black-thick;
$modal-padding: 2.4rem;
$modal-background-color: $white;
$modal-radius: 0.5rem;

div.pseudo-body {
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  overflow-y: auto;

  &.modal-backdrop {
    background-color: $modal-backdrop-color;
  }

  div.modal {
    padding: $modal-padding;
    background-color: $modal-background-color;
    border-radius: $modal-radius;
  }
}

body.pseudo-body-present {
  overflow: hidden;
}