@import "../base/colors.scss";

$path-color: $link-unvisited;
$path-padding: 0em 0.625em 0.375em 0em;
$path-separator-padding: 0em 0.125em;
$path-separator-color: $light-black;

ul.path {
  line-height: 1;
  padding: $path-padding;

  li.step {
    display: inline;
    color: $path-color;

    &:not(:last-child)::after {
      content: " / ";
      padding: $path-separator-padding;
      color: $path-separator-color;
    }

    &:last-child {
      color: $path-separator-color;
    }

    a.path-a {
      color: inherit;
      text-decoration: none;

      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}