@import "../mixins.scss";

$popmark-height-width: 1rem;
$popmark-extra-offset: 0.8rem;

.popmark {
  &::before {
    position: absolute;
    left: 50%;
    top: 100%;
    @include rotate-translate-2d(135deg, -50%, -50%);
    @include transform-origin(0%, 0%);
    content: '';
    width: $popmark-height-width;
    height: $popmark-height-width;
    border-top: 0.1rem solid;
    border-right: 0.1rem solid;
    border-color: inherit;
    background-color: inherit;
  }

  &.popmark-bl::before {
    left: calc(0% + #{$popmark-extra-offset});
  }

  &.popmark-br::before {
    left: calc(100% - #{$popmark-extra-offset});
  }

  &.popmark-t::before {
    top: 0;
    @include rotate-translate-2d(-45deg, -50%, -50%);
  }

  &.popmark-tl::before {
    top: 0;
    left: $popmark-extra-offset;
    @include rotate-translate-2d(-45deg, -50%, -50%);
  }

  &.popmark-tr::before {
    top: 0;
    left: calc(100% - #{$popmark-extra-offset});
    @include rotate-translate-2d(-45deg, -50%, -50%);
  }

  &.popmark-r::before {
    top: 50%;
    left: 100%;
    @include rotate-translate-2d(45deg, -50%, -50%);
  }

  &.popmark-rt::before {
    top: calc(0% + #{$popmark-extra-offset});
    left: 100%;
    @include rotate-translate-2d(45deg, -50%, -50%);
  }

  &.popmark-rb::before {
    top: calc(100% - #{$popmark-extra-offset});
    left: 100%;
    @include rotate-translate-2d(45deg, -50%, -50%);
  }

  &.popmark-l::before {
    left: 0;
    top: 50%;
    @include rotate-translate-2d(-135deg, -50%, -50%);
  }

  &.popmark-lt::before {
    left: 0;
    top: calc(0% + #{$popmark-extra-offset});
    @include rotate-translate-2d(-135deg, -50%, -50%);
  }

  &.popmark-lb::before {
    left: 0;
    top: calc(100% - #{$popmark-extra-offset});
    @include rotate-translate-2d(-135deg, -50%, -50%);
  }
}