@import "../colors.scss";
@import "../mixins.scss";

$popover-background-color: $white;
$popover-shadow-color: $light-gray;
$popover-border-color: $light-gray;
$popover-radius: 0.4rem;
$popover-padding: 1.2rem;
$popover-extra-offset: 1rem;

div.popover {
  position: absolute;
  bottom: 100%;
  left: 0;
  @include translate-2d(0%, calc(0% - #{$popover-extra-offset}));
  background-color: $popover-background-color;
  border: 0.1rem solid $popover-border-color;
  border-radius: $popover-radius;
  padding: $popover-padding;
  width: 16rem;
  box-shadow: 0.1rem 0.1rem 0.1rem $popover-shadow-color;

  &.size-small {
    width: 12rem;
  }

  &.size-medium {
    width: 25rem;
  }

  &.size-large {
    width: 36rem;
  }

  &.align-center {
    left: 50%;
    @include translate-2d(-50%, calc(0% - #{$popover-extra-offset}));
  }

  &.align-right {
    left: 100%;
    @include translate-2d(-100%, calc(0% - #{$popover-extra-offset}));
  }

  &.on-bottom {
    bottom: 0;
    @include translate-2d(0%, calc(100% + #{$popover-extra-offset}));

    &.align-center {
      left: 50%;
      @include translate-2d(-50%, calc(100% + #{$popover-extra-offset}));
    }

    &.align-right {
      left: 100%;
      @include translate-2d(-100%, calc(100% + #{$popover-extra-offset}));
    }
  }

  &.on-left {
    bottom: initial;
    top: 0;
    @include translate-2d(calc(-100% - #{$popover-extra-offset}), 0%);

    &.align-center {
      top: 50%;
      left: 0;
      @include translate-2d(calc(-100% - #{$popover-extra-offset}), -50%);
    }

    &.align-bottom {
      top: initial;
      bottom: 0;
    }
  }

  &.on-right {
    bottom: initial;
    top: 0;
    left: 100%;
    @include translate-2d(calc(0% + #{$popover-extra-offset}), 0%);

    &.align-center {
      top: 50%;
      @include translate-2d(calc(0% + #{$popover-extra-offset}), -50%);
    }

    &.align-bottom {
      top: initial;
      bottom: 0;
    }
  }

  &.width-auto {
    width: auto;
    white-space: nowrap;
  }

  &.theme-dark {
    color: $white-gray;
    border-color: $light-gray;
    background-color: $medium-black;
  }
}