@import "../base/colors.scss";

$popover-color: $black;
$popover-background-color: $white;
$popover-shadow-color: $medium-white;
$popover-border-color: $light-gray;
$popover-radius: 0.4rem;
$popover-padding: 1.2rem;
$popover-extra-offset: 1rem;

div.popover {
  position: absolute;
  bottom: 100%;
  z-index: 25;
  color: $popover-color;
  transform: translate(0%, calc(0% - #{$popover-extra-offset}));
  background-color: $popover-background-color;
  border: 0.1rem solid $popover-border-color;
  border-radius: $popover-radius;
  padding: $popover-padding;
  width: 20rem;
  box-shadow: 0.1rem 0.1rem 0.1rem $popover-shadow-color;

  &.size-1 {
    width: 30rem;
  }

  &.size-2 {
    width: 40rem;
  }

  &.size-3 {
    width: 50rem;
  }

  &.align-center {
    left: 50%;
    transform: translate(-50%, calc(0% - #{$popover-extra-offset}));
  }

  &.align-right {
    left: 100%;
    transform: translate(-100%, calc(0% - #{$popover-extra-offset}));
  }

  &.on-bottom {
    bottom: 0;
    transform: translate(0%, calc(100% + #{$popover-extra-offset}));

    &.align-center {
      left: 50%;
      transform: translate(-50%, calc(100% + #{$popover-extra-offset}));
    }

    &.align-right {
      left: 100%;
      transform: translate(-100%, calc(100% + #{$popover-extra-offset}));
    }
  }

  &.on-left {
    bottom: initial;
    top: 0;
    transform: translate(calc(-100% - #{$popover-extra-offset}), 0%);

    &.align-center {
      top: 50%;
      left: 0;
      transform: translate(calc(-100% - #{$popover-extra-offset}), -50%);
    }

    &.align-bottom {
      top: initial;
      bottom: 0;
    }
  }

  &.on-right {
    bottom: initial;
    top: 0;
    left: 100%;
    transform: translate(calc(0% + #{$popover-extra-offset}), 0%);

    &.align-center {
      top: 50%;
      transform: translate(calc(0% + #{$popover-extra-offset}), -50%);
    }

    &.align-bottom {
      top: initial;
      bottom: 0;
    }
  }
}