$stamp-bar-margin: 0rem 0.6rem 0.6rem 0rem;
$stamp-bar-inner-stamp-padding: 0.25em 0.375em;
$stamp-bar-only-stamp-radius: 0.1875em;

div.stamp-bar {
  font-size: 1.6rem;
  display: inline-block;
  margin: $stamp-bar-margin;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  span.stamp {
    font-size: inherit;
    padding: $stamp-bar-inner-stamp-padding;
    float: left;
    margin: 0;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:only-child {
      border-radius: $stamp-bar-only-stamp-radius;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &.has-close {
      position: relative;
      padding: 0;
      height: 1.5em;
      width: 1.875em;

      button.close {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}