@import "../base/colors.scss";

$stamp-padding: 0em 0.375em 0.125em 0.375em;
$stamp-has-link-padding: 0.125em 0.375em;
$stamp-margin: 0em 0.125em;
$stamp-radius: 0.1875em;

span.stamp {
  font-size: 1em;
  padding: $stamp-padding;
  margin: $stamp-margin;
  border-radius: $stamp-radius;
  line-height: 1;
  background-color: $medium-gray;
  color: $white;

  &.round {
    border-radius: 1em;
  }

  &.has-link {
    padding: $stamp-has-link-padding;
  }

  &.has-link:hover {
    background-color: $light-gray;
  }

  a.stamp-a {
    color: inherit;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline !important;  
    }
  }

  &.theme-primary {
    background-color: $medium-blue;

    &.has-link:hover {
      background-color: $light-blue;
    }
  }

  &.theme-info {
    background-color: $medium-green;

    &.has-link:hover {
      background-color: $light-green;
    }
  }

  &.theme-caution {
    background-color: $medium-yellow;
    color: $dark-yellow;

    &.has-link:hover {
      background-color: $light-yellow;
    }
  }

  &.theme-danger {
    background-color: $medium-red;

    &.has-link:hover {
      background-color: $light-red;
    }
  }

  &.theme-light {
    background-color: $medium-white;
    color: $light-black;

    &.has-link:hover {
      background-color: $light-white;
    }
  }

  &.theme-dark {
    background-color: $medium-black;

    &.has-link:hover {
      background-color: $light-black;
    }
  }
}