@import "../base/colors.scss";

$table-caption-padding: 0.5em 0em;
$table-td-th-padding: 0.75em;
$table-slim-padding: 0.375em;
$table-border-color: $medium-gray;
$table-stripe-background-color: $table-striped;
$table-row-hover-color: $dark-white;

table.table {
  width: 100%;

  caption {
    padding: $table-caption-padding;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  td, th {
    padding: $table-td-th-padding;
    vertical-align: middle;
  }

  &.slim th, &.slim td {
    padding: $table-slim-padding;
  }

  &.border-all th, &.border-all td {
    border: 0.1rem solid $table-border-color;
  }

  thead.striped-odd tr:nth-child(odd), 
  thead.striped-even tr:nth-child(even),
  tbody.striped-odd tr:nth-child(odd),
  tbody.striped-even tr:nth-child(even), 
  tfoot.striped-odd tr:nth-child(odd),
  tfoot.striped-even tr:nth-child(even)  {
    background-color: $table-stripe-background-color;
  }

  thead.border-rows tr, tbody.border-rows tr, 
  tfoot.border-rows tr:not(:last-of-type), 
  tr.border-row {
    border-bottom: 0.1rem solid $table-border-color;
  }

  thead.row-hover tr:hover, tbody.row-hover tr:hover, 
  tfoot.row-hover tr:hover,  {
    background-color: $table-row-hover-color !important;
  }

  thead.row-hover tr.theme-primary:hover, 
  tbody.row-hover tr.theme-primary:hover,
  tfoot.row-hover tr.theme-primary:hover {
    background-color: $light-blue !important;
  }

  thead.row-hover tr.theme-info:hover, 
  tbody.row-hover tr.theme-info:hover,
  tfoot.row-hover tr.theme-info:hover {
    background-color: $light-green !important;
  }

  thead.row-hover tr.theme-caution:hover, 
  tbody.row-hover tr.theme-caution:hover,
  tfoot.row-hover tr.theme-caution:hover {
    background-color: $light-yellow !important;
  }

  thead.row-hover tr.theme-danger:hover, 
  tbody.row-hover tr.theme-danger:hover,
  tfoot.row-hover tr.theme-danger:hover {
    background-color: $light-red !important;
  }

  thead.row-hover tr.theme-dark:hover, 
  tbody.row-hover tr.theme-dark:hover,
  tfoot.row-hover tr.theme-dark:hover {
    background-color: $light-black !important;
  }

  th a.table-a, td a.table-a {
    color: inherit;
    text-decoration: underline;

    &:hover, &:focus {
      color: $link-unvisited;
    }
  }

  tr {
    background-color: $white;
  }

  tr.theme-primary {
    color: $white-blue;
    background-color: $medium-blue !important;
  }

  tr.theme-info {
    color: $white-green;
    background-color: $medium-green !important;
  }

  tr.theme-caution {
    color: $dark-yellow;
    background-color: $medium-yellow !important;
  }

  tr.theme-danger {
    color: $white-red;
    background-color: $medium-red !important;
  }

  tr.theme-dark {
    color: $white;
    background-color: $medium-black !important;

    a.table-a:hover, a.table-a:focus {
      color: $dark-white;
    }
  }

}