@import "../base/colors.scss";

$table-item-padding: 0.75em;
$table-less-padding: 0.5em;
$table-border-color: $medium-white;
$table-row-hover-color: $alpha-dark-gray;

// NEW
table.table {
  font-size: 1.6rem;
  width: 100%;
  text-align: left;

  th, td {
    padding: $table-item-padding;
  }

  th {
    font-weight: bold;
  }

  &.thin th, &.thin td {
    padding: $table-less-padding;
  }

  &.striped-odd tbody tr:nth-child(odd), &.striped-even tbody tr:nth-child(even) {
    background-color: $alpha-gray;
  }

  &.border-all td, &.border-all th {
    border: 0.1rem solid $table-border-color;
  }

  &.border-bottoms tr:not(:last-child) {
    border-bottom: 0.1rem solid $table-border-color;
  }

  &.row-hover tbody tr:hover, &.row-hover.striped-odd tbody tr:hover, &.row-hover.striped-even tbody tr:hover {
    background-color: $table-row-hover-color;
  }
}
// END NEW












