@import "../base/global-variables.scss";
@import "../base/mixins.scss";
@import "../base/colors.scss";

$tab-text-color: $alpha-light-black;
$tab-a-x-padding: 1em;
$tab-a-y-padding: 0.5em;
$tab-a-border-radius: 0.125em;
$tab-a-hover-background-color: $light-primary;

$tabs-vertical-a-padding: 0.25em;
$tabs-vertical-nested-margin-left: 1em;

// ul
.tabs:not(.vertical), .tabs.vertical {
    // li
    .tab .tab-a {
        display: block;
        color: $tab-text-color;
        text-decoration: none;
        border: 0.1rem solid transparent;

        &:focus {
            outline: none;
        }
    }
}

// ul
.tabs:not(.vertical) {
    font-size: 1.6rem;

    // li
    .tab {
        display: inline-block;

        &.is-active .tab-a, .tab-a:hover, .tab-a:focus {
            color: $alpha-black;
        }
    }

    // li
    .tab-item, .tab-a {
        padding: $tab-a-y-padding $tab-a-x-padding;
    }

    &.underline .tab {
        &.is-active .tab-a, .tab-a:hover, .tab-a:focus {
            text-decoration: underline;
        }
    }

    &.border-bottom .tab {
        &.is-active .tab-a, .tab-a:hover, .tab-a:focus {
            border-bottom: 0.1rem solid $tab-a-hover-background-color;
        }
    }

    &.solid {
        &.r-0 .tab .tab-a {
            border-radius: 0;
        }

        &.r-round .tab .tab-a {
            border-radius: $RADIUS_ROUND;
        }

        .tab {
            &.is-active .tab-a, .tab-a:hover, .tab-a:focus {
                background-color: $tab-a-hover-background-color;
                color: $alpha-white;
            }

            .tab-a {
                border-radius: $tab-a-border-radius;
            }
        }
    }

    &.borders {
        border-bottom: 0.1rem solid $BORDER_COLOR;

        .tab {
            &:not(:last-child) {
                margin-right: -0.1rem;
            }

            margin-bottom: -0.1rem;

            &.is-active .tab-a {
                border: 0.1rem solid $BORDER_ACTIVE_COLOR;
                border-bottom: 0.1rem solid $white;
            }

            .tab-a {
                border-radius: $tab-a-border-radius;
                border-radius: $tab-a-border-radius $tab-a-border-radius 0em 0em;

                &:hover, &:focus {
                    border: 0.1rem solid $BORDER_COLOR;
                    border-bottom: 0.1rem solid $white;
                }
            }
        }
    }
}

// ul
.tabs.vertical {
    font-size: 1.6rem;

    // ul
    .tabs.vertical {
        font-size: inherit;
    }

    // li
    .tab {
        &.is-active > .tab-a, .tab-a:hover, .tab-a:focus {
            color: $alpha-black;
        }
    }

    .tab-item, .tab-a {
        padding: $tabs-vertical-a-padding;

    }

    &.indent-nested .tab .tabs.vertical {
        margin-left: $tabs-vertical-nested-margin-left;
    }

    &.underline .tab {
        &.is-active > .tab-a, .tab-a:hover, .tab-a:focus {
            text-decoration: underline;
        }
    }

    &.border-left .tab {
        &.is-active > .tab-a, .tab-a:hover, .tab-a:focus {
            border-left: 0.1rem solid $tab-a-hover-background-color;
        }
    }

    &.solid .tab {
        .tab-a {
            border-radius: $tab-a-border-radius;
        }
        
        &.is-active > .tab-a, .tab-a:hover, .tab-a:focus {
            background-color: $tab-a-hover-background-color;
            color: $alpha-white;
        }
    }
}



