@import "../base/global-variables.scss";
@import "../base/mixins.scss";
@import "../base/colors.scss";

$tab-text-color: $alpha-light-black;
$tab-a-x-padding: 1em;
$tab-a-y-padding: 0.5em;
$tab-a-border-radius: 0.125em;
$tab-a-hover-background-color: $light-primary;

$tabs-vertical-a-padding: 0.25em;
$tabs-vertical-nested-margin-left: 1em;

ul.tabs:not(.vertical), ul.tabs.vertical {
    li.tab a.tab-a {
        display: block;
        color: $tab-text-color;
        text-decoration: none;
        border: 0.1rem solid transparent;

        &:focus {
            outline: none;
        }
    }
}

ul.tabs:not(.vertical) {
    font-size: 1.6rem;

    li.tab {
        display: inline-block;

        &.active a.tab-a, a.tab-a:hover, a.tab-a:focus {
            color: $alpha-black;
        }

        a.tab-a {
            padding: $tab-a-y-padding $tab-a-x-padding;
        }
    }

    li.tab-item {
        padding: $tab-a-y-padding $tab-a-x-padding;
    }

    &.underline li.tab {
        &.active a.tab-a, a.tab-a:hover, a.tab-a:focus {
            text-decoration: underline;
        }
    }

    &.border-bottom li.tab {
        &.active a.tab-a, a.tab-a:hover, a.tab-a:focus {
            border-bottom: 0.1rem solid $tab-a-hover-background-color;
        }
    }

    &.solid {
        &.r-0 li.tab a.tab-a {
            border-radius: 0;
        }

        &.r-round li.tab a.tab-a {
            border-radius: $RADIUS_ROUND;
        }

        li.tab {
            &.active a.tab-a, a.tab-a:hover, a.tab-a:focus {
                background-color: $tab-a-hover-background-color;
                color: $alpha-white;
            }

            a.tab-a {
                border-radius: $tab-a-border-radius;
            }
        }
    }

    &.borders {
        border-bottom: 0.1rem solid $BORDER_COLOR;

        li.tab {
            &:not(:last-child) {
                margin-right: -0.1rem;
            }

            margin-bottom: -0.1rem;

            &.active a.tab-a {
                border: 0.1rem solid $BORDER_ACTIVE_COLOR;
                border-bottom: 0.1rem solid $white;
            }

            a.tab-a {
                border-radius: $tab-a-border-radius;
                border-radius: $tab-a-border-radius $tab-a-border-radius 0em 0em;

                &:hover, &:focus {
                    border: 0.1rem solid $BORDER_COLOR;
                    border-bottom: 0.1rem solid $white;
                }
            }
        }
    }
}

ul.tabs.vertical {
    font-size: 1.6rem;

    ul.tabs.vertical {
        font-size: inherit;
    }

    li.tab {
        &.active > a.tab-a, a.tab-a:hover, a.tab-a:focus {
            color: $alpha-black;
        }

        a.tab-a {
            padding: $tabs-vertical-a-padding;
        }
    }

    li.tab-item {
        padding: $tabs-vertical-a-padding;

    }

    &.indent-nested li.tab ul.tabs.vertical {
        margin-left: $tabs-vertical-nested-margin-left;
    }

    &.underline li.tab {
        &.active > a.tab-a, a.tab-a:hover, a.tab-a:focus {
            text-decoration: underline;
        }
    }

    &.border-left li.tab {
        &.active > a.tab-a, a.tab-a:hover, a.tab-a:focus {
            border-left: 0.1rem solid $tab-a-hover-background-color;
        }
    }

    &.solid li.tab {
        a.tab-a {
            border-radius: $tab-a-border-radius;
        }
        
        &.active > a.tab-a, a.tab-a:hover, a.tab-a:focus {
            background-color: $tab-a-hover-background-color;
            color: $alpha-white;
        }
    }

}


