@import "../base/colors.scss";

$trail-color: $alpha-light-black;
$trail-hover-color: $alpha-black;
$trail-separator-x-spacing: 0.25em;

ul.trail {
    font-size: 1.6rem;

    li.step {
        display: inline-block;
        color: $trail-color;

        a.step-a {
            text-decoration: none;
            color: inherit;

            &:hover, &:focus {
                outline: none;
                color: $trail-hover-color;
            }
        }

        &:last-child a.step-a {
            color: $light-primary;
        }

        &:not(:last-child)::after {
            content: '/';
            margin: 0rem $trail-separator-x-spacing;
        }
    }
}