$ul-ol-line-height: 1.5;
$ul-ol-indentation: 0.875em;
$ul-ol-margin-bottom: 0.6rem;

ul.ul, ol.ol {
  font-size: 1.6rem;
  line-height: $ul-ol-line-height;
  margin-bottom: $ul-ol-margin-bottom;
}

ul.ul {
  &.square {
    list-style: square inside;
  }

  &.circle-solid {
    list-style: disc inside;
  }

  &.circle-hollow {
    list-style: circle inside;
  }
}

ol.ol {
  &.numbers {
    list-style: decimal inside;
  }

  &.alpha-lower {
    list-style: lower-alpha inside;
  }

  &.alpha-upper {
    list-style: upper-alpha inside;
  }

  &.roman-lower {
    list-style: lower-roman inside;
  }

  &.roman-upper {
    list-style: upper-roman inside;
  }
}

ul.ul ul.ul, ul.ul ol.ol, 
ol.ol ol.ol, ol.ol ul.ul {
  font-size: inherit;
  margin-left: $ul-ol-indentation;
  margin-bottom: 0;
}