.popmark::before {
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: rotate(135deg) translate(-50%, -50%);
  -moz-transform: rotate(135deg) translate(-50%, -50%);
  -o-transform: rotate(135deg) translate(-50%, -50%);
  -ms-transform: rotate(135deg) translate(-50%, -50%);
  transform: rotate(135deg) translate(-50%, -50%);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  content: '';
  width: 1rem;
  height: 1rem;
  border-top: 0.1rem solid;
  border-right: 0.1rem solid;
  border-color: inherit;
  background-color: inherit; }
.popmark.popmark-bl::before {
  left: calc(0% + 0.8rem); }
.popmark.popmark-br::before {
  left: calc(100% - 0.8rem); }
.popmark.popmark-t::before {
  top: 0;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  -o-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%); }
.popmark.popmark-tl::before {
  top: 0;
  left: 0.8rem;
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  -o-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%); }
.popmark.popmark-tr::before {
  top: 0;
  left: calc(100% - 0.8rem);
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-45deg) translate(-50%, -50%);
  -o-transform: rotate(-45deg) translate(-50%, -50%);
  -ms-transform: rotate(-45deg) translate(-50%, -50%);
  transform: rotate(-45deg) translate(-50%, -50%); }
.popmark.popmark-r::before {
  top: 50%;
  left: 100%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -moz-transform: rotate(45deg) translate(-50%, -50%);
  -o-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%); }
.popmark.popmark-rt::before {
  top: calc(0% + 0.8rem);
  left: 100%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -moz-transform: rotate(45deg) translate(-50%, -50%);
  -o-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%); }
.popmark.popmark-rb::before {
  top: calc(100% - 0.8rem);
  left: 100%;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  -moz-transform: rotate(45deg) translate(-50%, -50%);
  -o-transform: rotate(45deg) translate(-50%, -50%);
  -ms-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%); }
.popmark.popmark-l::before {
  left: 0;
  top: 50%;
  -webkit-transform: rotate(-135deg) translate(-50%, -50%);
  -moz-transform: rotate(-135deg) translate(-50%, -50%);
  -o-transform: rotate(-135deg) translate(-50%, -50%);
  -ms-transform: rotate(-135deg) translate(-50%, -50%);
  transform: rotate(-135deg) translate(-50%, -50%); }
.popmark.popmark-lt::before {
  left: 0;
  top: calc(0% + 0.8rem);
  -webkit-transform: rotate(-135deg) translate(-50%, -50%);
  -moz-transform: rotate(-135deg) translate(-50%, -50%);
  -o-transform: rotate(-135deg) translate(-50%, -50%);
  -ms-transform: rotate(-135deg) translate(-50%, -50%);
  transform: rotate(-135deg) translate(-50%, -50%); }
.popmark.popmark-lb::before {
  left: 0;
  top: calc(100% - 0.8rem);
  -webkit-transform: rotate(-135deg) translate(-50%, -50%);
  -moz-transform: rotate(-135deg) translate(-50%, -50%);
  -o-transform: rotate(-135deg) translate(-50%, -50%);
  -ms-transform: rotate(-135deg) translate(-50%, -50%);
  transform: rotate(-135deg) translate(-50%, -50%); }

/*# sourceMappingURL=popmark.css.map */
