// default
$white-gray: rgb(249, 249, 249);
$light-gray: rgb(216, 216, 216);
$medium-gray: rgb(191, 191, 191);
$dark-gray: rgb(147, 147, 147);

// primary
$white-blue: rgb(244, 250, 255);
$light-blue: rgb(84, 171, 247);
$medium-blue: rgb(62, 157, 239);
$dark-blue: rgb(40, 126, 201);

$light-blue-thin: rgba(104, 182, 249, 0.5);
$medium-blue-thick: rgba(62, 157, 239, 0.8);

// info
$white-green: rgb(246, 255, 244);
$light-green: rgb(98, 214, 72);
$medium-green: rgb(84, 196, 58);
$dark-green: rgb(63, 150, 42);

$light-green-thin: rgba(119, 216, 97, 0.5);

// caution
$white-yellow: rgb(252, 252, 239);
$light-yellow: rgb(244, 244, 73);
$medium-yellow: rgb(232, 232, 25);
$dark-yellow: rgb(111, 111, 16);

$medium-yellow-thin: rgba(232, 232, 25, 0.5);

// danger
$white-red: rgb(255, 248, 247);
$light-red: rgb(242, 85, 65);
$medium-red: rgb(229, 60, 39);
$dark-red: rgb(198, 44, 23);

$light-red-thin: rgba(242, 100, 82, 0.5);

// whites 
$white: rgb(255, 255, 255);
$light-white: rgb(245, 245, 245);
$medium-white: rgb(230, 230, 230);
$dark-white: rgb(215, 215, 215);

$light-white-thick: rgba(245, 245, 245, 0.9);
$dark-white-thin: rgba(215, 215, 215, 0.25);

// blacks
$white-black: rgb(122, 122, 122);
$light-black: rgb(99, 99, 99);
$medium-black: rgb(76, 76, 76);
$black: rgb(52, 52, 52);

$black-thick: rgba(30, 30, 33, 0.8);
$light-black-thick: rgba(99, 99, 99, 0.6);

// links
$link-unvisited: rgb(39, 113, 209);
$link-hover: rgb(8, 80, 175);
$link-visited: rgb(103, 71, 173);
$link-visited-hover: rgb(67, 39, 130);

// tables
$table-striped: rgb(240, 240, 240);

// ROYGBIV
$orange: rgb(247, 169, 45);
$yellow: rgb(234, 231, 24);
$indigo: rgb(143, 79, 195);
$violet: rgb(212, 111, 210);







