// default
$white-gray: rgb(249, 249, 249);
$light-gray: rgb(216, 216, 216);
$medium-gray: rgb(201, 201, 201);
$dark-gray: rgb(147, 147, 147);

// primary
$white-blue: rgb(244, 250, 255);
$light-blue: rgb(84, 171, 247);
$medium-blue: rgb(62, 157, 239);
$dark-blue: rgb(40, 126, 201);

// info
$white-green: rgb(246, 255, 244);
$light-green: rgb(98, 214, 72);
$medium-green: rgb(84, 196, 58);
$dark-green: rgb(63, 150, 42);

// caution
$white-yellow: rgb(252, 252, 239);
$light-yellow: rgb(244, 244, 73);
$medium-yellow: rgb(232, 232, 25);
$dark-yellow: rgb(111, 111, 16);

// danger
$white-red: rgb(255, 248, 247);
$light-red: rgb(242, 85, 65);
$medium-red: rgb(229, 60, 39);
$dark-red: rgb(198, 44, 23);

// whites 
$white: rgb(255, 255, 255);
$light-white: rgb(245, 245, 245);
$medium-white: rgb(230, 230, 230);
$dark-white: rgb(215, 215, 215);

// blacks
$white-black: rgb(122, 122, 122);
$light-black: rgb(99, 99, 99);
$medium-black: rgb(76, 76, 76);
$black: rgb(52, 52, 52);

// alpha colors
$alpha-black: rgba(0, 0, 0, 0.8);
$alpha-light-black: rgba(0, 0, 0, 0.3);
$alpha-dark-white: rgba(255, 255, 255, 0.5);
$alpha-white: rgba(255, 255, 255, 0.9);
$alpha-gray: rgba(144, 144, 144, 0.1);
$alpha-dark-gray: rgba(144, 144, 144, 0.2);

// alpha theme colors
$alpha-theme-value: 0.5;
$alpha-light-blue: rgba(84, 171, 247, $alpha-theme-value);
$alpha-light-green: rgba(98, 214, 72, $alpha-theme-value);
$alpha-light-yellow: rgba(244, 244, 73, $alpha-theme-value);
$alpha-light-red: rgba(242, 85, 65, $alpha-theme-value);






