@import "./_colors.scss";

$G-border-color: $medium-white;
$G-border-active-color: $dark-white;

$G-grid-spacing: 1.2rem;
$G-radius-round: 200em;
$G-disabled-opacity: 0.5;
$G-button-border-radius: 0.1875em;