@import "./colors.scss";

$FONT_STACK: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$FONT_COLOR: $alpha-black;
$BORDER_COLOR: $medium-white;
$BORDER_ACTIVE_COLOR: $dark-white;
$GRID_SPACING: 1.2rem;
$RADIUS_ROUND: 200em;
$DISABLED_OPACITY: 0.5;
$BUTTON_BORDER_RADIUS: 0.1875em;