@mixin clearfix() {
  content: '';
  clear: both;
  display: block;
}

@mixin build-color($color) {
  border-color: $color;
  background-color: $color;
}

@mixin button-states($light-color, $dark-color) {
  &:hover {
    @include build-color($light-color);
  }

  &:active {
   @include build-color($dark-color);
  }

  &:focus:not([disabled]):not(.disabled) {
    border-color: $dark-color;
  }
}

@mixin button-outlined($text-color, $hover-text-color) {
  color: $text-color;

  &:hover {
    color: $hover-text-color;
  }
}

