@mixin clearfix() {
  content: '';
  clear: both;
  display: block;
}

@mixin slim-cancel($spacing) {
  margin: -1 * $spacing;

  div[class*="unit-"] {
    padding: $spacing;
  }
}

@mixin slim-responsive($spacing) {
  margin: -0.5 * $spacing;

  div[class*="unit-"] {
    padding: 0.5 * $spacing;
  }
}

@mixin border-background-color($color) {
  border-color: $color;
  background-color: $color;
}

@mixin button-default($light-color, $dark-color, $shadow-color) {
  &:hover {
    @include border-background-color($light-color);
  }

  &:active {
   @include border-background-color($dark-color);
  }

  &:focus:not(:hover):not(.disabled):not([disabled]) {
    box-shadow: 0 0 0 0.1875em $shadow-color;
  }
}

@mixin button-outlined($text-color, $hover-text-color, $active-text-color) {
  color: $text-color;

  &:hover {
    color: $hover-text-color;
  }

  &:active {
    color: $active-text-color;
  }
}

