@import "./colors.scss";

.a {
    cursor: pointer;
    text-decoration: none;
    color: $link-unvisited;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $link-visited;
    }
}