@import "./colors.scss";
@import "./breakpoint-values.scss";

// scale: 1.3333

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
 font-size: 2.1rem;
}

h4, p {
  font-size: 1.6rem;
}

h5, small {
  font-size: 1.2rem;
}

h6 {
  font-size: 0.9rem;
}

h1, h2, h3, h4, p, h5, h6, small {
  line-height: 1.5;
}

a.text-a {
    cursor: pointer;
    text-decoration: none;
    color: $link-unvisited;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $link-visited;
    }
}

// --- 

.huge-1 {
  font-size: 6.7rem !important;
}

.huge-2 {
  font-size: 5.1rem !important;
}

.h1 {
  font-size: 3.8rem !important;
}

.h2 {
  font-size: 2.8rem !important;
}

.h3 {
 font-size: 2.1rem !important;
}

.h4, .p {
  font-size: 1.6rem !important;
}

.p-alt {
  font-size: 1.4rem !important;
}

.h5 {
  font-size: 1.2rem !important;
}

.h6 {
  font-size: 0.9rem !important;
}

@media screen and (min-width: $sm-lower) and (max-width: $sm-upper) {
  .huge-1-sm {
    font-size: 6.7rem !important;
  }

  .huge-2-sm {
    font-size: 5.1rem !important;
  }

  .h1-sm {
    font-size: 3.8rem !important;
  }

  .h2-sm {
    font-size: 2.8rem !important;
  }

  .h3-sm {
   font-size: 2.1rem !important;
  }

  .h4-sm, .p-sm {
    font-size: 1.6rem !important;
  }

  .p-alt-sm {
    font-size: 1.4rem !important;
  }

  .h5-sm {
    font-size: 1.2rem !important;
  }

  .h6-sm {
    font-size: 0.9rem !important;
  }
}

@media screen and (min-width: $md-lower) and (max-width: $md-upper) {
  .huge-1-md {
    font-size: 6.7rem !important;
  }

  .huge-2-md {
    font-size: 5.1rem !important;
  }

  .h1-md {
    font-size: 3.8rem !important;
  }

  .h2-md {
    font-size: 2.8rem !important;
  }

  .h3-md {
   font-size: 2.1rem !important;
  }

  .h4-md, .p-md {
    font-size: 1.6rem !important;
  }

  .p-alt-md {
    font-size: 1.4rem !important;
  }

  .h5-md {
    font-size: 1.2rem !important;
  }

  .h6-md {
    font-size: 0.9rem !important;
  }
}

@media screen and (min-width: $lg-and-up) {
  .huge-1-lg {
    font-size: 6.7rem !important;
  }

  .huge-2-lg {
    font-size: 5.1rem !important;
  }

  .h1-lg {
    font-size: 3.8rem !important;
  }

  .h2-lg {
    font-size: 2.8rem !important;
  }

  .h3-lg {
   font-size: 2.1rem !important;
  }

  .h4-lg, .p-lg {
    font-size: 1.6rem !important;
  }

  .p-alt-lg {
    font-size: 1.4rem !important;
  }

  .h5-lg {
    font-size: 1.2rem !important;
  }

  .h6-lg {
    font-size: 0.9rem !important;
  }
}


















