/*
scale ratio : 1.3333
*/

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
 font-size: 2.1rem;
}

h4, p {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, p, h5, h6 {
  line-height: 1.5;
}

/* ====================================================== */

.huge-1 {
  font-size: 6.7rem !important;
}

.huge-2 {
  font-size: 5.1rem !important;
}

.h1 {
  font-size: 3.8rem !important;
}

.h2 {
  font-size: 2.8rem !important;
}

.h3 {
 font-size: 2.1rem !important;
}

.h4, .p {
  font-size: 1.6rem !important;
}

.p-alt {
  font-size: 1.4rem !important;
}

.h5 {
  font-size: 1.2rem !important;
}

.h6 {
  font-size: 1rem !important;
}

/* ====================================================== */

/* <= 420px */
@media screen and (max-width: 26.25rem) {
  .huge-1-small {
    font-size: 6.7rem !important;
  }

  .huge-2-small {
    font-size: 5.1rem !important;
  }

  .h1-small {
    font-size: 3.8rem !important;
  }

  .h2-small {
    font-size: 2.8rem !important;
  }

  .h3-small {
   font-size: 2.1rem !important;
  }

  .h4-small, .p-small {
    font-size: 1.6rem !important;
  }

  .p-alt-small {
    font-size: 1.4rem !important;
  }

  .h5-small {
    font-size: 1.2rem !important;
  }

  .h6-small {
    font-size: 1rem !important;
  }
}

/* ====================================================== */

/* >= 421px && <= 768px */
@media screen and (min-width: 26.3125rem) and (max-width: 48rem) {
  .huge-1-medium {
    font-size: 6.7rem !important;
  }

  .huge-2-medium {
    font-size: 5.1rem !important;
  }

  .h1-medium {
    font-size: 3.8rem !important;
  }

  .h2-medium {
    font-size: 2.8rem !important;
  }

  .h3-medium {
   font-size: 2.1rem !important;
  }

  .h4-medium, .p-medium {
    font-size: 1.6rem !important;
  }

  .p-alt-medium {
    font-size: 1.4rem !important;
  }

  .h5-medium {
    font-size: 1.2rem !important;
  }

  .h6-medium {
    font-size: 1rem !important;
  }
}

/* ====================================================== */

/* >= 769px */
@media screen and (min-width: 48.0625rem) {
  .huge-1-large {
    font-size: 6.7rem !important;
  }

  .huge-2-large {
    font-size: 5.1rem !important;
  }

  .h1-large {
    font-size: 3.8rem !important;
  }

  .h2-large {
    font-size: 2.8rem !important;
  }

  .h3-large {
   font-size: 2.1rem !important;
  }

  .h4-large, .p-large {
    font-size: 1.6rem !important;
  }

  .p-alt-large {
    font-size: 1.4rem !important;
  }

  .h5-large {
    font-size: 1.2rem !important;
  }

  .h6-large {
    font-size: 1rem !important;
  }
}


















