@import "./colors.scss";

a, abbr, address, area, article, aside, audio, b, 
base, bdi, bdo, blockquote, body, br, button, 
canvas, caption, cite, code, col, colgroup, datalist, 
dd, del, details, dfn, dialog, div, dl, dt, em, 
embed, fieldset, figcaption, figure, footer, form, 
h1, h2, h3, h4, h5, h6, header, hr, html, i, iframe, 
img, input, ins, kbd, label, legend, li, main, map, 
mark, menu, menuitem, meter, nav, noscript, object, ol, 
optgroup, option, output, p, param, picture, pre, progress, 
q, rp, rt, ruby, s, samp, section, select, small, span, 
strong, sub, summary, sup, table, tbody, td, textarea, 
tfoot, th, thead, time, tr, track, u, ul, var, video, wbr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 
omitted from above:
  head, link, meta, script, source, style, 
  title
*/

/* HTML5 block elements */
article, aside, audio, canvas, details, embed, figcaption, figure, 
footer, header, main, meter, nav, picture, ruby, section, 
summary, video {
  display: block;
}

/*HTML5 inline elements */
bdi, datalist, mark, output, progress, rp, rt, time, wbr {
  display: inline;
}

/* 
omitted from HTML5 elements:
  dialog, menuitem, source, track, 
*/

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  line-height: 1;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI", Tahoma, Roboto, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, 
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==================================== */

*, *::before, *::after {
  box-sizing: border-box;
}

/* ==================================== */
b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

hr {
  border-top: 0.1rem solid $dark-white;
}

/* ==================================== */

a.a {
  &:link {
    color: $link-unvisited;
    text-decoration: none;
  }

  &:hover:not(:visited) {
    color: $link-hover;
    outline: none;
    text-decoration: underline;
  }

  &:visited {
    color: $link-visited;

    &:hover {
      color: $link-visited-hover;
    }
  }
}

a.a:focus, a:focus {
  outline: none;
  text-decoration: underline;
}








