@import "./colors.scss";

.primary, .info, .danger, .dark {
  color: $alpha-white;
}

.caution, .light {
  color: $alpha-faint;
}

.primary {
  background-color: $medium-blue;
}

.info {
  background-color: $medium-green;
}

.caution {
  background-color: $medium-yellow;
}

.danger {
  background-color: $medium-red;
}

.light {
  background-color: $medium-white;
}

.dark {
  background-color: $medium-black;
}
