$control-padding: 0.375em 0.625em;
$control-margin: 0.8rem 0rem;
$control-radius: 0.1875em;
$control-border-color: $light-gray;
$control-hover-border-color: $medium-gray;
$control-font-family: sans-serif;
$control-color: $black;
$control-background-color: $white;
$control-focus-border-color: $medium-blue;
$control-focus-shadow-color: $light-blue-thin;
$control-focus-shadow-spread: 0.125em;