@import "../../colors.scss";
@import "./control-variables";

$label-checkbox-radio-padding: 0.375em 0em;
$label-checkbox-radio-margin-right: 0.625rem;

label.checkbox, label.radio {
  font-size: 1.6rem;
  color: $control-color;
  font-family: sans-serif;
  display: inline-block;
  padding: $label-checkbox-radio-padding;
  margin-right: $label-checkbox-radio-margin-right;

  input[type="checkbox"], input[type="radio"] {
    margin-right: 0.2rem;
    border-radius: 0.1875em;
  }
}