@import "../../colors.scss";
@import "./control-variables.scss";

$textarea-min-height: 10rem;
$textarea-max-height: 40rem;

input.textfield, textarea {
  font-size: 1.6rem;
  font-family: $control-font-family;
  line-height: 1;
  display: block;
  width: 100%;
  padding: $control-padding;
  border: 0.1rem solid $control-border-color;
  margin: $control-margin;
  border-radius: $control-radius;
  color: $control-color;
  background-color: $control-background-color;

  &:hover {
    border-color: $control-hover-border-color;
  }

  &:focus {
    outline: none;
    border-color: $control-focus-border-color;
    box-shadow: 0em 0em 0em $control-focus-shadow-spread $control-focus-shadow-color;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: $textarea-min-height;
  max-height: $textarea-max-height;

  &.no-resize {
    resize: none;
  }
}