@import "../base/colors.scss";

$addon-control-focus-shadow-spread: 0.125em;
$addon-control-focus-shadow-color: $light-blue-thin;
$addon-control-margin: 0rem 0rem 0.6rem 0rem;
$addon-padding: 0.375em 0.625em;
$addon-border-color: $light-gray;
$addon-background-color: $light-white;
$addon-color: $alpha-faint;

div.addons-wrapper {
  font-size: 1.6rem;
  display: flex;
  margin: $addon-control-margin;

  div.left-addon, div.right-addon {
    padding: $addon-padding;
    border: 0.1rem solid $addon-border-color;
    background-color: $addon-background-color;
    color: $addon-color;
    display: flex;
    align-items: center;

    &.has-button {
      padding: 0;
      border: none;

      .button {
        white-space: nowrap;
        font-size: inherit;
        margin: 0;
        height: 100%;
      }
    }
  }

  div.left-addon {
    border-right: none;
  }

  div.right-addon {
    border-left: none;
  }

  input, div.select, div.icons-wrapper {
    font-size: inherit;
    margin: 0;
    width: 100%;

    &:focus {
      box-shadow: 0em 0em 0em $addon-control-focus-shadow-spread $addon-control-focus-shadow-color inset;
    }
  }

  div.select select:focus {
    box-shadow: 0em 0em 0em $addon-control-focus-shadow-spread $addon-control-focus-shadow-color inset;
  }

  div.icons-wrapper input.textfield {
    height: 100%;
  }

}