@import "../colors.scss";

$addon-control-radius: 0.1875em;
$addon-control-focus-shadow-spread: 0.125em;
$addon-control-focus-shadow-color: $light-blue-thin;
$addon-control-margin: 0.8rem 0rem;
$addon-padding: 0.375em 0.625em;
$addon-border-color: $light-gray;
$addon-background-color: $light-white;
$addon-color: $white-black;

div.addons-wrapper {
  font-size: 1.6rem;
  display: flex;
  margin: $addon-control-margin;

  & > div:first-child,
  & > div:first-child input,  
  & > input:first-child {
    border-top-left-radius: $addon-control-radius;
    border-bottom-left-radius: $addon-control-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  & > div:last-child,
  & > div:last-child input,  
  & > input:last-child {
    border-top-right-radius: $addon-control-radius;
    border-bottom-right-radius: $addon-control-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  & > div:not(:first-child):not(:last-child), 
  & > div:not(:first-child):not(:last-child) input, 
  & > input:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  div.left-addon, div.right-addon {
    padding: $addon-padding;
    border: 0.1rem solid $addon-border-color;
    background-color: $addon-background-color;
    color: $addon-color;
    display: flex;
    align-items: center;

    &.has-button {
      padding: 0;
      border: none;

      .button {
        white-space: nowrap;
        font-size: inherit;
        border-radius: inherit;
        margin: 0;
        height: 100%;
      }
    }
  }

  div.left-addon {
    border-right: none;
  }

  div.right-addon {
    border-left: none;
  }

  input, div.select, div.icons-wrapper {
    font-size: inherit;
    margin: 0;
    width: 100%;

    &:focus, &.focused {
      box-shadow: 0em 0em 0em $addon-control-focus-shadow-spread $addon-control-focus-shadow-color inset;
    }
  }

  div.icons-wrapper input.textfield {
    height: 100%;
  }

}