@import "../colors.scss";

$control-padding: 0.375em 0.625em;
$control-margin: 0.8rem 0rem;
$control-radius: 0.1875em;
$control-border-color: $light-gray;
$control-hover-border-color: $medium-gray;
$control-font-family: sans-serif;
$control-color: $black;
$control-background-color: $white;
$control-focus-border-color: $medium-blue;
$control-focus-shadow-color: $light-blue-thin;
$control-focus-shadow-spread: 0.125em;
$textarea-min-height: 10rem;
$textarea-max-height: 40rem;
$label-checkbox-radio-padding: 0.375em 0em;
$label-checkbox-radio-margin-right: 0.625rem;

input.textfield, textarea.textarea {
  font-size: 1.6rem;
  font-family: $control-font-family;
  line-height: 1;
  display: block;
  width: 100%;
  padding: $control-padding;
  border: 0.1rem solid $control-border-color;
  border-radius: $control-radius;
  margin: $control-margin;
  color: $control-color;
  background-color: $control-background-color;

  &:hover {
    border-color: $control-hover-border-color;
  }

  &:focus {
    outline: none;
    border-color: $control-focus-border-color;
    box-shadow: 0em 0em 0em $control-focus-shadow-spread $control-focus-shadow-color;
  }
}

/* ==================================== */

// div.select {
//   font-size: 1.6rem;
//   height: 2em;
//   border: 0.1rem solid $control-border-color;
//   border-radius: $control-radius;
//   background-color: $control-background-color;
//   margin: $control-margin;

//   &:hover {
//     border-color: $control-hover-border-color;
//   }

//   &.size-small {
//     font-size: 1.2rem;
//     height: 2.5rem;
//   }

//   &.size-medium {
//     font-size: 2.1rem;
//     height: 4.175rem;
//   }

//   &.size-large {
//     font-size: 2.8rem;
//     height: 5.5rem;
//   }

//   &.focused {
//     border-color: $control-focus-border-color;
//     box-shadow: 0em 0em 0em $control-focus-shadow-spread $control-focus-shadow-color;
//     color: $control-color;

//     select {
//       outline: none;
//     }
//   }

//   select {
//     font-size: inherit;
//     font-family: $control-font-family;
//     line-height: 1;
//     display: block;
//     width: 100%;
//     height: 100%;
//     background-color: transparent;
//     color: $control-color;

//     &:focus {
//       outline: none;
//     }
//   }

//   &.multiple {
//     padding-left: 0.625em;
//     height: 9.2rem;

//     &.size-small {
//       height: 7rem;
//     }

//     &.size-medium {
//       height: 13rem;
//     }

//     &.size-large {
//       height: 16.6rem;
//     }
//   }
// }

$select-arrow-color: $light-black;

div.select {
  font-size: 1.6rem;
  position: relative;

  &:not(.multiple)::before {
    content: '';
    position: absolute;
    height: 1.875em;
    width: 2em;
    right: 0.1rem;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: $control-radius;
    background-color: $control-background-color;
    pointer-events: none;
  }

  &:not(.multiple)::after {
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    right: 0.75em;
    top: 50%;
    border-radius: 0.0625em;
    transform-origin: 25% 25%;
    transform: translate(0%, -50%) rotate(-45deg);
    background: linear-gradient(45deg, $select-arrow-color 50%, transparent 50%);
    pointer-events: none;

  }

  select {
    appearance: none;
    -webkit-appearance: none;
    font-size: inherit;
    line-height: 1.175;
    font-family: $control-font-family;
    color: $control-color;
    display: block;
    margin: $control-margin;
    padding: $control-padding;
    width: 100%;
    background: $control-background-color;
    border: 0.1rem solid $control-border-color;
    border-radius: $control-radius;

    &:focus {
      outline: none;
      border-color: $control-focus-border-color;
      box-shadow: 0em 0em 0em $control-focus-shadow-spread $control-focus-shadow-color;
    }
  }

}



/* ==================================== */

textarea.textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: $textarea-min-height;
  max-height: $textarea-max-height;

  &.no-resize {
    resize: none;
  }
}

/* ==================================== */

label.checkbox, label.radio {
  font-size: 1.6rem;
  color: $control-color;
  font-family: sans-serif;
  display: inline-block;
  padding: $label-checkbox-radio-padding;
  margin-right: $label-checkbox-radio-margin-right;

  input[type="checkbox"], input[type="radio"] {
    margin-right: 0.2rem;
    border-radius: 0.1875em;
  }
}