$controls-inline-margin: 0.6rem 0rem;
$controls-inline-input-margin-right: 0.9rem;
$controls-inline-checkbox-radio-margin-right: 0.2rem;

div.controls-inline {
  margin: $controls-inline-margin;

  input {
    margin: 0;
    display: inline;
    width: initial;
    margin-right: $controls-inline-input-margin-right;
  }

  label.checkbox, label.radio {
    input[type="checkbox"], input[type="radio"] {
      margin-right: $controls-inline-checkbox-radio-margin-right;
    }
  }
}