@import "../base/colors.scss";

// NEW
$control-color: $alpha-black;
$control-border-color: $medium-white;
$control-hover-border-color: $dark-white;
$control-background-color: $white;
$control-box-shadow-color: $alpha-light-blue;
$control-border-radius: 0.125em;

$control-textbox-height: 2.25em;
$control-textbox-padding: 0rem 1rem;

$control-textarea-min-height: 10rem;
$control-textarea-max-height: 40rem;
$control-textarea-padding: 1rem;
$control-textarea-line-height: 1.5;


input.textbox, select.textbox, textarea.textbox {
  font-size: 1.6rem;
  display: block;
  width: 100%;
  color: $control-color;
  background-color: $control-background-color;
  border: 0.1rem solid $control-border-color;
  border-radius: $control-border-radius;
  transition: all 125ms;

  &:hover {
    border-color: $control-hover-border-color;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 $control-border-radius $control-box-shadow-color;
  }

  &[readonly] {

  }

  &[disabled] {

  }

}

input.textbox, select.textbox {
  height: $control-textbox-height;
  padding: $control-textbox-padding;
}

textarea.textbox {
  min-width: 100%;
  max-width: 100%;
  min-height: $control-textarea-min-height;
  max-height: $control-textarea-max-height;
  padding: $control-textarea-padding;
  line-height: $control-textarea-line-height;

  &.no-resize {
    resize: none;
  }

}

// label.checkbox

// label.radio


// END NEW

// OLD
// $textarea-min-height: 10rem;
// $textarea-max-height: 40rem;

// input.textfield, textarea.textarea {
//   font-size: 1.6rem;
//   display: block;
//   width: 100%;
//   padding: $control-padding;
//   border: 0.1rem solid $control-border-color;
//   margin-bottom: $control-margin;
//   background-color: $control-background-color;

//   &:hover {
//     border-color: $control-hover-border-color;
//   }

//   &:focus {
//     outline: none;
//     border-color: $control-focus-border-color;
//     box-shadow: 0em 0em 0em $control-focus-shadow-spread $control-focus-shadow-color;
//   }
// }


/* ==================================== */



// div.select {
//   font-size: 1.6rem;
//   position: relative;
//   margin-bottom: $control-margin;

//   select {
//     font-size: inherit;
//     line-height: 1;
//     display: block;
//     padding: $control-padding;
//     width: 100%;
//     background: $control-background-color;
//     border: 0.1rem solid $control-border-color;
//     border-radius: 0;

//     &:hover {
//       border-color: $control-hover-border-color;
//     }

//     &:focus {
//       outline: none;
//       border-color: $control-focus-border-color;
//       box-shadow: 0em 0em 0em $control-focus-shadow-spread $control-focus-shadow-color;
//     }
//   }
// }


/* ==================================== */

// textarea.textarea {
//   min-width: 100%;
//   max-width: 100%;
//   min-height: $textarea-min-height;
//   max-height: $textarea-max-height;
//   line-height: 1.5;

//   &.no-resize {
//     resize: none;
//   }
// }

/* ==================================== */

// label.checkbox, label.radio {
//   font-size: 1.6rem;
//   display: inline-block;
//   padding: $control-padding;
//   padding-left: 0;
//   margin: $control-margin;

//   input[type="checkbox"], input[type="radio"] {
//     margin-right: 0.125em;
//   }
// }
// END OLD