div.container-controls {
  &::after {
    content: '';
    clear: both;
    display: block;
  }

  & > div[class*="small-"], & > div[class*="medium-"],
  & > div[class*="large-"], & > div[class*="default-"] {
    padding-top: 0rem;
    padding-bottom: 0rem;
   
    &:first-child {
      padding-left: 0;
    }
    
    &:last-child {
      padding-right: 0;
    }

  }
}