@import "../colors.scss";

$field-control-focus-shadow-spread: 0.125em;
$field-padding: 0.6rem;
$field-margin: 0.2rem 0rem;
$field-label-font-size: 1.4rem;
$field-help-font-size: 1.2rem;
$field-help-margin: 0.25em 0em;
$field-required-asterisk-color: $medium-red;

form div.field {
  font-size: 1.6rem;
  font-family: sans-serif;
  padding: $field-padding;
  margin: $field-margin;

  .label {
    font-size: $field-label-font-size;    
    font-weight: bold;
  }

  .help {
    font-size: $field-help-font-size;
    margin: $field-help-margin;
  }

  &.required .label::after {
    content: ' * ';
    color: $field-required-asterisk-color;
  }

  &.theme-primary {
    input:not([type="checkbox"]):not([type="radio"]), textarea {
      border-color: $medium-blue;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-blue-thin inset;
      }
    }

    div.select {
      border-color: $medium-blue;

      &.focused {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-blue-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-blue;
    }
  }

  &.theme-info {
    input:not([type="checkbox"]):not([type="radio"]), textarea {
      border-color: $medium-green;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-green-thin inset;
      }
    }

    div.select {
      border-color: $medium-green;

      &.focused {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-green-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-green;
    }
  }

  &.theme-caution {
    input:not([type="checkbox"]):not([type="radio"]), textarea {
      border-color: $medium-yellow;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $medium-yellow-thin inset;
      }
    }

    div.select {
      border-color: $medium-yellow;

      &.focused {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $medium-yellow-thin inset;
      }
    }

    .help {
      color: $dark-yellow;
    }

    label.checkbox, label.radio {
      color: $medium-yellow;
    }
  }

  &.theme-danger {
    input:not([type="checkbox"]):not([type="radio"]), textarea {
      border-color: $medium-red;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-red-thin inset;
      }
    }

    div.select {
      border-color: $medium-red;

      &.focused {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-red-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-red;
    }
  }
  
}