@import "../base/colors.scss";

$field-control-focus-shadow-spread: 0.125em;
$field-margin-bottom: 1.8rem;
$field-label-font-size: 1.6rem;
$field-label-margin-bottom: 0.4rem;
$field-help-font-size: 1.2rem;
$field-required-asterisk-color: $medium-red;

form.clearfix, div.field.container-field {
  & > div[class*="small-"], & > div[class*="medium-"],
  & > div[class*="large-"], & > div[class*="default-"] {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}

div.field {
  font-size: 1.6rem;
  margin-bottom: $field-margin-bottom;

  p.label {
    font-size: $field-label-font-size;
    margin-bottom: $field-label-margin-bottom;
  }

  p.help {
    font-size: $field-help-font-size;
  }

  &.required .label::after {
    content: ' * ';
    color: $field-required-asterisk-color;
  }

  &.theme-primary {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-blue;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-blue-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-blue;
    }
  }

  &.theme-info {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-green;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-green-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-green;
    }
  }

  &.theme-caution {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-yellow;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $medium-yellow-thin inset;
      }
    }

    .help {
      color: $dark-yellow;
    }

    label.checkbox, label.radio {
      color: $medium-yellow;
    }
  }

  &.theme-danger {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-red;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-red-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-red;
    }
  }
  
}