@import "../base/colors.scss";
@import "../base/mixins.scss";

$field-help-font-size: 1.2rem;
$field-label-spacing: 1rem;
$field-help-spacing: 0.5rem;
$field-input-shadow-spread: 0.125em;

$field-required-asterisk-color: $light-red;

div.field {
  &.horizontal {
    display: flex;
    align-items: baseline;

    label.checkbox:not(.switch), label.radio:not(.switch) {
      input[type="checkbox"], input[type="radio"] {
        height: initial;
      }
    }
  }

  label.label {
    font-size: 1.6rem;
    display: block;
    margin-bottom: $field-label-spacing;
  }

  &.required label.label::after {
    font-size: $field-help-font-size;
    content: ' * ';
    vertical-align: top;
    color: $field-required-asterisk-color;
  }  

  p.help {
    font-size: $field-help-font-size;
    margin-top: $field-help-spacing;
    margin-bottom: 0;
  }

  &.primary {
    @include field-theme($light-blue, $medium-blue, $field-input-shadow-spread, $alpha-light-blue);
  }

  &.info {
    @include field-theme($light-green, $medium-green, $field-input-shadow-spread, $alpha-light-green);
  }

  &.caution {
    @include field-theme($light-yellow, $medium-yellow, $field-input-shadow-spread, $alpha-light-yellow);
  }

  &.danger {
    @include field-theme($light-red, $medium-red, $field-input-shadow-spread, $alpha-light-red);
  }
}







