@import "../colors.scss";

$field-control-focus-shadow-spread: 0.125em;
$field-padding: 0.6rem;
$field-margin: 0.2rem 0rem;
$field-label-help-color: $black;
$field-label-font-size: 1.4rem;
$field-help-font-size: 1.2rem;
$field-font-family: sans-serif;
$field-help-margin: 0.25em 0em;
$field-required-asterisk-color: $medium-red;

div.field {
  font-size: 1.6rem;
  line-height: 1;
  font-family: $field-font-family;
  padding: $field-padding;
  margin: $field-margin;

  .label {
    color: $field-label-help-color;
    font-size: $field-label-font-size;    
    font-weight: bold;
  }

  .help {
    color: $field-label-help-color;
    font-size: $field-help-font-size;
    margin: $field-help-margin;
  }

  &.required .label::after {
    content: ' * ';
    color: $field-required-asterisk-color;
  }

  &.theme-primary {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-blue;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-blue-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-blue;
    }
  }

  &.theme-info {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-green;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-green-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-green;
    }
  }

  &.theme-caution {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-yellow;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $medium-yellow-thin inset;
      }
    }

    .help {
      color: $dark-yellow;
    }

    label.checkbox, label.radio {
      color: $medium-yellow;
    }
  }

  &.theme-danger {
    input.textfield, textarea.textarea, div.select select {
      border-color: $medium-red;

      &:focus {
        box-shadow: 0em 0em 0em $field-control-focus-shadow-spread $light-red-thin inset;
      }
    }

    .help, label.checkbox, label.radio {
      color: $medium-red;
    }
  }
  
}