@import "../base/colors.scss";

$icons-color: $alpha-light-black;
$icons-focus-color: $alpha-black;
$icons-spacing: 0.5em;
$icons-input-spacing: 2em;

div.icons {
  font-size: 1.6rem;
  position: relative;
  width: 100%;

  &.on-left input.textbox {
    padding-left: $icons-input-spacing;
  }

  &.on-right input.textbox {
    padding-right: $icons-input-spacing;
  }

  &.on-both input.textbox {
    padding-left: $icons-input-spacing;
    padding-right: $icons-input-spacing;
  }

  span.icon-left, span.icon-right {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    color: $icons-color;
  }

  span.icon-left {
    left: $icons-spacing;
  }

  span.icon-right {
    right: $icons-spacing;
  }

  input.textbox {
    font-size: inherit;

    &:focus ~ span.icon-left, &:focus ~ span.icon-right {
      color: $icons-focus-color;
    }
  }
}