@import "./colors.scss";

a {
    color: inherit;
    text-decoration: none;

    &:focus {
        outline: none;
    }
}

.a {
    cursor: pointer;
    color: $link-unvisited;

    &:hover, &:focus {
        outline: none;
        text-decoration: underline;
    }

    &:visited {
        color: $link-visited;
    }
}