@import "../base/colors.scss";
@import "../base/mixins.scss";

$button-padding: 0.375em 0.75em;
$border-radius: 0.1875em;
$button-min-width: 8.2rem;

a.button, button.button, input.button {
  font-size: 1.6rem;
  min-width: $button-min-width;
  display: inline-block;
  text-align: center;
  padding: $button-padding;
  border-width: 0.125em;
  border-style: solid;
  border-radius: $border-radius;

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none !important;
  }

  &.primary {
    @include button-states($light-blue, $dark-blue);
  }

  &.secondary {
    @include button-states($light-gray, $dark-gray);
  }

  &.info {
   @include button-states($light-green, $dark-green);
  }

  &.caution {
    @include button-states($light-yellow, $dark-yellow);
  }

  &.danger {
    @include button-states($light-red, $dark-red);
  }

  &.light {
    @include button-states($light-white, $dark-white);
  }

  &.dark {
    @include button-states($light-black, $black);
  }


}

/* ==================================== */

// a.button:link {
//   text-decoration: none;
// }

// .button.wide {
//   display: block;
//   width: 100%;
//   margin-left: 0 !important;
//   margin-right: 0 !important;
// }