@import "../base/mixins.scss";

$buttons-button-border-width: 0.0625em;
$buttons-button-round-radius: 2em;

div.buttons {
  font-size: 1.6rem;

  &::after {
    @include clearfix();
  }

  &.flex {
    display: flex !important;

    .button {
      width: 100%;
    }
  }

  &.round {
    .button:first-child {
      border-top-left-radius: $buttons-button-round-radius;
      border-bottom-left-radius: $buttons-button-round-radius;
    }

    .button:last-child {
      border-top-right-radius: $buttons-button-round-radius;
      border-bottom-right-radius: $buttons-button-round-radius;
    }
  }

  .button {
    font-size: inherit;
    float: left;

    &:not(:last-child) {
      margin-right: -1 * $buttons-button-border-width;
    }

    &:active, &:focus {
      position: relative;
      z-index: 10;
    }

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}