$buttons-bar-margin: 0.6rem;

div.buttons-bar {
  font-size: 1.6rem;
  margin-bottom: $buttons-bar-margin;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  &.flex {
    display: flex !important;

    .button {
      width: 100%;
    }
  }

  .button {
    font-size: inherit;
    float: left;
    margin: 0;
  }
}