div.buttons-bar {
  font-size: 1.6rem;
  padding: 0.6rem;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  &.flex .button {
    width: 100%;
  }

  .button {
    font-size: inherit;
    float: left;
    margin: 0;
  }

  & > .button:first-child {
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }

  & > .button:last-child {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
  }

  & > .button:not(:first-child):not(:last-child) {
    border-radius: 0em;
  }
}