@import "../base/colors.scss";
@import "../base/mixins.scss";

$button-padding: 0.375em 0.75em;
$button-border-width: 0.0625em;
$button-border-radius: 0.1875em;

a.button, button.button, input.button {
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  padding: $button-padding;
  border-width: $button-border-width;
  border-style: solid;
  border-radius: $button-border-radius;
  transition: all 125ms;

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none !important;
  }

  &.primary {
    @include button-states($light-blue, $dark-blue);
  }

  &.secondary {
    @include button-states($light-gray, $dark-gray);
  }

  &.info {
   @include button-states($light-green, $dark-green);
  }

  &.caution {
    @include button-states($light-yellow, $dark-yellow);
  }

  &.danger {
    @include button-states($light-red, $dark-red);
  }

  &.light {
    @include button-states($light-white, $dark-white);
  }

  &.dark {
    @include button-states($light-black, $black);
  }
}

/* ==================================== */

a.button:link {
  text-decoration: none;
}

.button[disabled], .button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button.wide {
  display: block;
  width: 100%;
}