$container-buttons-grid-column-padding: 0rem 0.6rem 0.6rem 0rem;
$container-buttons-negate-padding: 0.6rem;

div.container-buttons {
  font-size: 1.6rem;
  margin-right: -1 * $container-buttons-negate-padding;

  &.negate-bottom {
    margin-bottom: -1 * $container-buttons-negate-padding;
  }

  div[class*="default-"], div[class*="small-"], 
  div[class*="medium-"], div[class*="large-"] {
    padding: $container-buttons-grid-column-padding;

    .button {
      font-size: inherit;
      display: block;
      width: 100%;
      margin: 0;
    }
  }

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}