$grid-buttons-spacing: 0.6rem;

div.grid-buttons {
  font-size: 1.6rem;
  margin-right: -1 * $grid-buttons-spacing;

  &.negate-bottom {
    margin-bottom: -1 * $grid-buttons-spacing;
  }

  div[class*="unit-"]{
    padding: 0rem $grid-buttons-spacing $grid-buttons-spacing 0rem;
  }

  .button {
    font-size: inherit;
    display: block;
    width: 100%;
    margin: 0;
  }

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}