@import "../base/colors.scss";

.button.outlined {
  background-color: transparent !important;
  border: 0.1rem solid $medium-gray;

  &:hover {
    border-color: $light-gray;
  }

  &:active {
    border-color: $dark-gray;
    color: $alpha-faint;
  }

  &.primary {
    color: $medium-blue;
    border-color: $medium-blue;

    &:hover {
      border-color: $light-blue;
    }

    &:active {
      border-color: $dark-blue;
      color: $dark-blue;
    }
  }

  &.info {
    color: $medium-green;
    border-color: $medium-green;

    &:hover {
      border-color: $light-green;
    }

    &:active {
      border-color: $dark-green;
      color: $dark-green;
    }
  }

  &.caution {
    color: $dark-yellow;
    border-color: $medium-yellow;

    &:hover {
      border-color: $light-yellow;
    }

    &:active {
      border-color: $dark-yellow;
      color: $dark-yellow;
    }
  }

  &.danger {
    color: $medium-red;
    border-color: $medium-red;

    &:hover {
      border-color: $light-red;
    }

    &:active {
      border-color: $dark-red;
      color: $dark-red;
    }
  }

  &.light {
    color: $alpha-faint;
    border-color: $medium-white;

    &:hover {
      border-color: $light-white;
    }

    &:active {
      border-color: $medium-gray;
    }
  }

  &.dark {
    color: $alpha-faint;
    border-color: $medium-black;

    &:hover {
      border-color: $light-black;
    }

    &:active {
      border-color: $black;
      color: $alpha-black;
    }
  }
}